[rule "standardItsComments"]
	event-type = change-merged,change-abandoned,change-restored
	status = !,DRAFT
	is-draft = !,true
	association = subject,footer-Bug,footer-bug
	action = add-standard-comment

[rule "patchSetCreated"]
	event-type = patchset-created
	status = !,DRAFT
	is-draft = !,true
	association = added@subject,added@footer-Bug,added@footer-bug
	its-name = its-bugzilla
	action = add-standard-comment
	action = status PATCH_TO_REVIEW

[rule "changeDraftPublished"]
	event-type = draft-published
	association = subject,footer-Bug,footer-bug
	its-name = its-bugzilla
	action = add-velocity-comment DraftPublished
	action = status PATCH_TO_REVIEW
