cluster: kubernetes
profile::kubernetes::master::cluster_group: main
profile::kubernetes::master::allow_privileged: true
profile::kubernetes::master::accessible_to: all
profile::kubernetes::master::use_cergen: true
profile::kubernetes::master::service_cert: "kubemaster.svc.%{::site}.wmnet"
profile::kubernetes::master::ssl_cert_path: "/etc/ssl/localcerts/kubemaster.svc.%{::site}.wmnet.crt"
profile::kubernetes::master::ssl_key_path: "/etc/ssl/private/kubemaster.svc.%{::site}.wmnet.key"
profile::kubernetes::master::authz_mode: 'RBAC'
profile::kubernetes::master::service_account_private_key_file: "/etc/ssl/private/kubemaster.svc.%{::site}.wmnet.key"
profile::kubernetes::master::service_node_port_range: '1-65535'
# See "kube-apiserver --help" for a list of available admission plugins
# and details about which of them are enabled by default (e.g. need to be disabled here if you don't want them).
profile::kubernetes::master::admission_plugins:
  enable:
    - PodSecurityPolicy
  disable:
    - StorageObjectInUseProtection
    - PersistentVolumeClaimResize
# https://kubernetes.io/docs/reference/config-api/apiserver-config.v1alpha1/
profile::kubernetes::master::admission_configuration:
  - name: "ResourceQuota"
    configuration:
      apiVersion: resourcequota.admission.k8s.io/v1beta1
      kind: Configuration
      limitedResources:
      - resource: pods
        matchScopes:
        - scopeName: PriorityClass
          operator: In
          values:
            - system-cluster-critical
            - system-node-critical
profile::lvs::realserver::pools:
  kubemaster:
    services:
      - "kube-apiserver"
# Define in the private repo
# profile::kubernetes::master::controllermanager_token:
# profile::kubernetes::master::infrastructure_users:
profile::contacts::role_contacts: ['ServiceOps']

# Configuration to add the Kubelet to Master nodes for limited use cases
# (like running bird for Calico, see T285927)
# The nodes are also tainted to force kubernetes to consider these nodes not
# usable to schedule pods onto.
profile::kubernetes::node::kubelet_node_taints:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule
# Enable the IPv6DualStack feature gate for kubelet only, see I54a042731f60dc02494907022cb8115fae052c50
profile::kubernetes::node::kubelet_ipv6: true
profile::kubernetes::use_cni: true
# We use docker with overlayfs here
profile::base::overlayfs: true
profile::docker::engine::declare_service: true
profile::docker::engine::settings:
  bridge: none
  iptables: false
  ip-masq: false
  log-opts:
    max-size: 100m
  live-restore: true
profile::monitoring::nrpe_check_disk_options: -w 10% -c 5% -W 6% -K 3% -l -e -A -i '/(var/lib|run)/(docker|kubelet)/*' --exclude-type=tracefs
# Tokens for the calico kubernetes users in private repo at:
#profile::calico::kubernetes::calico_cni::token
#profile::calico::kubernetes::calicoctl::token
# Defined in the private repo
#profile::kubernetes::node::kubelet_token:
# Defined in the private repo
#profile::kubernetes::node::kubeproxy_token:
profile::rsyslog::kubernetes::enable: true
# Define in the private repo
# profile::rsyslog::kubernetes::token
profile::rsyslog::kubernetes::kubernetes_url: https://kubemaster.svc.%{::site}.wmnet:6443
profile::kubernetes::master_fqdn: "kubemaster.svc.%{::site}.wmnet"
