debdeploy::grains:
  debdeploy-kubernetes-eqiad:
    value: standard
cluster: kubernetes
profile::kubernetes::master::etcd_urls:
 - https://etcd1001.eqiad.wmnet:2379
 - https://etcd1002.eqiad.wmnet:2379
 - https://etcd1003.eqiad.wmnet:2379
profile::kubernetes::master::docker_registry: darmstadtium.eqiad.wmnet
profile::kubernetes::master::kubenodes:
 - kubernetes1001.eqiad.wmnet
 - kubernetes1002.eqiad.wmnet
 - kubernetes1003.eqiad.wmnet
 - kubernetes1004.eqiad.wmnet
profile::kubernetes::master::service_cluster_ip_range: 192.168.30.0/24
