cluster: kubernetes
profile::kubernetes::master::accessible_to: all
profile::kubernetes::master::apiserver_count: 2
profile::kubernetes::master::admission_controllers:
  NamespaceLifecycle: ''
  LimitRanger: ''
  ServiceAccount: "--service-account-key-file=/etc/ssl/private/kubemaster.svc.%{::site}.wmnet.key"
  DefaultStorageClass: ''
  DefaultTolerationSeconds: ''
  ResourceQuota: ''
profile::kubernetes::master::expose_puppet_certs: true
profile::kubernetes::master::service_cert: "kubemaster.svc.%{::site}.wmnet"
profile::kubernetes::master::ssl_cert_path: "/etc/ssl/localcerts/kubemaster.svc.%{::site}.wmnet.crt"
profile::kubernetes::master::ssl_key_path: "/etc/ssl/private/kubemaster.svc.%{::site}.wmnet.key"
profile::kubernetes::master::authz_mode: 'RBAC'
profile::kubernetes::master::service_account_private_key_file: "/etc/ssl/private/kubemaster.svc.%{::site}.wmnet.key"
profile::kubernetes::master::service_node_port_range: '1-65535'
# TODO: This needs to become a profile
role::lvs::realserver::pools:
  kubemaster: {}
