debdeploy::grains:
  debdeploy-kubernetes-eqiad:
    value: standard
cluster: kubernetes
profile::kubernetes::etcd_urls:
 - https://etcd1001.eqiad.wmnet:2739
 - https://etcd1002.eqiad.wmnet:2739
 - https://etcd1003.eqiad.wmnet:2739
profile::kubernetes::master::docker_registry: darmstadtium.eqiad.wmnet
