debdeploy::grains:
  debdeploy-kubernetes-eqiad:
    value: standard
cluster: kubernetes
profile::docker::storage::physical_volumes: "/dev/md2"
profile::docker::engine::version: "1.12.5-0~debian-jessie"
profile::docker::engine::proxy: "http://webproxy.%{::site}.wmnet:8080"
profile::kubernetes::master_host: 'argon.eqiad.wmnet'
profile::kubernetes::infra_pod: 'darmstadtium.eqiad.wmnet/pause'
profile::docker::engine::settings:
   iptables: false
   ip-masq: false
