[Unit]
Description=phabricator-phd
After=syslog.target network.target
Before=apache2.service
User=phd
Group=phd

[Service]
Type=oneshot
Environment="PATH=/sbin:/usr/sbin:/usr/local/sbin:/usr/local/bin:/usr/bin:/bin"
Environment="PHABRICATOR_ENV=wmf/phd"
ExecStart=/srv/phab/phabricator/bin/phd start
ExecStop=/srv/phab/phabricator/bin/phd stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
