define host{
    host_name                   toollabs
    alias                       ToolLabs
    address                     tools.wmflabs.org
    contact_groups              tools
    use                         generic-host
}

define service {
    service_description         ToolLabs Home Page
    host_name                   toollabs
    check_command               check_http_url_at_address_for_string!tools.wmflabs.org!/!Magnus
    use                         generic-service
}

# Check that no nodes have more than 50% iowait (warn) / 80% iowait (crit) for over 5 minutes
define service {
    check_command                  check_graphite_series_threshold!https://graphite-labs.wikimedia.org!10!$HOSTNOTES$.$HOSTNAME$.cpu.total.iowait!50!80!10min!1!--allow-undefined
    hostgroup_name                 role::labs::instance
    service_description            High iowait
    use                            generic-service
}