define host{
    host_name                   toolforge
    alias                       Toolforge
    address                     tools.wmflabs.org
    contact_groups              tools
    use                         generic-host
}

define service {
    service_description         Toolforge Home Page
    host_name                   toolforge
    check_command               check_https_url_at_address_for_string!tools.wmflabs.org!/!Magnus
    use                         generic-service
}

# Check that no nodes have more than 70% iowait (warn) / 90% iowait (crit) for over 60 minutes
define service {
    check_command                  check_graphite_series_threshold!https://graphite-labs.wikimedia.org!10!$HOSTNOTES$.$HOSTNAME$.cpu.total.iowait!70!90!60min!0min!1!--over
    hostgroup_name                 tools
    service_description            High iowait
    use                            generic-service
}

# Check for puppet failure events by aggregation in toolforge
define service {
        check_command                  check_graphite_threshold!https://graphite-labs.wikimedia.org!10!sumSeries(tools.tools-*.puppetagent.failed_events)!5!10!10min!0min!1
        host_name                      tools-checker-01
        service_description            Sum of Puppet errors
        use                            generic-service
}
# 'exim -bpc' to see queue length
define service {
    service_description         exim queue length
    host_name                   tools-mail
    check_command               check_graphite_threshold!https://graphite-labs.wikimedia.org!10!$HOSTNOTES$.$HOSTNAME$.exim.queue.length!600!1000!10min!0min!1!--over
    use                         generic-service
}
