# Configuration to create:
#  * Hardware RAID1 on 2.5 drives in flex bays mounted at /dev/sda
#  * 300M on /boot outside of LVM
#  * the rest formatted with LVM:
#  ** 30G /
#  ** 1G swap

d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-lvm/confirm	boolean	true
d-i	partman-lvm/confirm_nooverwrite	true

d-i	partman/confirm	boolean	true
d-i	partman/confirm_nooverwrite	true
d-i	partman/choose_partition	select	finish

d-i	partman-auto/expert_recipe	string	lvm ::	\
		40 300 300 ext4	\
			$primary{ }	\
			$bootable{ }	\
			method{ format }	\
			format{ }	\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ /boot }	\
		.	\
		30000 30000 30000 ext4	\
			$lvmok{ }	\
			method{ format }	\
			format{ }	\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ / }	\
		.	\
		1000 1000 1000 linux-swap	\
			method{ swap }	\
			$lvmok{ }	\
			format{ }	\
		.

d-i	partman-auto-lvm/guided_size	string	80%

d-i	partman-auto/choose_recipe	lvm

