# Automatic software RAID partitioning
#
# * 12 HDDs
#
# * layout:
#   - /:      30G ext4, RAID1 on sda1 and sdb1
#   - swap:   RAID1, 1GB on sda2 and sdb2
#   - /var:   ext4 LVM RAID10 on sda3, sdb3, and sdc1-sdl1

d-i	partman-auto/method		string	raid
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman/alignment 		select  optimal

d-i	partman-auto/disk	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd /dev/sde /dev/sdf /dev/sdg /dev/sdh /dev/sdi /dev/sdj /dev/sdk /dev/sdl
d-i	partman-auto/choose_recipe select raid1-root

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		raid1-root ::	\
			30000	1	30000	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			1000	2	1000	raid	\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			100000	3	-1	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			100000   4	-1  ext4		\
					$lvmok{ }		\
					$defaultignore{ }	\
					lv_name{ var }		\
					method{ format }	\
					format{ }		\
					use_filesystem{ }	\
					filesystem{ ext4 }	\
					mountpoint{ /var } 	\
			.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string		\
		1	2	0	ext4	/	\
			/dev/sda1#/dev/sdb1		\
		.					\
		1	2	0	swap	-	\
			/dev/sda2#/dev/sdb2		\
		.					\
		10	12	0	lvm	-	\
			/dev/sda3#/dev/sdb3#/dev/sdc1#/dev/sdd1#/dev/sde1#/dev/sdf1#/dev/sdg1#/dev/sdh1#/dev/sdi1#/dev/sdj1#/dev/sdk1#/dev/sdl1		\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true
d-i	partman-lvm/device_remove_lvm	boolean true
d-i	mdadm/boot_degraded		boolean	true
