# Automatic software RAID partitioning
#
# * 4 SSD, sda, sdb, sdc, sdd
# * layout:
#   - /:   ext4, RAID1
#   - swap:   RAID1, 1GB
#   - /srv/cassandra/instance-data: RAID10, 45GB
#   - /srv/sd<ID>: ext4, remaining space on sd<ID>


d-i	partman-auto/method		string	raid
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman/alignment 		select  optimal

d-i	partman-auto/disk	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd
d-i	grub-installer/bootdev		string	/dev/sda /dev/sdb /dev/sdc /dev/sdd
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian		boolean false

d-i	partman-auto/choose_recipe select raid1-root

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		raid1-root ::	\
			30000	1	30000	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			1000	2	1000	raid	\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			20000	3	20000	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			100000	4	-1	ext4		\
				$primary{ } method{ format }	\
				$lvmignore{ }			\
				format{ } \
				use_filesystem{ } \
				filesystem{ ext4 } \
				reserved_for_root{ 0 } \
			.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string		\
		1	4	0	ext4	/	\
			/dev/sda1#/dev/sdb1#/dev/sdc1#/dev/sdd1		\
		.					\
		1	4	0	swap	-	\
			/dev/sda2#/dev/sdb2#/dev/sdc2#/dev/sdd2		\
		.					\
		10	4	0	ext4	/srv/cassandra/instance-data	\
			/dev/sda3#/dev/sdb3#/dev/sdc3#/dev/sdd3		\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true
d-i	partman-basicfilesystems/no_mount_point	boolean	false

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true
d-i	partman-lvm/device_remove_lvm	boolean true
d-i	mdadm/boot_degraded		boolean	true
