# configuration to create:
#  * no RAID (either single disk or hardware raid presenting a single device)
#  ** 30G / ext4 outside lvm
#  ** ~100Gb /srv
#  ** All the remaining space in giant lvm, no mounts
#  ** no swap
#
#  This will prompt the user a couple of times during partition; accepting
#   all defaults seems to work.  Clicking 'return' a couple of times feels
#   like a better choice than fighting with partman for the rest of the day.


d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda /dev/sdb /dev/sdc

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-lvm/confirm	boolean	true
d-i	partman-lvm/confirm_nooverwrite	true

d-i	partman/confirm_nooverwrite	true
d-i	partman/choose_partition	select	finish

d-i	partman-auto/expert_recipe	string	es ::	\
		30000 20000 30000 ext4		\
			$primary{ }		\
			$bootable{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ / }		\
		.				\
		64 1000 100000 ext4		\
			$primary{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			lv_name{ data }		\
			$defaultignore{ }	\
			$lvmok{ }		\
			mountpoint{ /srv }	\
		.				\

d-i	partman-auto-lvm/guided_size	string	80%

d-i	partman-auto/choose_recipe	es
partman-basicfilesystems partman-basicfilesystems/no_swap boolean false
