# Configuration to create:
# Hardware RAID1 on 2 SFF drives in flex bays mounted at /dev/sda
# 1G on /boot outside of LVM
# LVM volume of 95% remainder of sda is /
# Hardware RAID10 on 12 LFF 4TB SATA disks mounted at /dev/sdb
# 95% of sdb allocated as /srv

# remove any LVM already on the disks
d-i	partman-lvm/device_remove_lvm	boolean	true

# We'll be creating LVMs and partitioning disks SDA and SDB
d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda /dev/sdb

# setup a /boot partition of 1GB outside of the LVM
d-i	partman-auto/expert_recipe	string	lvm ::	\
		1000 2000 1000 ext4	\
				$primary{ }		\
				$bootable{ }	\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				mountpoint{ /boot }	\
				device { /dev/sda }	\

		.	\
# setup the / filesystem within the LVM filling the 95% of the remaining space
		80000 1000 -1 ext4	\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ root }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ / }	\
				device { /dev/sda }	\
		.	\
# setup the SDB disk with a single LVM at 95% of the disk, and a mount in xfs for /srv
			100000 1000 -1 xfs		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ xfs }	\
				lv_name{ srv }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /var/lib/nova/instances }	\
				device { /dev/sdb }	\


		.

d-i	partman-auto-lvm/guided_size	string	95%
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true

partman-basicfilesystems partman-basicfilesystems/no_swap boolean false


