# configuration to create:
#  * no RAID (either single disk or hardware raid presenting a single device)
#  * 40G /
#  * 8G swap
#  * the rest formatted with LVM with 90% used
#  ** the rest as xfs on /srv
#  ** 10% empty space for later growth


d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	false
d-i	partman-lvm/confirm	boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean	true
d-i	partman/confirm	boolean	true

d-i	partman-auto/choose_recipe	es
