# Partman recipe for a host running docker
#
# * two disks, sda & sdb
# * layout:
#   - /	:   ext4, RAID1, 30GB
#   - swap: RAID1, 1GB
#   - free space for the rest under LVM
d-i	partman-auto/method		string	raid
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

# Use the first two disks
d-i	partman-auto/disk	string	/dev/sda /dev/sdb

# Don't stop if method isn't provided, e.g. in non used LVs
d-i     partman-basicmethods/method_only        boolean false
d-i 	partman-auto-lvm/new_vg_name 	string docker

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
		1	2	0	ext4	/	\
			/dev/sda1#/dev/sdb1		\
		.					\
		1	2	0	swap	-	\
			/dev/sda2#/dev/sdb2		\
		.					\
		1	2	0	lvm	-	\
			/dev/sda3#/dev/sdb3		\
		.

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		multiraid ::	\
			10000	20000	30000	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{}			\
				$bootable{}			\
			.					\
			1000	1000	1000	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{}			\
			.					\
			10000	1	-1	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{}			\
			.					\
			1000	2000	-1	ext4		\
				$defaultignore { } 		\
				$lvmok{} lv_name { _placeholder }	\
				method{ keep }			\
			.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true
d-i     partman-lvm/confirm             boolean true
d-i     partman-lvm/confirm_nooverwrite boolean true
