# configuration to create:
#  * software RAID5
#  * 500M on /boot outside of LVM
#  * LVM: 40G PV/VG named local containing:
#  ** 30G / LV
#  ** 8G swap Lv
#  * A HUGE swap on RAID. That's a trick to trick partman into creating
#  a second RAID1 device that will be not used but wil be manually destroyed
#  after installation. I could not make partman create an unused LVM PV on the
#  second RAID group

d-i	partman-auto/method	string raid
d-i	partman-auto/disk	string /dev/sda /dev/sdb /dev/sdc /dev/sdd
d-i	grub-installer/bootdev		string	/dev/sda /dev/sdb /dev/sdc /dev/sdd
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian		boolean false


# Do force a new label
d-i	partman/confirm_write_new_label	boolean	true

# wipe md RAID
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-md/confirm_nooverwrite  boolean true

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true

# Confirm partman-md
d-i	partman-md/confirm		boolean true
d-i	partman/confirm_nooverwrite	boolean true
d-i	partman/choose_partition	select finish

d-i 	partman-auto-lvm/new_vg_name 	string local
d-i	partman/confirm			boolean	true

# Define physical partitions
d-i	partman-auto/expert_recipe	string	ganeti :: \
		500	500	500	raid		\
			$primary{ }			\
			$bootable{ }			\
			$lvmignore{ }			\
			method{ raid }			\
		.					\
		40000	40000	40000	raid		\
			$primary{ }			\
			$lvmignore{ }			\
			method{ raid }			\
		.					\
		3000	1000000	-1	raid		\
			$primary{ }			\
			$lvmignore{ }			\
			method{ raid }			\
		.					\
		30000	30000	30000	ext4		\
			$lvmok{ }			\
			$defaultignore{ }		\
			method{ format }		\
			format{ }			\
			use_filesystem{ }		\
			lv_name{ root }			\
			in_vg{ local }			\
			filesystem{ ext4 }		\
			mountpoint{ / }			\
		.					\
		8000	8000	8000	linux-swap	\
			$lvmok{ }			\
			$defaultignore{ }		\
			method{ swap }			\
			lv_name{ swap }			\
			in_vg{ local }			\
			format{ }			\
		.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string				\
		1	4	0	ext4	/boot			\
			/dev/sda1#/dev/sdb1#/dev/sdc1#/dev/sdd1		\
		.							\
		1	4	0	lvm	-			\
			/dev/sda2#/dev/sdb2#/dev/sdc2#/dev/sdd2		\
		.							\
		1	4	0	swap	-			\
			/dev/sda3#/dev/sdb3#/dev/sdc3#/dev/sdd3		\
		.
d-i	partman-auto-lvm/guided_size	string 80%
