# use LVM and dm-cache to speed up read/write to spinning HDDs

# expected hardware:
# * /dev/sda: db-class hw-raid10 spinning disks 1.7TB
# * /dev/sdb: hw-raid raid1 SSD 256GB

# * layout:
#   - /boot: ext4 on ssd, no lvm
#   - two VGs: vg-data (PV: sda+sdb) and vg-sys (PV: sdb)
#   - swap: vg-sys 1GB
#   - /: vg-sys 30GB

d-i	partman-auto/method		string	lvm
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

# order is important, if not specified partitions get created on the first disk
d-i	partman-auto/disk	string	/dev/sdb /dev/sda

d-i	partman-auto/choose_recipe	lvm

# Define physical partitions
# regular partitions and partitions used in VGs first
# then LVs
d-i	partman-auto/expert_recipe	string	\
		lvm ::	\
		100 300 100 ext4			\
			$primary{ }		\
			$bootable{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ /boot }	\
			device{ /dev/sdb }	\
		.				\
		40000 40000 40000 ext4			\
			$defaultignore{ }		\
			$primary{ }		\
			method{ lvm }	\
			device{ /dev/sdb }	\
			vg_name{ vg-sys }	\
		.				\
		100000 300000 1000000000 ext4		\
			$primary{ }		\
			$defaultignore{ }		\
			method{ keep }	\
			device{ /dev/sdb }	\
		.				\
		500000 300 -1 ext4			\
			$defaultignore{ }		\
			$primary{ }		\
			method{ lvm }	\
			device{ /dev/sda }	\
			vg_name{ vg-data }	\
		.				\
		1000 1000 1000 linux-swap	\
			method{ swap }		\
			$lvmok{ }		\
			format{ }		\
			in_vg{ vg-sys }		\
			lv_name{ swap }		\
		.				\
		30000 30000 30000 ext4		\
			$lvmok{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ / } 	\
			in_vg{ vg-sys } 	\
			lv_name{ root } 	\
		.				\
		500000 500000 -1 ext4		\
			$lvmok{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ /var/lib/carbon } 	\
			in_vg{ vg-data } 	\
			lv_name{ graphite } 	\
			device{ /dev/sda } 	\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true

# do not prompt for 'no filesystem on partition'
d-i	partman-basicmethods/method_only	boolean false
