# Automatic software RAID 10 with LVM partitioning
#
# * four disks, sd[abcd]
# * layout:
#   - /:   ext4, RAID10, 50GB
#   - swap:       RAID10, 1GB, on LVM
#   - free space for the rest under RAID10/LVM

d-i	partman-auto/method		string	raid
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

d-i	partman-auto/disk	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd
d-i	grub-installer/bootdev		string	/dev/sda /dev/sdb /dev/sdc /dev/sdd
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian		boolean false


# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		multiraid ::	\
			25000	8000	25000	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			1000	1000	-1	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			1000	1000	1000	linux-swap	\
				$defaultignore{ } 		\
				$lvmok{ } lv_name{ swap } 	\
				method{ swap } 		\
				format{ } 			\
			. \
			500000	1000	500000	xfs	\
				$defaultignore{ } 		\
				$lvmok{ } lv_name{ carbon } 	\
				method{ format } format { } \
				use_filesystem{ } filesystem { xfs } \
				mountpoint { /var/lib/carbon } \
			.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string		\
		10	4	0	ext4	/	\
			/dev/sda1#/dev/sdb1#/dev/sdc1#/dev/sdd1		\
		.					\
		10	4	0	lvm	-	\
			/dev/sda2#/dev/sdb2#/dev/sdc2#/dev/sdd2		\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true
