# SPDX-License-Identifier: Apache-2.0
#
# The hwraid jbod configuration for megaraid_sas consists of
# - channel 0-2: (PDs) jbod/physical disks
# - channel 3+:  (LDs) the hardware raid1 OS disk
#
# This setting assumes one OS disk configured as raid1 and thus is
# always last: sdk with 10 jbod disks.

d-i	partman-auto/disk	string	/dev/sdk
d-i	grub-installer/bootdev	string	/dev/sdk
