# SPDX-License-Identifier: Apache-2.0
#
# This recipe expects to find and pick the smallest /dev/sd* device (the
# OS device) to use for the standard partitioning (biosgrub, efi, os).
#
# The detected OS device will be wiped on installation, including
# volume group vg0. However non-OS devices and volume groups will be
# left alone.

# OS is not on mdraid, thus switch partman's method to 'lvm'
d-i partman-auto/method string lvm

# OS device enumeration is not stable thus detect it
d-i detect_os_device/enabled boolean true

# Will be overridden, but provide a default otherwise
# display.d/initial_auto will prompt for a value.
d-i partman-auto/disk string /dev/null
