# Labtest virt node. Creates:
#  * no RAID (either single disk or hardware raid presenting a single device)
#  * no LVM
#  * no swap
#  * 20G / formatted with xfs
#  * the rest formatted with xfs for /srv

d-i	partman-auto/method		string  regular
d-i	partman-auto/disk		string	/dev/sda

d-i	partman-auto/expert_recipe	string	\
		apache :	\
			20000	20000	20000 xfs	\
				$primary{ }		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ xfs }	\
				mountpoint{ / }		\
			.				\
			64	1000	10000000 xfs	\
				$primary{ }		\
				$bootable{ }		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ xfs }	\
				mountpoint{ /srv }	\
			.

d-i	partman-auto/choose_recipe		apache

# no swap
d-i	partman-basicfilesystems/no_swap	boolean	false

d-i	partman/choose_partition		select finish
d-i	partman/confirm				boolean	true
d-i	partman/confirm_nooverwrite 		boolean	true
d-i	partman/confirm_write_new_label		boolean	true
