# configuration to create:
#  * no RAID (either single disk or hardware raid presenting a single device)
#  * 300M on /boot outside of LVM
#  * the rest formatted with LVM with 75% used
#  ** 30G / ext4 in LVM
#  ** no swap
#  ** the rest as xfs on /srv


d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-lvm/confirm	boolean	true
d-i	partman-lvm/confirm_nooverwrite	true

d-i	partman/confirm_nooverwrite	true
d-i	partman/choose_partition	select	finish

d-i	partman-auto/expert_recipe	string	es ::	\
		40 300 300 ext3			\
			$primary{ }		\
			$bootable{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ /boot }	\
		.				\
		30000 20000 30000 ext4		\
			$lvmok{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ / }		\
		.				\
		64 1000 10000000 ext4		\
			$primary{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			lv_name{ data }		\
			$defaultignore{ }	\
			$lvmok{ }		\
			mountpoint{ /srv }	\
		.

d-i	partman-auto-lvm/guided_size	string	75%

d-i	partman-auto/choose_recipe	es
partman-basicfilesystems partman-basicfilesystems/no_swap boolean false

