# expected hardware:
# * /dev/sda: SSD raid1
# * /dev/sdb: spinning raid10

# * layout:
#   - vg-ssd on sda
#   - vg-hdd on sdb
#
#   - /boot on sda, 100MB
#   - / LV on vg-ssd, 40G
#   - "placeholder" LV on vg-ssd to use all available space
#   - vg-hdd no LVs


d-i	partman-auto/method		string	lvm
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

# order is important, if not specified partitions get created on the first disk
d-i	partman-auto/disk	string	/dev/sda /dev/sdb

d-i	partman-auto/choose_recipe	lvm

# Define physical partitions:
# regular partitions and partitions used in VGs first
# then LVs
d-i	partman-auto/expert_recipe	string	\
		lvm ::	\
		100 300 100 ext4			\
			$primary{ }		\
			$bootable{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ /boot }	\
			device{ /dev/sda }	\
		.				\
		100000 300000 1000000000 ext4		\
			$defaultignore{ }		\
			$primary{ }		\
			method{ lvm }	\
			device{ /dev/sda }	\
			vg_name{ vg-ssd }	\
		.				\
		40000 40000 40000 ext4			\
			$defaultignore{ }		\
			$primary{ }		\
			method{ keep }	\
			device{ /dev/sda }	\
		.				\
		500000 300 -1 ext4			\
			$defaultignore{ }		\
			$primary{ }		\
			method{ lvm }	\
			device{ /dev/sdb }	\
			vg_name{ vg-hdd }	\
		.				\
		1000 1000 1000 linux-swap	\
			method{ swap }		\
			$lvmok{ }		\
			format{ }		\
			in_vg{ vg-ssd }		\
			lv_name{ swap }		\
		.				\
		40000 40000 40000 ext4		\
			$lvmok{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ / } 	\
			in_vg{ vg-ssd } 	\
			lv_name{ root } 	\
		.				\
		10000 80000 100000000 ext4		\
			$lvmok{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			in_vg{ vg-ssd } 	\
			lv_name{ placeholder } 	\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true

# do not prompt for 'no filesystem on partition'
d-i	partman-basicmethods/method_only	boolean false

d-i partman-basicfilesystems/no_mount_point boolean false
