# SPDX-License-Identifier: Apache-2.0
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian	boolean	false

d-i	partman-auto/disk	string	/dev/sda /dev/sdb
d-i	grub-installer/bootdev	string	/dev/sda /dev/sdb

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
# <devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
	1	2	0	lvm	-	\
		/dev/sda3#/dev/sdb3	\
	.
