# Automatic software RAID partitioning
#
# * two disks, sda & sdb
# * primary partitions, no LVM
# * layout:
#   - swap:       RAID1, 1GB
#   - /	:   ext4, RAID1, rest of the space

d-i	partman-auto/method		string	raid
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

# Use the first two disks
d-i	partman-auto/disk	string	/dev/sda /dev/sdb
d-i	grub-installer/bootdev		string	/dev/sda /dev/sdb
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian		boolean false


# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		multiraid ::	\
			5000	8000	-1	raid		\
				$primary{ } method{ raid }	\
			.					\
			1000	1000	1000	raid		\
				$primary{ } method{ raid }	\
			.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string		\
		1	2	0	ext4	/	\
			/dev/sda1#/dev/sdb1		\
		.					\
		1	2	0	swap	-	\
			/dev/sda2#/dev/sdb2		\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true
