# SPDX-License-Identifier: Apache-2.0
#
# This recipe is for us when you have two disks, but wish to use both
# RAID0 and RAID1 - as well as LVM.
#
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i grub-installer/only_debian  boolean false

d-i partman-auto/disk   string  /dev/sda /dev/sdb
d-i grub-installer/bootdev  string  /dev/sda /dev/sdb

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
# <devices> <sparedevices>
d-i partman-auto-raid/recipe    string  \
    1   2   0   lvm -   \
        /dev/sda3#/dev/sdb3 \
    .   \
    0   2   0   - -   \
        /dev/sda4#/dev/sdb4 \
    .
