# Automatic software RAID partitioning
#
# * six disks, sda, sdb, sdc, sdd, sde, sdf
# * primary partitions, with LVM
# * GPT layout (large disks, > 2TB)
# * layout:
#	- / :	ext4, RAID10, 50GB
#	- /srv: ext4,  RAID10, 95% rest of the space


d-i partman-auto/method		string	raid
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/device_remove_lvm	boolean true

# Use all the disks
d-i partman-auto/disk	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd /dev/sde /dev/sdf
d-i	grub-installer/bootdev		string	/dev/sda /dev/sdb /dev/sdc /dev/sdd /dev/sde /dev/sdf
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian		boolean false


# Define physical partitions
d-i partman-auto/expert_recipe	string	\
		multiraid ::	\
			1	1	1	grub		\
				$primary{ } method{ biosgrub }	\
			.					\
			50000	8000	50000	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{}				\
			.					\
			1000	1000	-1	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{} \
			.								\
			64 1000 10000000 ext4		\
				$primary{ }		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ data }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /srv }	\
			.


# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#		   <devices> <sparedevices>
d-i partman-auto-raid/recipe	string	\
		10	6	0	ext4	/	\
			/dev/sda2#/dev/sdb2#/dev/sdc2#/dev/sdd2#/dev/sde2#/dev/sdf2 \
		.	\
		10	6	0	lvm    -	\
			/dev/sda3#/dev/sdb3#/dev/sdc3#/dev/sdd3#/dev/sde3#/dev/sdf3 \
		.

d-i partman-md/confirm		boolean true
d-i partman-md/confirm_nooverwrite	boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition	select	finish
d-i partman/confirm			boolean true
d-i partman/confirm_nooverwrite		boolean true

d-i partman-auto-lvm/guided_size	string	95%
d-i partman-lvm/confirm		boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
partman-basicfilesystems partman-basicfilesystems/no_swap boolean false
