# SPDX-License-Identifier: Apache-2.0
#
# This recipe will detect OS devices and form a software raid1 on them.
# See hwraid-jbod-efi.cfg for more information.

d-i detect_os_device/enabled boolean true

# Will be overridden, but provide a default otherwise
# display.d/initial_auto will prompt for a value.
d-i partman-auto/disk string /dev/null
