# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian	boolean	false

d-i	partman-auto/disk	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd
d-i	grub-installer/bootdev	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
# <devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
	1	4	0	ext4	/	\
		/dev/sda2#/dev/sdb2#/dev/sdc2#/dev/sdd2	\
	.	\
	1	4	0	swap	-	\
		/dev/sda3#/dev/sdb3#/dev/sdc3#/dev/sdd3	\
	.	\
	0	4	0	ext4	/srv	\
		/dev/sda4#/dev/sdb4#/dev/sdc4#/dev/sdd4	\
	.
