# SPDX-License-Identifier: Apache-2.0

d-i	partman-auto/disk	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd
d-i	grub-installer/bootdev	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
# <devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
	10	4	0	lvm	-	\
		/dev/sda2#/dev/sdb2#/dev/sdc2#/dev/sdd2	\
	.
