# SPDX-License-Identifier: Apache-2.0
d-i	partman/reuse_partitions_recipe	string \
	/dev/sda|1 mdraid ignore none|2 mdraid ignore none, \
	/dev/sdb|1 mdraid ignore none|2 mdraid ignore none, \
	/dev/sdc|1 mdraid ignore none|2 mdraid ignore none, \
	/dev/sdd|1 mdraid ignore none|2 mdraid ignore none, \
	/dev/sde|1 mdraid ignore none|2 mdraid ignore none, \
	/dev/sdf|1 mdraid ignore none|2 mdraid ignore none, \
	/dev/md0|1 lvmpv ignore none, \
	/dev/mapper/vg*-root|1 ext4 format /, \
	/dev/mapper/vg*-srv|1 ext4 keep /srv, \
	/dev/mapper/*-swap|1 swap ignore none
