# XML snapshot hosts

# 60 gb root partition,
# 1 gb swap

d-i     partman-auto/method     	string  regular
d-i	partman-auto/disk		string	/dev/sda

d-i	partman/choose_partition	select finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true

d-i	partman-auto/expert_recipe	string	\
	snapshot :: \
		 64000	64000 100000 ext4			\
			$primary{ }				\
			$bootable{ }				\
			method{ format }			\
			format{ }      				\
			use_filesystem{ }			\
			filesystem{ ext4 }			\
			mountpoint{ / }	 			\
			.	      				\
		1024	1024	1024 linux-swap			\
			method{ swap }				\
			format{ }    				\
			.

d-i	partman-auto/choose_recipe	snapshot
