# SPDX-License-Identifier: Apache-2.0
# Standard configuration: Linux software raid and a single LVM VG (vg0) on top.
#
# Note that this configuration needs to be combined in netboot.cfg with the
# raid/device configuration depending on the hardware, e.g raid1-2dev.cfg
#
# The default LVs can be extended online post-provisioning as needed.
#
# * GPT partitions:
#   - grub: 1MB (biosgrub type, space for grub, required on a GPT layout)
#   - fat32: 256MB (UEFI EFI System Partition or ESP)
#   - LVM
# * LVs:
#   - /:    ext4, 80GB
#   - /srv: ext4, up to 80% of the VG (on Buster, see below)
#   - swap: swap, 1GB
#   - rest: unallocated (on Buster, see below)
#
# The partman-auto-lvm/guided_size setting is supported starting with Buster.
# If this configuration is used on Stretch and earlier there will be no
# space left free on the VG, and the last LV (/srv) will take up all the space
# in the VG.
#
# Partman priorities are chosen so that / and /srv will each get a factor of
# '50' (i.e. priority - minsize). In other words for disks smaller than ~160GB
# then / and /srv will have the same size.
# For more on partman priorities see also:
# https://www.bishnet.net/tim/blog/2015/01/29/understanding-partman-autoexpert_recipe/

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-auto-lvm/new_vg_name	string	vg0
d-i	partman-auto-lvm/no_boot	boolean	true
d-i	partman-auto/choose_recipe	linuxraid
d-i	partman-auto/method		string	raid
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite	boolean	true
d-i	partman-md/device_remove_md	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite	boolean	true
d-i	partman/confirm_write_new_label	boolean	true

# Force GPT
d-i	partman-basicfilesystems/choose_label	string	gpt
d-i	partman-basicfilesystems/default_label	string	gpt
d-i	partman-partitioning/choose_label	string	gpt
d-i	partman-partitioning/default_label	string	gpt
d-i	partman/choose_label			string	gpt
d-i	partman/default_label			string	gpt

# Partman auto recipe
d-i	partman-auto/expert_recipe	string	\
		linuxraid	 :: 	\
			1 1 1 grub			\
				$primary{ }		\
				$lvmignore{ }		\
				method{ biosgrub }	\
			.				\
			256 256 256 fat32		\
				$primary{ }		\
				$lvmignore{ }		\
				method{ efi }		\
				format{ }		\
			.				\
			1000 1000 -1 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.				\
			1024 1024 1024 linux-swap	\
				method{ swap }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				lv_name{ swap }		\
				format{ }		\
			.				\
			1500 1550 80000 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ root }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ / }		\
			.				\
			1500 1550 -1 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ srv }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /srv }	\
			.
