# Automatic software RAID partitioning
#
# * two disks, sda & sdb
# * primary partitions, no LVM
# * layout:
#   /dev/sdX1 - root fs: ext4, RAID1, 10GB
#   /dev/sdX2 - empty 0-block partition (to keep /dev/sdX3 consistent)
#   /dev/sdX3 - 85% of remainder as ext4 for varnish disk cache
#   /dev/sdX4 - 15% of remainder as unused area for SSD perf/endurance

d-i	partman-auto/method		string	raid
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

# Use the first two disks
d-i	partman-auto/disk	string	/dev/sda /dev/sdb
d-i	grub-installer/bootdev		string	/dev/sda /dev/sdb
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian		boolean false


# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		multiraid ::	\
			10000	10000	10000	raid		\
				$primary{ } method{ raid }	\
			.					\
			0	0	0	linux-swap	\
				$primary{ } method{ keep }	\
			.					\
			0	425	1000000000	ext4		\
				$primary{ } method{ format }	\
				format{ } use_filesystem{ }	\
				filesystem{ ext4 }		\
			.					\
			0	75	200000000	linux-swap	\
				$primary{ } method{ keep }	\
			.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string		\
		1	2	0	ext4	/	\
			/dev/sda1#/dev/sdb1		\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true
d-i	partman-basicfilesystems/no_mount_point	boolean	false
d-i	partman-basicfilesystems/no_swap boolean false

# method{ keep } on a partition that has no known filesystem
# produces a "No file system is specified for partition" prompt; silence it
d-i	partman-basicmethods/method_only	boolean	false
