[user]
	name = Stevie Beth Mhaol
	email = sshirley@wikimedia.org
[color]
	branch = auto
	diff = auto
	status = auto
[branch]
	autosetuprebase = always
[push]
	default = simple
[alias]
	amend = commit --amend
	br = branch
	brv = branch -vv
	brav = branch -avv
	ci = commit
	co = checkout
	diffc = diff --cached
	fetch = fetch --prune
	fa = fetch --prune --all
	graph = log --graph --oneline --all
	meld = difftool -y -t meld
	st = status
	vimdiff = difftool -y -t vimdiff
[diff]
	noprefix = true
