########################
##                    ##
## Managed by puppet  ##
##                    ##
########################

# configs for installing via netboot

# Generally we'll do a basic server install.
d-i preseed/include string  common.cfg passwd.cfg override.cfg

d-i preseed/include_command string  \
    case $(ip route show | grep default | cut -d' ' -f 3) in \
        208.80.153.1) echo subnets/public1-a-codfw.cfg ;; \
        208.80.153.33) echo subnets/public1-b-codfw.cfg ;; \
        208.80.153.65) echo subnets/public1-c-codfw.cfg ;; \
        208.80.153.97) echo subnets/public1-d-codfw.cfg ;; \
        208.80.154.1) echo subnets/public1-a-eqiad.cfg ;; \
        208.80.154.129) echo subnets/public1-b-eqiad.cfg ;; \
        208.80.154.65) echo subnets/public1-c-eqiad.cfg ;; \
        208.80.155.97) echo subnets/public1-d-eqiad.cfg ;; \
        208.80.155.65) echo subnets/sandbox1-b-eqiad.cfg ;; \
        10.64.0.1) echo subnets/private1-a-eqiad.cfg ;; \
        10.64.4.1) echo subnets/labs-hosts1-a-eqiad.cfg ;; \
        10.64.16.1) echo subnets/private1-b-eqiad.cfg ;; \
        10.64.20.1) echo subnets/labs-hosts1-b-eqiad.cfg ;; \
        10.64.32.1) echo subnets/private1-c-eqiad.cfg ;; \
        10.64.36.1) echo subnets/labs-hosts1-c-eqiad.cfg ;; \
        10.64.48.1) echo subnets/private1-d-eqiad.cfg ;; \
        10.64.52.1) echo subnets/labs-hosts1-d-eqiad.cfg ;; \
        10.64.5.1) echo subnets/analytics1-a-eqiad.cfg ;; \
        10.64.21.1) echo subnets/analytics1-b-eqiad.cfg ;; \
        10.64.36.1) echo subnets/analytics1-c-eqiad.cfg ;; \
        10.64.53.1) echo subnets/analytics1-d-eqiad.cfg ;; \
        10.64.37.1) echo subnets/labs-support1-c-eqiad.cfg ;; \
        10.128.0.1) echo subnets/private1-ulsfo.cfg ;; \
        10.192.0.1) echo subnets/private1-a-codfw.cfg ;; \
        10.192.16.1) echo subnets/private1-b-codfw.cfg ;; \
        10.192.20.1) echo subnets/labs-hosts1-b-codfw.cfg ;; \
        10.192.21.1) echo subnets/labs-support1-b-codfw.cfg ;; \
        10.192.32.1) echo subnets/private1-c-codfw.cfg ;; \
        10.192.48.1) echo subnets/private1-d-codfw.cfg ;; \
        91.198.174.1) echo subnets/public1-esams.cfg ;; \
        198.35.26.1) echo subnets/public1-ulsfo.cfg ;; \
        10.20.0.1) echo subnets/private1-esams.cfg ;; \
    esac; \
    \
    case $(debconf-get netcfg/get_hostname) in \
        acamar|achernar|baham|radon|rhodium) echo partman/raid1-lvm.cfg ;; \
        analytics1017) echo partman/raid1-30G.cfg ;; \
        analytics102[3-7]) echo partman/analytics-dell.cfg ;; \
        analytics102[8-9]|analytics103[0-9]|analytics104[0-9]|analytics105[0-9]) echo partman/analytics-flex.cfg ;; \
        aqs100[456789]) echo partman/aqs-cassandra-8ssd-2srv.cfg ;; \
        arsenic|heze|neodymium|oxygen|promethium|terbium|europium) echo partman/lvm.cfg ;; \
        copper|ruthenium|subra|suhail|ocg1003) echo partman/raid1-lvm.cfg ;; \
        bast[1234]*) echo partman/raid1-lvm-ext4-srv.cfg ;; \
        californium|dbproxy10[0-1][0-9]|iridium) echo partman/raid1.cfg ;; \
        boron) echo partman/lvm.cfg ;; \
        helium|tmh1002|hydrogen|chromium) echo partman/raid1-1partition.cfg ;; \
        lawrencium|netmon1001|notebook1001|notebook1002|stat1002|tungsten|labsdb1009|labsdb101[0-1]) echo partman/db.cfg ;; \
        stat1003) echo partman/raid5-gpt-lvm.cfg ;; \
        cerium|praseodymium|xenon) echo partman/cassandrahosts-3ssd.cfg ;; \
        conf100[123]) echo partman/raid1-lvm-conf.cfg ;; \
        conf200[123]) echo partman/raid1-lvm-ext4-srv.cfg ;; \
        cp1008|cp104[34]|cp300[3-9]|cp301[0-8]) echo partman/varnish-oldssd.cfg ;; \
        cp[1234][0-9][0-9][0-9]) echo partman/varnish.cfg ;; \
        db[0-8][0-9]|db10[0-8][0-9]|db109[0-5]|db20[0-2][0-9]|db2030|db203[3-9]|db20[4-7][0-9]|dbstore[1-2]00[1-9]|es[1-2]01[1-9]) echo partman/db.cfg ;; \
        d-i-test) echo partman/flat.cfg virtual.cfg ;; \
        druid100[123]) echo partman/druid-4ssd-raid10.cfg ;; \
        eeden|maerlant|multatuli|nescio) echo partman/raid1-1partition.cfg ;; \
        elastic101[7-9]|elastic102[0-9]|elastic103[0-1]) echo partman/elasticsearch-raid0.cfg ;; \
        elastic103[2-9]|elastic104[0-9]|elastic105[0-2]) echo partman/raid1-lvm-ext4-srv-noswap.cfg ;; \
        elastic20[0-2][0-9]|elastic203[0-6]) echo partman/raid1-lvm-ext4-srv-noswap.cfg ;; \
        labmon1001|mwlog[12]001|relforge100[12]|scb200[1-6]) echo partman/raid10-gpt-srv-lvm-ext4.cfg ;; \
        analytics1003|cobalt|thorium) echo partman/raid10-gpt-srv-lvm-ext4.cfg ;; \
        aluminium|argon|chlorine|bromine|bohrium|darmstadtium|dbmonitor[12]001|dubnium|etcd100[1-6]|etherpad[12]001|fermium|hassaleh|hassium|krypton|meitnerium|mendelevium|mwdebug100[12]|nihal|nitrogen|planet[12]001|pollux|roentgenium|rutherfordium|sca[12]00[34]|seaborgium|serpens|tureis|alsafi|kraz|install[12]00[12]|ununpentium|zosma) echo partman/flat.cfg virtual.cfg ;; \
        eventlog[1-2]001|ocg100[1-2]|scb100[1-4]) echo partman/raid1.cfg ;; \
        francium|tegmen) echo partman/raid10-gpt.cfg ;; \
        gerrit2001) echo partman/raid1-lvm-ext4-srv-noswap.cfg ;; \
        ganeti100[1-9]) echo partman/ganeti-raid1.cfg ;; \
        ganeti200[1-9]) echo partman/ganeti.cfg ;; \
        graphite100[13]) echo partman/graphite.cfg ;; \
        graphite1002) echo partman/graphite-dmcache.cfg ;; \
        graphite200[12]) echo partman/graphite.cfg ;; \
        kafka1013|kafka1014|kafka1020) echo partman/raid1-30G.cfg ;; \
        kafka100[1-3]|kafka200[1-3]|stat1004) echo partman/raid10-gpt-srv-ext4.cfg ;; \
        kubernetes100[1-4]) echo partman/docker-host.cfg ;; \
        auth[1-2]001|contint[12]001|einsteinium|labcontrol100[1-2]|labnodepool1001|mira|neodymium|oresrdb100[1-2]|oresrdb2002|phab2001|rdb200[1-6]) echo partman/raid1-lvm-ext4-srv.cfg ;; \
        labnet100[1-2]) echo partman/lvm.cfg ;; \
        labsdb100[45]) echo partman/osmlabsdb.cfg ;; \
        labsdb100[67]) echo partman/raid5-gpt-lvm.cfg ;; \
        labsdb[1-3]|labsdb100[1-3]) echo partman/mw.cfg ;; \
        sodium) echo partman/lvm-ext-srv.cfg ;; \
        labstore200[1-4]) echo partman/labstore-lvm-noraid.cfg ;; \
        labtestneutron2001) echo partman/mw.cfg ;; \
        labtestnet2001) echo partman/raid1.cfg ;; \
        labtestweb2001) echo partman/raid1.cfg ;; \
        labtestservices2001) echo partman/raid1.cfg ;; \
        labtestvirt2001) echo partman/raid1.cfg ;; \
        labtestmetal2001) echo partman/raid1.cfg ;; \
        labvirt100[1-9]) echo partman/virt-hp.cfg ;; \
        labvirt101[0-4]) echo partman/labvirt-ssd.cfg ;; \
        lithium|wezen) echo partman/raid1-gpt.cfg ;; \
        logstash100[1-3]) echo partman/raid1-lvm-ext4-srv.cfg ;; \
        logstash100[4-6]) echo partman/logstash.cfg ;; \
        lvs100[7-9]|lvs101[012]|lvs2*) echo partman/flat.cfg ;; \
        lvs100[1-6]|lvs[34]*) echo partman/raid1-lvm.cfg ;; \
        mc[0-9]*) echo partman/mc.cfg ;; \
        maps[1-2]00[1-4]) echo partman/raid1-lvm-ext4-srv.cfg ;; \
        maps-test200[1-4]) echo partman/lvm-ext-srv.cfg ;; \
        ms-be100[0-9]|ms-be101[0-5]) echo partman/ms-be-dell.cfg ;; \
        ms-be101[6-9]|ms-be102[0-7]) echo partman/ms-be-hp.cfg ;; \
        ms-be200[0-9]|ms-be201[0-5]) echo partman/ms-be-dell.cfg ;; \
        ms-be201[6-9]|ms-be20[2-3][0-9]) echo partman/ms-be-hp.cfg ;; \
        ms-be30[0-9][0-9]) echo partman/ms-be-esams.cfg ;; \
        ms-fe[1-2]0[0-9][0-9]) echo partman/raid1-1partition.cfg ;; \
        ms-fe30[0-9][0-9]) echo partman/flat.cfg ;; \
        mw1259) echo partman/mw-raid1.cfg ;; \
        mw12[6-9][0-9]) echo partman/mw-raid1.cfg ;; \
        mw13*) echo partman/mw-raid1.cfg ;; \
        mw22*) echo partman/mw-raid1.cfg ;; \
        osmium) echo partman/mw-raid1.cfg ;; \
        mw116[89]) echo partman/mw-no-tmp.cfg ;; \
        mw211[89]) echo partman/mw-no-tmp.cfg ;; \
        mw[0-9]*|rcs[0-9]*) echo partman/mw.cfg ;; \
        mx1001|mx2001) echo partman/flat.cfg virtual.cfg ;; \
        labservices1001|labservices1002|radium|silver|uranium) echo partman/raid1.cfg ;; \
        rdb100[7-8]) echo partman/raid1.cfg ;; \
        osm-cp*) echo partman/mw.cfg ;; \
        oresrdb2001) echo partman/lvm-ext-srv.cfg virtual.cfg;; \
        pc100[4-6]|pc200[4-6]) echo partman/raid0-lvm-srv.cfg ;; \
        poolcounter1001) echo partman/flat.cfg virtual.cfg ;; \
        poolcounter1002) echo partman/raid1-lvm-ext4-srv.cfg ;; \
        prometheus[12]00[12]) echo partman/lvm-ext-srv.cfg virtual.cfg;; \
        prometheus[12]00[3-4]) echo partman/prometheus.cfg;; \
        puppetmaster[12]00[1-2]) echo partman/raid1-lvm.cfg;;\
        pybal-test200[1-3]) echo partman/flat.cfg virtual.cfg;; \
        rdb100[1-6]) echo partman/mw.cfg ;; \
        restbase100[0-9]) echo partman/cassandrahosts-5ssd.cfg ;; \
        restbase101[0-5]) echo partman/cassandrahosts-5ssd.cfg ;; \
        restbase101[6-8]|restbase-dev100[123]) echo partman/cassandrahosts-4ssd.cfg ;; \
        restbase-test2*)  echo partman/cassandrahosts-2ssd.cfg ;; \
        restbase200[1-6]) echo partman/cassandrahosts-5ssd.cfg ;; \
        restbase200[7-9]) echo partman/cassandrahosts-4ssd.cfg ;; \
        restbase201[0-2]) echo partman/cassandrahosts-4ssd.cfg ;; \
        rhenium) echo partman/raid1-gpt.cfg ;; \
        sarin) echo partman/raid1-lvm-ext4-srv.cfg ;; \
        snapshot1001) echo partman/snapshot.cfg ;; \
        snapshot100[5-7]) echo partman/lvm-ext-srv.cfg ;; \
        stat1002) echo partman/lvm-noraid-large.a.cfg ;; \
        tin) echo partman/lvm-tin.cfg ;; \
        thumbor*) echo partman/raid1-lvm-ext4-srv.cfg ;; \
        wdqs100[1-3]|wdqs200[1-3]) echo partman/lvm-ext-srv.cfg ;; \
        wtp[1-2]0[0-2][0-9]|hafnium) echo partman/raid1-lvm.cfg ;; \
        wasat) echo partman/raid1-lvm-ext4-srv.cfg ;; \
    esac
