# Root access.

d-i	passwd/root-password-crypted	password	x

d-i	passwd/root-login	boolean	true

#passwd		passwd/root-password		password foo
#passwd		passwd/root-password-again	password foo

# Don't create a user account
d-i	passwd/make-user	boolean	false

#passwd		passwd/user-fullname		string Joey Hess
#passwd		passwd/username			string joey
#passwd		passwd/user-password		password debian
#passwd		passwd/user-password-again	password debian
