# SPDX-License-Identifier: Apache-2.0

# Include this file last via hiera variable
# 'profile::installserver::preseed::preseed_per_hostname' to make
# debian-installer prompt before rebooting into the installed system.
# Useful to debug boot problems or general inspection pre-reboot.
d-i finish-install/reboot_in_progress seen false
