d-i	partman/early_command	string \
		set -eux; \
		wget -nv https://apt.wikimedia.org/autoinstall/scripts/reuse-parts.sh -O /lib/partman/display.d/70reuse-parts; \
		chmod +x /lib/partman/display.d/70reuse-parts;

d-i	partman-auto/method	string	reuse_parts
#d-i	partman/choose_partition	select	finish
#d-i	partman/confirm	boolean	true
