# Use software from the "non-free" component?
d-i	apt-setup/non-free	boolean true

# Default mirror, can be overridden per subnet
d-i	mirror/country		string	manual
d-i	mirror/http/hostname	string	mirrors.wikimedia.org
d-i	mirror/http/directory	string	/debian/
d-i	mirror/http/proxy	string

# only useful when using nightly d-i builds & testing
#d-i	mirror/udeb/suite	string	testing
