# Use software from the "universe" component?
d-i	apt-setup/universe	boolean	true

# Default mirror, can be overridden per subnet
d-i	mirror/country		string	manual
d-i	mirror/http/hostname	string	ubuntu.wikimedia.org
d-i	mirror/http/directory	string	/ubuntu/
d-i	mirror/http/proxy	string

# Use a server kernel
d-i     base-installer/kernel/override-image    string  linux-server

d-i	debian-installer/add-kernel-opts	string	elevator=deadline rootdelay=90

# Override the default task for tasksel
tasksel        tasksel/first   multiselect server
