# note: these plugins require root privilege.  see README.Debian for
# more information on how it is recommended that you do this.

# 'check_dhcp' command definition
define command{
	command_name	check_dhcp
	command_line	/usr/lib/nagios/plugins/check_dhcp -s '$HOSTADDRESS$'
	}

# 'check_dhcp_interface' command definition
define command{
	command_name	check_dhcp_interface
	command_line	/usr/lib/nagios/plugins/check_dhcp -s '$HOSTADDRESS$' -i '$ARG1$'
	}

