# 'check_pgsql' command definition
define command{
	command_name	check_pgsql
	command_line	/usr/lib/nagios/plugins/check_pgsql -H '$HOSTADDRESS$'
	}

####
# use these checks, if you want to test IPv4 connectivity on IPv6 enabled systems
####

# 'check_pgsql_4' command definition
define command{
        command_name    check_pgsql_4
        command_line    /usr/lib/nagios/plugins/check_pgsql -H '$HOSTADDRESS$' -4
        }
