
# 'check-rpc' command definition
define command{
	command_name	check-rpc
	command_line	/usr/lib/nagios/plugins/check_rpc -H '$HOSTADDRESS$' -C '$ARG1$'
	}


# 'check-nfs' command definition
define command{
	command_name	check-nfs
	command_line	/usr/lib/nagios/plugins/check_rpc -H '$HOSTADDRESS$' -C nfs -c2,3
	}

