# SPDX-License-Identifier: Apache-2.0
[Unit]
Description=Socket to check galera node state

[Socket]
ListenStream=9990
Accept=yes

[Install]
WantedBy=sockets.target
