html {
    background: #eee;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
}
body {
    max-width: 55em;
    margin: 0px auto;
    padding: 1em 2em;
    background: #fff;
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #222;
}
.notice {
    border: 1px solid #b32424;
    margin: 4px 10%;
    background: #fee7e6;
    padding: 0.25em 0.9em;
}
p, dt {
    padding-top: 0.67em;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.stat-text, h1 {
    font-family: Georgia,"Times New Roman",Times,serif;
}
.h1, h1 {
    font-size: 48px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 25px;
    margin-bottom: 12.5px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    color: inherit;
}
h1 {
    margin: .67em 0;
}
b, optgroup, strong {
    font-weight: 700;
}
a {
    color: #0645ad;
    text-decoration: none;
}
a:visited {
    color: #0b0080;
}
a:active {
    color: #faa700;
}
a:hover {
    text-decoration: underline;
}
dd, dt {
    line-height: 1.6;
}
dt, kbd kbd, label {
    font-weight: 700;
}
table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}
table.wikitable > tr > th, table.wikitable > * > tr > th {
    background-color: #eaecf0;
    text-align: center;
}
table.wikitable {
    margin: 1em 0;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    color: #000;
}
