# Cannonical commit name mappings
#
# Mappings use one of two forms. The first maps an email address to the
# cannonical proper name:
#   Proper Name <commit@email.xx>
#
# The second maps any Proper Name <email> value to a cannonical Proper Name
# <email> value based on the email used by the commit:
#   Proper Name <proper@email.xx> <commit@email.xx>
#
# Some users have multiple mappings to deal with a variety of emails and/or
# proper names associated with their commit history.
#
# See https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Aaron Schulz <aschulz@wikimedia.org>
Addshore <addshorewiki@gmail.com>
Adminxor <soumyadip.bt@gmail.com>
Adam Wight <adam.wight@wikimedia.de>
Alex Monk <krenair@gmail.com>
Alex Monk <krenair@gmail.com> <alex@wikimedia.org>
Alex Monk <krenair@gmail.com> <krenair@gmail.com>
Alex Monk <krenair@gmail.com> <krenair@wikimedia.org>
Alexandros Kosiaris <akosiaris@wikimedia.org>
Alexandros Kosiaris <akosiaris@wikimedia.org> <akosiaris@gmail.com>
Amir Sarabadani <ladsgroup@gmail.com> <Ladsgroup@gmail.com>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Andre Klapper <aklapper@wikimedia.org>
Andre Klapper <aklapper@wikimedia.org> <a9016009@gmx.de>
Andre Klapper <aklapper@wikimedia.org> <ak-47@gmx.net>
Andrew "FastLizard4" Adams <FastLizard4-Git-Commits@fastlizard4.org>
Andrew Bogott <abogott@wikimedia.org>
Andrew Bogott <abogott@wikimedia.org> <andrew@CodeWeavers.com>
Andrew Bogott <abogott@wikimedia.org> root <root@openstack-test-ceilometer.eqiad.wmflabs>
Andrew Otto <otto@wikimedia.org>
Andrew Otto <otto@wikimedia.org> <acotto@gmail.com>
Andrew Otto <otto@wikimedia.org> <otto@wikimedia.org>
Antoine Musso <hashar@free.fr>
Ariel T. Glenn <ariel@wikimedia.org>
Arlo Breault <abreault@wikimedia.org>
Arnold Okoth <aokoth@wikimedia.org>
Arthur Richards <arichards@wikimedia.org>
Arzhel Younsi <ayounsi@wikimedia.org>
Asher <afeldman@wikimedia.org>
aude <aude.wiki@gmail.com>
Bartosz Dziewoński <matma.rex@gmail.com>
Base <base-w@yandex.ru>
Bene <benestar.wikimedia@gmail.com>
Bhartshorne <ben@wikimedia.org>
Brad Jorsch <bjorsch@wikimedia.org>
Brandon Black <bblack@wikimedia.org>
Brian Wolff <bawolff+wn@gmail.com>
Brion Vibber <brion@pobox.com>
Brooke Storm <bstorm@wikimedia.org>
Bryan Davis <bd808@wikimedia.org>
Bryan Davis <bd808@wikimedia.org> <bd808@bd808.com>
Bryan Davis <bd808@wikimedia.org> <bd808@wikimedia.org>
Bryan Davis <bd808@wikimedia.org> <bdavis@wikimedia.org>
bsitu <bsitu@wikimedia.org>
C. Scott Ananian <cscott@cscott.net>
Carl Fürstenberg <azatoth@gmail.com>
Cas Rusnov <crusnov@wikimedia.org>
Chad Horohoe <chadh@wikimedia.org>
Chris Danis <cdanis@wikimedia.org>
Chris McMahon <cmcmahon@wikimedia.org>
Christian Aistleitner <christian@quelltextlich.at>
Christopher Johnson <christopher.johnson@wikimedia.de>
Cmjohnson <cmjohnson@wikimedia.org>
Cole White <cwhite@wikimedia.org>
coren <marc@uberbox.org>
cpettet <rush@wikimedia.org>
csteipp <csteipp@wikimedia.org>
Damian Zaremba <damian@damianzaremba.co.uk>
Dan Duvall <dduvall@wikimedia.org>
dan-nl <d_entous@yahoo.com>
danakim <akim.dan@gmail.com>
Daniel Zahn <dzahn@wikimedia.org>
Daniel Zahn <dzahn@wikimedia.org> <dzahn@sphinx.corp.wikimedia.org>
Dapete <dev@dapete.net>
dcausse <dcausse@wikimedia.org>
Diederik van Liere <dvanliere@wikimedia.org>
domas <domas@wikimedia.org>
dr0ptp4kt <abaso@wikimedia.org>
drtrigon <dr.trigon@surfeu.ch>
Ebrahim Byagowi <ebrahim@gnu.org>
Effie Mouzeli <effie@wikimedia.org>
Effie Mouzeli <effie@wikimedia.org> <emouzeli@wikimedia.org>
Elliott Eggleston <ejegg@ejegg.com>
Eloquence <erik@wikimedia.org>
Emanuele Rocca <ema@wikimedia.org>
Eric Evans <eevans@wikimedia.org>
Eric Evans <eevans@wikimedia.org> <eevans@sym-link.com>
Erik Bernhardson <ebernhardson@wikimedia.org>
Faidon Liambotis <faidon@wikimedia.org>
Federico Leva <federicoleva@tiscali.it>
Filippo Giunchedi <fgiunchedi@wikimedia.org>
Francisco Dans <fdans@wikimedia.org>
Gabriel Wicke <gwicke@wikimedia.org>
Gabriel Wicke <gwicke@wikimedia.org> <wicke@wikidev.net>
Geoffrey Mon <geofbot@gmail.com>
Gergő Tisza <gtisza@wikimedia.org>
Gergő Tisza <gtisza@wikimedia.org> <tgr.huwiki@gmail.com>
Gilles Dubuc <gdubuc@wikimedia.org>
Gilles Dubuc <gdubuc@wikimedia.org> <gilles@wikimedia.org>
Giuseppe Lavagetto <glavagetto@wikimedia.org>
gladoscc <admin@glados.cc>
Glaisher <glaisher.wiki@gmail.com>
Greg Grossmeier <greg@wikimedia.org>
Guillaume Lederrey <glederrey@wikimedia.org>
halfak <aaron.halfaker@gmail.com>
Hazard-SJ <hazard_sj@yahoo.com>
Hedonil <hedonil@action.ms>
Hieu Pham <hpham@wikimedia.org>
Hydra <admin@alphacorp.tk>
Jaime Crespo <jcrespo@wikimedia.org>
Jakob Warkotsch <j.warkotsch@gmail.com>
James Alexander <jalexander@wikimedia.org>
James D. Forrester <jforrester@wikimedia.org>
Jamison Lofthouse <jamison.lofthouse@gmail.com>
Jan Gerber <jgerber@wikimedia.org>
Jan Gerber <jgerber@wikimedia.org> <j@thing.net>
Jan Zerebecki <jan.wikimedia@zerebecki.de>
jarry1250 <jarry1250@gmail.com>
Jason Hedden <jhedden@wikimedia.org>
Jeff Gage <jgerard@wikimedia.org>
Jeff Gage <jgerard@wikimedia.org> <jgage@wikimedia.org>
Jeff Green <jgreen@wikimedia.org>
Jelto Wodstrcil <jwodstrcil@wikimedia.org>
jeremyb <jeremy@tuxmachine.com>
jeroendedauw <jeroendedauw@gmail.com>
Jesse Hathaway <jhathaway@wikimedia.org>
jhobs <jhobson@wikimedia.org>
Joel Krauska <jkrauska@wikimedia.org>
Joel Krauska <jkrauska@wikimedia.org> <jkrauska@wikimedia.org>
John Bond <jbond@wikimedia.org>
John F. Lewis <johnflewis93@gmail.com>
John Vandenberg <jayvdb@gmail.com>
Johnduhart <john@compwhizii.net>
Jon Robson <jdlrobson@gmail.com>
Joseph Allemandou <joal@wikimedia.org>
Juliusz Gonera <jgonera@wikimedia.org>
Kartik Mistry <kartik.mistry@gmail.com>
Keith Herron <kherron@wikimedia.org>
Kunal Mehta <legoktm@debian.org>
Kunal Mehta <legoktm@debian.org> <legoktm@member.fsf.org>
Kunal Mehta <legoktm@debian.org> <legoktm@gmail.com>
Lcarr <lcarr@wikimedia.org>
Leszek Manicki <leszek.manicki@wikimedia.de>
Liangent <liangent@gmail.com>
lokal-profil <lokal.profil@gmail.com>
Luca Toscano <ltoscano@wikimedia.org>
Luca Toscano <ltoscano@wikimedia.org> <ltoscano@ltoscanowmf1553.local>
Luca Toscano <ltoscano@wikimedia.org> <ltoscano@wikimedia.org>
Lukasz Sobanski <lsobanski@wikimedia.org>
Luke Welling <lwelling@wikimedia.org>
Madhumitha Viswanathan <mviswanathan@wikimedia.org>
Manuel Arostegui <marostegui@wikimedia.org>
Marc A. Pelletier <marc@uberbox.org>
Marc A. Pelletier <marc@uberbox.org> <marc@uberbox.org>
Marc A. Pelletier <marc@uberbox.org> <mpelletier@wikimedia.org>
Marcel Ruiz Forns <mforns@wikimedia.org>
Marius Hoch <hoo@online.de>
Mark Bergsma <mark@wikimedia.org>
Mark Holmquist <mtraceur@member.fsf.org>
Marko Obrovac <mobrovac@wikimedia.org>
Matanya Moses <matanya@foss.co.il>
Matanya Moses <matanya@foss.co.il> <matanya.moses@gmail.com>
Matanya Moses <matanya@foss.co.il> matanya <matanya@moses.co.il>
Mateus Santos <msantos@wikimedia.org>
Mateus Santos <msantos@wikimedia.org> <msantos@msantoss-MacBook-Pro.local>
Matt Walker <mwalker@wikimedia.org>
Matt Walker <mwalker@wikimedia.org> <mwalker@khaosdev.com>
Matthew Flaschen <mflaschen@wikimedia.org>
Matthew Vernon <mvernon@wikimedia.org>
Max Semenik <maxsem.wiki@gmail.com>
Merlijn van Deen <valhallasw@arctus.nl>
Merlijn van Deen <valhallasw@arctus.nl> <valhallasw+lisilwen@gmail.com>
milimetric <dandreescu@wikimedia.org>
Moritz Mühlenhoff <mmuhlenhoff@wikimedia.org>
Moritz Mühlenhoff <mmuhlenhoff@wikimedia.org> <mmuehlenhoff@wikimedia.org>
Moritz Mühlenhoff <mmuhlenhoff@wikimedia.org> <mmuhlenhoff@wikimedia.org>
Moritz Schubotz (Physikerwelt) <wiki@physikerwelt.de>
Mschon <schon.mar@gmail.com>
Mukunda Modell <mmodell@wikimedia.org>
Munagala Ramanath <ram@wikimedia.org>
MZMcBride <g@mzmcbride.com>
nextPrime <chmarkine@hotmail.com>
nextPrime <chmarkine@hotmail.com> <boxgit@outlook.com>
Nik Everett <neverett@wikimedia.org>
Niklas Laxström <niklas.laxstrom@gmail.com>
Nuria Ruiz <nuria@wikimedia.org>
Ori Livneh <ori@wikimedia.org>
Ori Livneh <ori@wikimedia.org> <ori.livneh@gmail.com>
Paladox <thomasmulhall410@yahoo.com>
papaul <ptshibamba@wikimedia.org>
papaul <ptshibamba@wikimedia.org> <ptshibamba@wikimedia.org>
Patrick Reilly <preilly@wikimedia.org>
Patrick Reilly <preilly@wikimedia.org> <preilly@wikimedia.org>
Peter Gehres <pgehres@wikimedia.org>
Peter Hedenskog <phedenskog@wikimedia.org>
Peter Youngmeister <py@wikimedia.org>
Petr Bena <benapetr@gmail.com>
Petr Pchelko <ppchelko@wikimedia.org>
Petrea Corneliu Stefan <stefan@garage-coding.com>
Platonides <platonides@gmail.com>
pugmajere <ryan@michonline.com>
Rangilo Gujarati <sonara.arnav@gmail.com>
raymond <raimond.spekking@gmail.com>
Razzi Abuissa <rabuissa@wikimedia.org>
Reuven Lazarus <rlazarus@wikimedia.org>
rfaulk <rfaulkner@wikimedia.org>
Riccardo Coccioli <rcoccioli@wikimedia.org>
Riccardo Coccioli <rcoccioli@wikimedia.org> <rcoccioli@gmail.com>
Ricordisamoa <ricordisamoa@openmailbox.org>
Roan Kattouw <roan.kattouw@gmail.com>
Rob Moen <rmoen@wikimedia.org>
RobH <rob@wikimedia.org>
RobH <rob@wikimedia.org> <rhalsell@wikimedia.org>
root <root@openstack-test-ceilometer.eqiad.wmflabs>
Ryan Lane <ryan@wikimedia.org>
Ryan Lane <ryan@wikimedia.org> <rlane@wikimedia.org>
S Page <spage@wikimedia.org>
Sam Reed <reedy@wikimedia.org>
Sam Smith <git@samsmith.io>
Samuel Guebo <sguebo@wikimedia.org>
saper <saper@saper.info>
Sara <ssmollett@wikimedia.org>
Scott Lee <scott.leea@gmail.com>
Sean Pringle <springle@wikimedia.org>
Siebrand Mazeland <s.mazeland@xs4all.nl>
Silke Meyer <silke.meyer@wikimedia.de>
Simon Walker <github@stwalkerster.co.uk>
Southparkfan <southparkfan223@hotmail.com>
Stanislav Malyshev <smalyshev@gmail.com>
Stephen Niedzielski <stephen@niedzielski.com>
Stevie Beth Mhaol <sbmhaol@wikimedia.org>
Stevie Beth Mhaol <sbmhaol@wikimedia.org> <sshirley@wikimedia.org>
Sukhbir Singh <ssingh@wikimedia.org>
Subramanya Sastry <ssastry@wikimedia.org>
Sébastien Santoro <dereckson@espace-win.org>
terry chay <tchay@wikimedia.org>
Thiemo Mättig (WMDE) <thiemo.maettig@wikimedia.de>
thrawn <mike.hoover@gmail.com>
Taavi Väänänen <hi@taavi.wtf>
Taavi Väänänen <hi@taavi.wtf> <hi@tassu.me>
Tim Landscheidt <tim@tim-landscheidt.de>
Tim Starling <tstarling@wikimedia.org>
Timo Tijhof <krinklemail@gmail.com>
Timo Tijhof <krinklemail@gmail.com> <ttijhof@wikimedia.org>
tinajohnson.1234 <tinajohnson.1234@gmail.com>
Tomasz W. Kozlowski <tomasz@twkozlowski.net>
Tomasz W. Kozlowski <tomasz@twkozlowski.net> <twkozlowski@gmail.com>
Tony Thomas <01tonythomas@gmail.com>
Tpt <thomaspt@hotmail.fr>
Tyler Cipriani <tcipriani@wikimedia.org>
Valentin Gutierrez <vgutierrez@wikimedia.org>
Vincent Bernat <vincent@bernat.im>
withoutaname <drevitchi@gmail.com>
Yiannis Giannelos <jgiannelos@wikimedia.org>
Yuri Astrakhan <yurik@wikimedia.org>
Yuvi Panda <yuvipanda@wikimedia.org>
Yuvi Panda <yuvipanda@wikimedia.org> <yuvipanda@gmail.com>
Yuvi Panda <yuvipanda@wikimedia.org> <yuvipanda@wikimedia.org>
Zhuyifei1999 <zhuyifei1999@gmail.com>
Željko Filipin <zeljko.filipin@gmail.com>
