# We still use the 2.6 way of referencing variables
# 2.8 will requires $::globalname. Skip for now.
--no-variable_scope-check

# We really like nesting classes:
--no-nested_classes_or_defines-check

# Lot of long lines (ssh keys for example).
--no-80chars-check

# Misc rules, some of them might use to be enabled later.
--no-autoloader_layout-check
--no-inherits_across_namespaces-check
--no-double_quoted_strings-check
--no-arrow_alignment-check
--no-puppet_url_without_modules-check

# We dont have much documentation yet:
--no-documentation-check

# We use dash in class and variables.
--no-names_containing_dash-check
--no-variable_contains_dash-check

# Test is only relevant for Puppet <= 2.6.2.
--no-class_inherits_from_params_class-check
