# Lot of long lines (ssh keys for example).
--no-80chars-check

# Misc rules, some of them might use to be enabled later.
--no-autoloader_layout-check
--no-puppet_url_without_modules-check

# We dont have much documentation yet:
--no-documentation-check

