[access "refs/*"]
	owner = group Administrators
	owner = group ops
	read = group Anonymous Users
	create = group ops
	push = group ops
	pushTag = group ops
	label-Code-Review = -2..+2 group ops
	label-Verified = -1..+1 group labsadminbots
	label-Verified = -1..+1 group ops
	submit = group ops
	pushMerge = group ops
[project]
	description = Public puppet repository for Wikimedia Foundation operation's team.
[access "refs/heads/testlabs/*"]
	owner = group testlabs
	create = group testlabs
	push = group testlabs
	label-Code-Review = -2..+2 group testlabs
	label-Verified = -1..+1 group testlabs
	submit = group testlabs
	pushMerge = group testlabs
	pushTag = group testlabs
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/heads/test"]
	read = group wmf
	forgeAuthor = group wmf
	forgeCommitter = group wmf
	push = group wmf
	label-Code-Review = -2..+2 group wmf
	label-Verified = -1..+1 group wmf
	submit = group wmf
	pushMerge = group wmf
	pushTag = group wmf
	create = group wmf
[access "refs/for/test"]
	create = group wmf
	push = group wmf
	pushTag = group wmf
