[access "refs/*"]
	owner = group ldap/ops
	submit = group ldap/ops
	rebase = group Registered Users
[project]
	description = Public puppet repository for Wikimedia Foundation operations team.
	state = active
[access "refs/heads/testlabs/*"]
	owner = group ldap/testlabs
	create = group ldap/testlabs
	push = group ldap/testlabs
	submit = group ldap/testlabs
	pushMerge = group ldap/testlabs
	pushTag = group ldap/testlabs
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
[access "refs/for/refs/heads/test"]
	push = deny group Registered Users
	pushMerge = deny group Registered Users
	exclusiveGroupPermissions = push pushMerge
[access "refs/for/refs/heads/testlabs/*"]
	create = group ldap/testlabs
	push = group ldap/testlabs
	pushMerge = group ldap/testlabs
	pushTag = group ldap/testlabs
[access "refs/for/refs/heads/*"]
	push = group ldap/ops
	pushMerge = group ldap/ops
	pushTag = group ldap/ops
[access "refs/heads/analytics/*"]
	push = group Analytics
