[access "refs/*"]
	owner = group Administrators
	read = group ops
	read = group wmf
	create = group ops
	push = +force group ops
	pushMerge = group ops
	pushTag = group ops
	label-Code-Review = -2..+2 group ops
	label-Verified = -1..+1 group ops
[project]
	description = Public puppet repository for Wikimedia Foundation operation's team.
