profile::contacts::role_contacts:
  - 'Observability'
profile::base::production::role_description: 'Prometheus server (main data centres)'

cluster: prometheus
profile::resolving::domain_search:
  - wikimedia.org
  - eqiad.wmnet
  - codfw.wmnet
  - esams.wmnet
  - ulsfo.wmnet
  - eqsin.wmnet
  - drmrs.wmnet
  - magru.wmnet
prometheus::server::mysqld_exporter::mysql::host: db1215.eqiad.wmnet
prometheus::server::mysqld_exporter::mysql::port: 3306
prometheus::server::mysqld_exporter::mysql::database: zarcillo
prometheus::server::mysqld_exporter::mysql::user: prometheus-mysqld-exporter
# prometheus::server::mysqld_exporter::mysql::password: stored on the private repo

profile::prometheus::enable_thanos_upload: true

profile::prometheus::rsyncd::ensure: present

# Thanos will ask Prometheus (via Thanos Sidecar) for last 15d only
profile::prometheus::thanos::min_time: '-15d'

# The single host that's running Pushgateway.
# DNS prometheus-pushgateway.discovery.wmnet must match.
profile::prometheus::pushgateway_host: 'prometheus1005.eqiad.wmnet'

profile::lvs::realserver::use_conftool: true
profile::lvs::realserver::pools:
  prometheus:
    services:
      - prometheus@analytics
      - prometheus@k8s
      - prometheus@k8s-dse
      - prometheus@k8s-mlserve
      - prometheus@k8s-mlstaging
      - prometheus@k8s-staging
      - prometheus@ops
      - prometheus@services
      - apache2

profile::envoy::ensure: present
profile::tlsproxy::envoy::ssl_provider: cfssl
profile::tlsproxy::envoy::cfssl_options:
  hosts:
    - 'prometheus'
    - 'prometheus-%{::site}.wikimedia.org'
    - 'prometheus.svc.%{::site}.wmnet'
    - "%{facts.networking.fqdn}"
profile::tlsproxy::envoy::global_cert_name: prometheus.discovery.wmnet
profile::tlsproxy::envoy::use_remote_address: true
profile::tlsproxy::envoy::upstream_addr: '127.0.0.1'
profile::tlsproxy::envoy::services:
  # enable oauth2-proxy/oidc, see 'profile::prometheus::web_idp::auth_type'
  - server_names:
     - "prometheus-%{::site}.%{lookup('public_domain')}"
    port: 4180
  - server_names: ['*']
    port: 80

profile::prometheus::web_idp::auth_type: 'oidc'

profile::puppet::agent::force_puppet7: true

# Retention settings - https://phabricator.wikimedia.org/T351179
profile::prometheus::ops::storage_retention_size: 3300GB
