{% load i18n %}

<br>
{{ caption }}
{% if prefix_tab %}
<br>
<a href="{{ removepuppetprefixurl }}" class="btn btn-primary ajax-modal">{% trans "Remove prefix" %}</a>
{% endif %}

<div class="row-fluid">
  <div class="span12">
    <h3>{% trans "Puppet Roles" %}</h3>
    {{ table.render }}
  </div>
  {% include 'project/puppet/_hiera.html' %}
</div>





{% load i18n %}

<div class="row-fluid">
   <h3>{% trans "Hiera Config" %}</h3>
   <p>
     <pre>{{ config.hiera }}</pre>
   </p>
   <a href="{{ edithieraurl }}" class="btn btn-primary ajax-modal">{% trans "Edit" %}</a>
</div>

