/* SPDX-License-Identifier: Apache-2.0 */
section {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 3em;
}

p.result {
  font-size: 2em;
}

p.service {
  font-size: 1em;
  font-style: italic;
  margin-top: -2em;
  margin-bottom: 2em;
}

p.warning {
  font-size: 1em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 16em;
  white-space: pre-wrap;
  visibility: hidden;
}

p.info {
  font-size: 1em;
  color: gray;
}
