# Use software from the "non-free" component?
d-i	apt-setup/non-free	boolean true

# Default mirror, can be overridden per subnet
d-i	mirror/country		string	manual
d-i	mirror/http/hostname	string	mirrors.wikimedia.org
d-i	mirror/http/directory	string	/debian/
d-i	mirror/http/proxy	string

# FIXME: remove this after the release of jessie
# The installer we use is a nightly and so therefore has this set to unstable.
# This can result to kernel/module mismatches when a kernel is first uploaded
# to unstable but has not been hinted to enter jessie yet.
d-i	mirror/udeb/suite	string	testing
