# Use software from the "non-free" component?
d-i	apt-setup/non-free	boolean true

# Default mirror, can be overridden per subnet
d-i	mirror/country		string	manual
d-i	mirror/http/hostname	string	http.debian.net
d-i	mirror/http/directory	string	/debian/
d-i	mirror/http/proxy	string	http://webproxy.eqiad.wmnet:8080/
