########################
##                    ##
## Managed by puppet  ##
##                    ##
########################

# configs for installing via netboot

# Generally we'll do a basic server install.
d-i	preseed/include	string	common.cfg passwd.cfg override.cfg

d-i	preseed/include_command	string	\
	case $(ip address show dev eth0 | egrep '^[[:space:]]+inet ' | cut -d ' ' -f 8) in \
		208.80.152.191) echo subnets/pmtpa.cfg ;; \
		208.80.153.191) echo subnets/pmtpa-pub-svc2.cfg ;; \
		208.80.152.127) echo subnets/pmtpa-squid.cfg ;; \
		10.0.255.255) echo subnets/pmtpa-internal.cfg ;; \
		10.4.16.255) echo subnets/pmtpa-virt.cfg ;; \
		208.80.154.63) echo subnets/public1-a-eqiad.cfg ;; \
		208.80.154.191) echo subnets/public1-b-eqiad.cfg ;; \
		208.80.154.127) echo subnets/public1-c-eqiad.cfg ;; \
		208.80.155.127) echo subnets/public1-d-eqiad.cfg ;; \
		208.80.155.79) echo subnets/sandbox1-b-eqiad.cfg ;; \
		10.64.3.255) echo subnets/private1-a-eqiad.cfg ;; \
		10.64.19.255) echo subnets/private1-b-eqiad.cfg ;; \
		10.64.20.255) echo subnets/labs-hosts1-b-eqiad.cfg ;; \
		10.64.35.255) echo subnets/private1-c-eqiad.cfg ;; \
		10.64.51.255) echo subnets/private1-d-eqiad.cfg ;; \
		10.64.5.255) echo subnets/analytics1-a-eqiad.cfg ;; \
		10.64.21.255) echo subnets/analytics1-b-eqiad.cfg ;; \
		10.64.36.255) echo subnets/analytics1-c-eqiad.cfg ;; \
		10.64.53.255) echo subnets/analytics1-d-eqiad.cfg ;; \
		10.64.37.255) echo subnets/labs-support1-c-eqiad.cfg ;; \
		10.128.0.255) echo subnets/private1-ulsfo.cfg ;; \
		91.198.174.127) echo subnets/esams.cfg ;; \
		198.35.26.15) echo subnets/public1-ulsfo.cfg ;; \
		10.20.0.255) echo subnets/private1-esams.cfg ;; \
	esac; \
	\
	case $(debconf-get netcfg/get_hostname) in \
		amslvs*) echo partman/raid1-squid.cfg ;; \
		amssq3[1-9]|amssq4[0-9]|amssq[56][0-9]) echo partman/raid1-varnish.cfg ;; \
		amssq*|sq[6][7-9]|sq70) echo partman/raid1-squid.cfg ;; \
		analytics100[1-9]) echo partman/analytics-cisco.cfg ;; \
		analytics101[1-9]|analytics102[0-2]) echo partman/raid1-30G.cfg ;; \
		analytics102[3-7]) echo partman/analytics-dell.cfg ;; \
		analytics102[8-9]|analytics103[0-9]|analytics104[0-1]) echo partman/analytics-flex.cfg ;; \
		db[0-8][0-9]|db10[0-7][0-9]|dbstore100[1-9]|es10[0-2][0-9]|es[0-9]|es1[0-9]) echo partman/db.cfg ;; \
		netmon1001|stat1002|tungsten) echo partman/db.cfg ;; \
		bast*) echo partman/lvm.cfg ;; \
		boron|chromium|hydrogen) echo partman/lvm.cfg ;; \
		calcium|helium|potassium|tmh1001|tmh1002) echo partman/raid1-1partition.cfg ;; \
		cobalt|lead|polonium) echo partman/raid1-lvm.cfg ;; \
		cp102[1-9]|cp10[3-6][0-9]|cp1070|cp[34]0[0-9][0-9]|sq6[7-9]|sq70|dysprosium) echo partman/raid1-varnish.cfg ;; \
		antimony|arsenic|caesium|erbium|gadolinium|holmium|magnesium|neodymium|palladium|promethium|rubidium|strontium|terbium|wtp100[1-4]) echo partman/lvm.cfg ;; \
		mexia) echo partman/lvm.cfg ;; \
		lvs[1-6]|lvs100*) echo partman/lvs.cfg ;; \
		lvs[34]00*) echo partman/raid1-lvm.cfg ;; \
		eeden) echo partman/raid1-1partition.cfg ;; \
		elastic100[0-9]|elastic101[0-9]) echo partman/elasticsearch.cfg ;; \
		iodine) echo partman/raid1-1partition.cfg ;; \
#		sodium) echo partman/mailserver.cfg ;; \
		mc[1-9]*) echo partman/mc.cfg ;; \
		ms-fe10[0-9][0-9]) echo partman/raid1-1partition.cfg ;; \
		ms-be10[0-9][0-9]) echo partman/ms-be-eqiad.cfg ;; \
		ms-fe30[0-9][0-9]) echo partman/lvs.cfg ;; \
		ms-be30[0-9][0-9]) echo partman/ms-be-esams.cfg ;; \
		mw[0-9]*|osmium|rcs[0-9]*) echo partman/mw.cfg ;; \
		labsdb[1-3]|labsdb100[1-3]) echo partman/mw.cfg ;; \
		labsdb100[4567]) echo partman/osmlabsdb.cfg ;; \
		dbproxy100[1-2]|francium|iridium|nickel|ocg100[1-3]|radon|rbf100[1-2]) echo partman/raid1.cfg ;; \
		rhenium) echo partman/raid1-gpt.cfg ;; \
		osm-cp*) echo partman/mw.cfg ;; \
		pc100[1-3]) echo partman/mw.cfg ;; \
		tantalum*) echo partman/raid1-1partition.cfg ;; \
		rdb100[1-4]|logstash100[1-3]) echo partman/mw.cfg ;; \
		searchidx*) echo partman/searchidx.cfg ;; \
		search[0-9]*) echo partman/search.cfg ;; \
		snapshot[1-4]|snapshot100[1-4]) echo partman/snapshot.cfg ;; \
		stat1002) echo partman/lvm-noraid-large.a.cfg ;; \
		argon|bast4001|cerium|copper|neon|praseodymium|ruthenium|ssl[1-3]0[0-9][0-9]|ssl[0-9]|titanium|ytterbium|xenon|zirconium) echo partman/raid1-lvm.cfg ;; \
		virt[5-9]|virt1[0-1]) echo partman/virt-raid10-cisco.cfg ;; \
		virt100[1-9]) echo partman/virt-raid10-cisco.cfg ;; \
		labnet1001) echo partman/lvm.cfg ;; \
		labmon1001) echo partman/raid1-lvm.cfg ;; \
		wtp100[5-9]|wtp10[1-2][0-9]|hafnium) echo partman/raid1-lvm.cfg ;; \
		carbon|stat1003) echo partman/raid5-gpt-lvm.cfg ;; \
		hydrogen|krypton|tarin) echo partman/raid1-1partition.cfg ;; \
		mercury|thallium|gold|platinum) echo partman/raid1-lvm.cfg ;; \
	esac
