# This preseed file should be included last of all. It allows overriding of
# include files on the command line. For example, if you want to install a
# web server instead of the default desktop install on some machine, use
#   preseed/override task/web-server.cfg
# Note, you must take care to not use the override to pull in any configs
# that themselves mention override.cfg; that would be a loop.
d-i preseed/include_command string o=$(debconf-get preseed/override); if [ -n "$o" ]; then echo $o; fi
