profile::contacts::role_contacts:
  - 'Observability'

cluster: prometheus
profile::prometheus::enable_thanos_upload: true
profile::resolving::domain_search:
  - wikimedia.org
  - eqiad.wmnet
  - codfw.wmnet
  - esams.wmnet
  - ulsfo.wmnet
  - eqsin.wmnet
  - drmrs.wmnet
prometheus::server::storage_retention_size: 80GB

profile::envoy::ensure: present
profile::tlsproxy::envoy::services:
   - server_names:
     - 'prometheus'
     - 'prometheus-eqiad.wikimedia.org'
     - 'prometheus-codfw.wikimedia.org'
     - 'prometheus-esams.wikimedia.org'
     - 'prometheus-ulsfo.wikimedia.org'
     - 'prometheus-eqsin.wikimedia.org'
     - 'prometheus-drmrs.wikimedia.org'
     port: 80
     cert_name: 'prometheus.wikimedia.org'
profile::tlsproxy::envoy::use_remote_address: true
profile::tlsproxy::envoy::sni_support: 'strict'
