# Verify a SSL certificate is valid and not going to expire
define command{
    command_name    check_ssl_http
    command_line    $USER1$/check_ssl --warning 60 --critical 30 -H $HOSTADDRESS$ -p 443 --cn $ARG1$
}
define command{
    command_name    check_ssl_http_letsencrypt
    command_line    $USER1$/check_ssl --warning 7 --critical 3 -H $HOSTADDRESS$ -p 443 --cn $ARG1$
}

define command{
    command_name    check_ssl_on_port
    command_line    $USER1$/check_ssl --warning 60 --critical 30 -H $HOSTADDRESS$ --cn $ARG1$ -p $ARG2$
}
define command{
    command_name    check_ssl_on_port_letsencrypt
    command_line    $USER1$/check_ssl --warning 7 --critical 3 -H $HOSTADDRESS$ --cn $ARG1$ -p $ARG2$
}

define command{
    command_name    check_ssl_on_host_port
    command_line    $USER1$/check_ssl --warning 60 --critical 30 --cn $ARG1$ -H $ARG2$ -p $ARG3$
}
define command{
    command_name    check_ssl_on_host_port_letsencrypt
    command_line    $USER1$/check_ssl --warning 7 --critical 3 --cn $ARG1$ -H $ARG2$ -p $ARG3$
}

# check SSL certs on LDAP servers
define command{
    command_name    check_ssl_ldap
    command_line    $USER1$/check_ssl --warning 60 --critical 30 -H $HOSTADDRESS$ -p 636 --cn $ARG1$
}
define command{
    command_name    check_ssl_ldap_letsencrypt
    command_line    $USER1$/check_ssl --warning 7 --critical 3 -H $HOSTADDRESS$ -p 636 --cn $ARG1$
}
