# special Wikimedia-specific check for cache terminators' "unified" certificate
# with OCSP stapling and SAN list verification, separately for different
# authalgs (RSA and ECDSA).  It checks without any SNI sent, to ensure this is
# the default cert for non-SNI clients as well.
#
# $ARG1$ - Auth algorithm (RSA or ECDSA)
# $ARG2$ - CN to send in SNI and verify against
# $ARG3$ - Comma-separated list of SAN elements which must be present in SubjectAltNames of the server cert.

define command{
    command_name    check_ssl_unified
    command_line    $USER1$/check_ssl -H $HOSTADDRESS$ -p 443 --no-sni --ocsp must-staple --authalg '$ARG1$' --cn '$ARG2$' --sans '$ARG3$'
}
