# Verify a SSL certificate is valid and not going to expire
define command{
    command_name    check_ssl_http
    command_line    $USER1$/check_ssl --warning 60 --critical 30 -H $HOSTADDRESS$ -p 443 --cn $ARG1$
}

# check SSL certs on LDAP servers
define command{
    command_name    check_ssl_ldap
    command_line    $USER1$/check_ssl --warning 60 --critical 30 -H $HOSTADDRESS$ -p 636 --cn $ARG1$
}
