# check that the ARG1 systemd unit's last run ran successfully
define command {
    command_name    nrpe_check_systemd_unit_result
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_systemd_unit_result $ARG1$
}
