# This file is managed by puppet
# Generic checks for graphite
define command{
    command_name    check_graphite_threshold
    command_line    $USER1$/check_graphite -U $ARG1$ -T $ARG2$ check_threshold '$ARG3$' -W $ARG4$ -C $ARG5$ --from $ARG6$ --until $ARG7$ --perc $ARG8$ $ARG9$
}

define command{
    command_name    check_graphite_series_threshold
    command_line    $USER1$/check_graphite -U $ARG1$ -T $ARG2$ check_series_threshold '$ARG3$' -W $ARG4$ -C $ARG5$ --from $ARG6$ --until $ARG7$ --perc $ARG8$ $ARG9$
}
