# Checks that a service works according to its spec
#
# ARG1 is the service url
# ARG2 is the timeout in seconds
define command{
       command_name    check_wmf_service
       command_line    $USER1$/check_wmf_service -t $ARG2$ $HOSTNAME$ $ARG1$
} 
