# check that the systemd unit ARG1 has been run no more than ARG2 hours ago (ARG3 critical)
define command {
    command_name    nrpe_check_systemd_unit_lastrun
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_systemd_unit_lastrun $ARG1$ $ARG2$ $ARG3$
}
