# This is exactly like default check_ifstatus, but automatically exludes
#  router interfaces with descriptions that =~ /\bno-mon\b/ in -I mode
define command{
    command_name    check_ifstatus_nomon
    command_line    $USER1$/check_ifstatus_nomon -H $HOSTADDRESS$ -v 2 -I -C $ARG1$
}
