# special Wikimedia-specific check that checks *all* domains and requires stapling
define command{
    command_name    check_sslxNN
    command_line    $USER1$/check_sslxNN -H $HOSTADDRESS$ -p 443 -o must-staple
}
