# 'check_dig' command definition
# -H is for the DNS server of choice
# -l is the hostname to resolve
#
# There is an available '-a' option
# for whitelisting acceptable responses but it
# is broken in subtle ways.
#
define command{
	command_name    check_dig
	command_line    /usr/lib/nagios/plugins/check_dig -w 1 -c 3 -H $ARG1$ -l $ARG2$
}

define command{
	command_name    check_dig_tcp
	command_line    /usr/lib/nagios/plugins/check_dig -w 1 -c 3 -H $ARG1$ -l $ARG2$ -A "+tcp"
}
