# 'check_pop' command definition
#define command {
#	command_name	check_pop
#	command_line	/usr/lib/nagios/plugins/check_pop -H '$HOSTADDRESS$'
#}


# 'check_smtp' command definition
#define command {
#	command_name	check_smtp
#	command_line	/usr/lib/nagios/plugins/check_smtp -H '$HOSTADDRESS$'
#}

# 'check_ssmtp' command definition
define command {
	command_name	check_ssmtp
	command_line	/usr/lib/nagios/plugins/check_ssmtp -H '$HOSTADDRESS$'
}

# 'check_imap' command definition
define command {
	command_name	check_imap
	command_line	/usr/lib/nagios/plugins/check_imap -H '$HOSTADDRESS$'
}

# 'check_spop' command definition
define command {
	command_name	check_spop
	command_line	/usr/lib/nagios/plugins/check_pop -p 995 -H '$HOSTADDRESS$' -S
}


# 'check_simap' command definition
define command {
	command_name	check_simap
	command_line	/usr/lib/nagios/plugins/check_imap -p 993 -H '$HOSTADDRESS$' -S
}

# 'check-mailq' for sendmail
define command {
        command_name    check_mailq_sendmail
	command_line    /usr/lib/nagios/plugins/check_mailq -w '$ARG1$' -c '$ARG2$' -M sendmail
}

# 'check-mailq' for postfix
define command {
        command_name    check_mailq_postfix
	command_line    /usr/lib/nagios/plugins/check_mailq -w '$ARG1$' -c '$ARG2$' -M postfix
}

# 'check-mailq' for exim
define command {
        command_name    check_mailq_exim
	command_line    /usr/lib/nagios/plugins/check_mailq -w '$ARG1$' -c '$ARG2$' -M exim
}

# 'check-mailq' for qmail
define command {
        command_name    check_mailq_qmail
	command_line    /usr/lib/nagios/plugins/check_mailq -w '$ARG1$' -c '$ARG2$' -M qmail
}

####
# use these checks, if you want to test IPv4 connectivity on IPv6 enabled systems
####

# 'check_pop_4' command definition
define command {
        command_name    check_pop_4
        command_line    /usr/lib/nagios/plugins/check_pop -H '$HOSTADDRESS$' -4
}

# 'check_smtp_4' command definition
define command {
        command_name    check_smtp_4
        command_line    /usr/lib/nagios/plugins/check_smtp -H '$HOSTADDRESS$' -4
}

# 'check_ssmtp_4' command definition
define command {
        command_name    check_ssmtp_4
        command_line    /usr/lib/nagios/plugins/check_ssmtp -H '$HOSTADDRESS$' -4
}

# 'check_imap_4' command definition
define command {
        command_name    check_imap_4
        command_line    /usr/lib/nagios/plugins/check_imap -H '$HOSTADDRESS$' -4
}

# 'check_spop_4' command definition
define command {
        command_name    check_spop_4
        command_line    /usr/lib/nagios/plugins/check_pop -p 995 -H '$HOSTADDRESS$' -S -4
}

# 'check_simap_4' command definition
define command {
        command_name    check_simap_4
        command_line    /usr/lib/nagios/plugins/check_imap -p 993 -H '$HOSTADDRESS$' -S -4
}
