# custom command to check phabricator behind misc-web
# using the -S should also give us cert expiry monitoring
# we are also checking for string 'Wikimedia' to be in there
# so it should trigger if 200 but shows something else
define command{
	command_name	check_https_phabricator
	command_line	/usr/lib/nagios/plugins/check_http -S -H 'phabricator.wikimedia.org' -I misc-web-lb.eqiad.wikimedia.org -u 'https://phabricator.wikimedia.org/' -s 'Wikimedia and MediaWiki'
	}
