</style>

<script src="/r/static/gerritLogin.cache.js?3"></script>

<style>
/* Local overrides for Wikimedia. Tested on Gerrit 2.13.9 */

#error_message {
    flex: 1;
    width: auto;
    border: 1px solid #ffa2a2;
    background: #f55;
    padding: 10px;
    margin: 0 0 15px;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
}

/**
 * LDAP login
 */
#login_form {
    position: relative;
    background: rgba(255, 255, 255, .75);
    width: 350px;
    padding: 80px 40px 40px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 50px -16px rgba(0, 0, 0, .8);
    -moz-box-shadow: 5px 5px 50px -16px rgba(0, 0, 0, .8);
    -ms-box-shadow: 5px 5px 50px -16px rgba(0, 0, 0, .8);
    box-shadow: 5px 5px 50px -16px rgba(0, 0, 0, .8)
}

#login_form:before {
    background-image: url(/r/static/wikimedia-codereview-logo.cache.png);
    background-image: linear-gradient(transparent,transparent), url(/r/static/wikimedia-codereview-logo.cache.svg);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    position: absolute;
    top: 0;
    height: 168px;
    width: 350px
}

#login_form table {
    display: flex;
    padding-top: 100px
}

#login_form table tbody {
    flex: 1
}

#login_form table tbody th, #login_form table tbody tr:nth-child(3) td:first-child,
#login_form table tbody tr:nth-child(4) td:first-child {
    display: none
}

#login_form table tbody td {
    flex: 1;
    -ms-flex: 1 0 auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    -ms-flex-direction: column
}

#login_form table tbody tr {
    display: flex;
    justify-content: center;
    flex-direction: row
}

#login_form table tbody tr:nth-child(3) {
    margin-bottom: 30px
}

#login_form table tbody tr:nth-child(3) td, #login_form table tbody tr:nth-child(4) td {
    flex-direction: row
}

#login_form input[type=text], #login_form input[type=password] {
    border: 0;
    border-left: 5px solid #ff8700;
    background: #ebebeb;
    padding: 0 15px;
    height: 40px;
    margin-bottom: 15px;
    color: #585858;
    font-size: 1em;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}

#login_form input[type=text]:-moz-placeholder, #login_form input[type=text]:-ms-input-placeholder,
#login_form input[type=text]:-webkit-input-placeholder, #login_form input[type=password]:-moz-placeholder,
#login_form input[type=password]:-ms-input-placeholder, #login_form input[type=password]:-webkit-input-placeholder {
    color: #afafaf
}

#login_form input[type=text]:focus, #login_form input[type=password]:focus {
    background: #fafafa
}

#login_form a#cancel_link, #login_form input[type=submit] {
    flex: 1;
    align-self: center;
    border: 0;
    border-bottom: 5px solid #ff8700;
    background: #ebebeb;
    padding: 0 15px;
    height: 50px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.2em;
    text-decoration: none;
    color: #585858;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}

#login_form a#cancel_link:focus, #login_form a#cancel_link:hover,
#login_form input[type=submit]:focus, #login_form input[type=submit]:hover {
    color: #ff8700;
    background: #fafafa
}

#login_form a#cancel_link {
    margin-left: 30px;
    margin-top: 3px;
    line-height: 45px;
    height: 45px;
    text-align: center
}

#login_form #f_remember + label {
    color: #8b8b8b;
    line-height: 20px
}

#login_form #f_remember + label:focus, #login_form #f_remember + label:hover {
    color: #585858
}

#login_form #f_remember {
    position: absolute;
    opacity: 0
}

#login_form #f_remember + label {
    position: relative;
    cursor: pointer;
    padding: 0
}

#login_form #f_remember + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-bottom;
    width: 20px;
    height: 20px;
    background: #fff
}

#login_form #f_remember:checked + label:before, #login_form #f_remember:hover + label:before {
    background: #ff8700
}

#login_form #f_remember:focus + label:before {
    background: #ff8700;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}

#login_form #f_remember:disabled + label {
    color: #b8b8b8;
    cursor: auto
}

#login_form #f_remember:disabled + label:before {
    box-shadow: none;
    background: #ddd
}

#login_form #f_remember:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
    transform: rotate(45deg)
}

/* Login Handling */
/* Background image handling */
html.loginParent { height: 100%; }
html.loginParent body {
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(/r/static/2006-12-28_10h26_33.jpg) !important;
    background-position: center center !important;
    background-repeat:  no-repeat !important;
    background-attachment: fixed !important;
    background-size:  cover !important;
    background-color: #999 !important;
}

html.loginParent .gerritBody:after {
    content: "Image by Damien Boilley";
}

html.loginParent body .wm-gerrit-heading {
    background-image: none;
}

/* Hide old components */
html.loginParent body #gerrit_topmenu { display: none; }
html.loginParent body #gerrit_header { display: none; }
html.loginParent body #gerrit_body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: both;
}
html.loginParent body #gerrit_body h1 {
    display: none;
}
html.loginParent .wikimedia-footer { position: inherit; }

.com-google-gerrit-client-diff-CommentBox-Style-commentWidgets {
    /*
     * Fixes IE copying text
     *
     * https://bugs.chromium.org/p/gerrit/issues/detail?id=4647
     */
    -ms-user-select: text !important;
    /* For browsers that doint prefix there css */
    user-select: text;
}

/**
 * Add word wrapping for commit messages, so horizontal scrolling isn't needed,
 *               and for inline review messages, so we can write code there.
 */
.com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-text {
    white-space: pre-wrap !important;
}

/**
 * General
 */
body, .gwt-DialogBox .dialogMiddleCenter {
    color: #353535 !important;
    background: #fff url(/r/static/page-bkg.cache.jpg) no-repeat 0 0 !important;
    position: static;
}

a,
a:visited {
    color: #0654ac !important;
    text-decoration: none;
}

a:hover {
    color: #0654ac !important;
    text-decoration: underline;
}

/* Make the repo links turn blue */
table.changeTable a.gwt-Anchor {
    color: #0654ac !important;
}

/* Search queries / Dashboards
 * have links in every cell, make those easier on the eyes
 */
.GJEA35ODNB a.gwt-InlineHyperlink {
    color: #222 !important;
}

/**
 * The logo uses position absolute because the HTML generated by Gerrit
 * creates the header as a sibling *after* the menu instead of before it.
 * As such, the only reliable way to render to the left of it, is either
 * with fragile negative offsets, or by using absolute position.
 *
 * The logo is taller than gerrit_topmenu. As such, a later CSS rule
 * ensures gerrit_topmenu has a minimum height that accomodates the
 * logo as well, to avoid page content from overlapping the logo.
 */
#gerrit_header {
    display: block !important;
}

.wm-gerrit-heading {
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px 13px;
    padding: 0;
    /* This font and color aren't used since there is an image there,
     * but is kept for consistency when used for display of alt-text
     */
    font-weight: normal;
    letter-spacing: -1px;
    color: #990000;
    min-height: 60px;
    min-width: 60px;
    background: transparent no-repeat 0 0;
    background-image: url(/r/static/wikimedia-codereview-logo.cache.png);
    background-image: linear-gradient(transparent,transparent), url(/r/static/wikimedia-codereview-logo.cache.svg);
    text-indent: -9999px;
    overflow: hidden;
}

/**
 * Top menu (navigation)
 */
#gerrit_topmenu {
    position: relative;
    top: 0;
    left: 85px;
    margin-right: 200px;
    background: none;
    /* Make sure it is above the logo or we can not clck the sub menu items */
    z-index: 1;
    /* Ensure logo is not cut off by page content */
    /* 74px = 60px height + (2 x 7px) margin */
    min-height: 74px;
}

#gerrit_topmenu tbody tr td table {
    border: 0;
}

/* Line between tabs and the corresponding sub menu */
#gerrit_topmenu tbody tr td table.gwt-TabBar {
    border-bottom: 1px solid #DDD;
}

.gwt-TabBarItem {
    color: #353535;
    border-bottom: 3px solid transparent;
    border-right: 0 !important;
}

.gwt-TabBarItem-selected {
    color: #990000 !important;
    border-bottom-color: #990000;
}

.gwt-TabBar .gwt-TabBarItem,
.gwt-TabBar .gwt-TabBarRest,
.gwt-TabPanelBottom {
    background: 0 !important;
}

/**
 * Top menu (user + search)
 */

/* Give the search button more breathing room
 * around the label so that it is more readable
 * and also matches the height if the input field
 */
#gerrit_topmenu .gwt-Button {
    padding: 3px 6px;
}

/**
 * https://phabricator.wikimedia.org/T46895
 * Gerrit commit message font is too small
 */
.com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-text {
    font-size: 9pt !important;
}

/**
 * https://phabricator.wikimedia.org/T42941
 * Gerrit diff font isn't big enough, either
 */
.com-google-gerrit-client-diff-DiffTable_BinderImpl_GenCss_style-table .CodeMirror {
    font-size: 9pt !important;
}
.com-google-gerrit-client-diff-CommentBox-Style-commentWidgets {
    font-size: small !important;
}

/* Changes for gerrit 2.12 */
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-infoColumn {
    width: 100% !important;
    min-width: 400px;
}

#change_infoTable {
  border-collapse: collapse;
}

#change_infoTable th {
  padding: 2px 4px 2px 6px;
  background-color: #eee;
  font-style: italic;
  text-align: left;
}

#change_infoTable td {
  padding: 2px 4px 2px 6px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

#change_infoTable tr:last-child td {
  border: none;
}

/** Zuul test result. From OpenStack Foundation */
.ci_comment_test_name {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: auto !important;
    width: 25em;
    min-width: 20em;
    padding-bottom: 2pt;
}

.ci_comment_test_result {
}

.ci_result_SUCCESS {
    color: #007f00;
}
.ci_result_FAILURE {
    color: #cf2f19;
}
.ci_result_UNSTABLE {
    color: #e39f00;
}
.ci_result_LOST {
    color: #e39f00;
}
li.ci_comment_test { list-style-type: none; }

.wikimedia-footer {
  color: #a0adcc;
  position: absolute;
  padding: 0 0.5em;
}

/**
 * Overrides strange css in gerrit where editor header is only 16px
 */
.screen .com-google-gerrit-client-editor-EditScreen_BinderImpl_GenCss_style-header {
  height: auto;
}

/**
 * Styles for pipeline
 *
 * FIXME: this is both in static/gerrit-theme.html and here until we move to 2.16, after which, this can be removed
 */
#output span.wmf-badge-logo,
.wmf-badge-logo {
  display: inline-block;
  background: url(/r/static/wikimedia-codereview-logo.cache.svg) no-repeat left/contain rgba(255, 255, 255, 1);
  margin: 0 1rem 1rem 0;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 0.5em;
  border: 1px solid gainsboro;
}

#output span.wmf-badge-left,
.wmf-badge-left {
  display: inline-block;
  background: rgba(0,0,0,0.7);
  padding: 0.25em 0.5em;
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  border-radius: 0.5em 0 0 0.5em;
  text-shadow: 1px 1px 1px black;
}

#output span.wmf-badge-SUCCESS,
.wmf-badge-SUCCESS {
  display: inline-block;
  background: #339966;
  padding: 0.25em 0.5em;
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
  border-radius: 0 0.5em 0.5em 0;
  text-shadow: 1px 1px 1px black;
}

#output span.wmf-badge-FAILURE,
.wmf-badge-FAILURE {
  display: inline-block;
  background: #990000;
  padding: 0.25em 0.5em;
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
  border-radius: 0 0.5em 0.5em 0;
  text-shadow: 1px 1px 1px black;
}
