profile::prometheus::ops::blackbox_pingthing_http_check_urls:
- https://de.wikipedia.org/wiki/Main_Page
- https://donate.wikimedia.org/
- https://dsb.wikipedia.org/wiki/Main_Page
- https://dumps.wikimedia.org/backup-index.html
- https://en.wikinews.org/wiki/Main_Page
- https://en.wikipedia.org/wiki/Special:Random
- https://en.wikiquote.org/wiki/Main_Page
- https://en.wikisource.org/wiki/Main_Page
- https://en.wikiversity.org/wiki/Main_Page
- https://en.wikivoyage.org/wiki/Main_Page
- https://en.wiktionary.org/wiki/Main_Page
- https://fi.wikipedia.org/wiki/Main_Page
- https://fr.wikipedia.org/wiki/Main_Page
- https://frdata.wikimedia.org/
- https://login.wikimedia.org/wiki/Main_Page
- https://meta.wikimedia.org/static/images/footer/wikimedia-button.svg
- https://payments-listener.wikimedia.org/adyen
- https://payments.wikimedia.org/index.php/Special:SystemStatus
- https://secure.wikimedia.org/wikipedia/en/wiki/Main_Page
- https://uk.wikipedia.org/wiki/Main_Page
- https://wikimedia.org
- https://www.mediawiki.org/wiki/MediaWiki
- https://www.wiktionary.org
- https://phab.wmfusercontent.org

# NOTE: These URLs need outgoing proxy support as they are not in our infra T303803
profile::prometheus::ops::blackbox_pingthing_proxied_urls:
- https://store.wikimedia.org
- https://wikimediafoundation.org/wiki/Home
- https://blog.wikimedia.org
- https://policy.wikimedia.org
- https://status.wikimedia.org
- https://wikitech-static.wikimedia.org/wiki/Main_Page

profile::prometheus::ops::alerting_relabel_configs_extra:
  - target_label: team
    source_labels: [cluster]
    regex: "(wmcs)"
    action: replace
