# This file is managed by puppet
#
# Basic checks for all labs hosts

# Check that all mounts have at least 10% free space (for warn), 5% (for crit)
define service {
        check_command                  check_graphite_series_threshold!https://graphite-labs.wikimedia.org!10!$HOSTNOTES$.$HOSTNAME$.diskspace.*.byte_percentfree!15!10!10min!0min!1!--under --allow-undefined
        hostgroup_name                 role::labs::instance
        service_description            Free space - all mounts
        use                            generic-service
}


# Check for puppet failure events
define service {
        check_command                  check_graphite_threshold!https://graphite-labs.wikimedia.org!10!$HOSTNOTES$.$HOSTNAME$.puppetagent.failed_events!2!3!90min!0min!1!--over
        hostgroup_name                 role::labs::instance
        service_description            Puppet errors
        use                            generic-service
}

# Dependency on wikitech for puppet failures, since puppet
# hits wikitech for hiera values
define servicedependency {
        dependent_hostgroup_name        role::labs::instance
        dependent_service_description   Puppet errors
        service_description             Wikitech main page
        execution_failure_criteria      c
        notification_failure_criteria   c
}

# Dependency on labs puppetmaster for puppet failures
define servicedependency {
        dependent_hostgroup_name        role::labs::instance
        dependent_service_description   Puppet errors
        service_description             Labs Puppetmaster HTTPS
        execution_failure_criteria      c
        notification_failure_criteria   c
}

# Check for puppet staleness
define service {
        check_command                  check_graphite_threshold!https://graphite-labs.wikimedia.org!10!$HOSTNOTES$.$HOSTNAME$.puppetagent.time_since_last_run!3600!43200!10min!0min!1!--over
        hostgroup_name                 role::labs::instance
        service_description            Puppet staleness
        use                            generic-service
}

# Check if ssh is running
define service {
        hostgroup_name                 role::labs::instance
        service_description            SSH
        use                            generic-service
        check_command                  check_ssh
}
