###
####    This file managed by puppet.
###


[client]
port    = 3306
socket  = /run/mysqld/mysqld.sock

[mysqld_safe]
socket    = /run/mysqld/mysqld.sock
nice      = 0

[mysqld]
user      = mysql
pid-file  = /run/mysqld/mysqld.pid
socket    = /run/mysqld/mysqld.sock
port      = 3306
basedir   = /usr
datadir   = /srv/mysql/data
tmpdir    = /tmp
skip-external-locking


bind_address    = 0.0.0.0


key_buffer         = 1M
max_allowed_packet = 16M
thread_stack       = 192K
thread_cache_size  = 300
myisam-recover     = BACKUP
query_cache_limit  = 1M
query_cache_size   = 16M
log_error          = /var/log/mysql/mysql.err
expire_logs_days   = 10
max_binlog_size    = 100M



sql_mode  = 


[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]

[isamchk]
key_buffer    = 16M

!includedir /etc/mysql/conf.d/

