# esams specific configuration settings

# Select interface that has a link
d-i	netcfg/choose_interface	select	auto

d-i	netcfg/disable_dhcp	boolean	true
# ip address is taken from DHCP, rest is set here
d-i	netcfg/get_domain	string	esams.wikimedia.org
d-i	netcfg/get_netmask	string	255.255.255.128
d-i	netcfg/get_gateway	string	91.198.174.1
d-i	netcfg/get_nameservers	string	91.198.174.6 208.80.152.131
d-i	netcfg/confirm_static	boolean	true

# get_domain should be set, get_hostname is overwritten by DHCP
#d-i    netcfg/get_hostname     string unassigned-hostname
d-i     netcfg/get_domain       string esams.wikimedia.org

### Mirror settings
d-i	mirror/country	select	NL
d-i	mirror/http/countries	select	NL
d-i	mirror/http/mirror	select	nl.archive.ubuntu.com
d-i	mirror/http/directory	string	/ubuntu/
d-i	mirror/http/proxy	string

# NTP
d-i	clock-setup/ntp-server	string	ntp.esams.wikimedia.org

# ssmtp settings
ssmtp	ssmtp/mailhub		string	pascal.esams.wikimedia.org
ssmtp	ssmtp/fromoverride	boolean	true
