# Phabricator's phd

start() {
        initlog -c "echo -n Starting phd service: "
        /srv/phab/phabricator/bin/phd start
        success $"PHD service startup"
}

stop() {
        initlog -c "echo -n Stopping PHD service: "
        /srv/phab/phabricator/bin/phd stop
        echo
}

### main logic ###
case "$1" in
  start)
        env PHABRICATOR_ENV=phd
        start
        ;;
  stop)
        env PHABRICATOR_ENV=phd
        stop
        ;;
  status)
        env PHABRICATOR_ENV=phd
        status FOO
        ;;
  restart|reload)
        env PHABRICATOR_ENV=phd
        stop
        start
        ;;
  *)
        echo $"Usage: $0 {start|stop|restart|reload|status}"
        exit 1
esac

exit 0
