[Unit]
Description=Phabricator Secure Shell server
After=network.target auditd.service
ConditionPathExists=!/etc/ssh/sshd_not_to_be_run

[Service]
EnvironmentFile=-/etc/default/ssh
Environment="PHABRICATOR_ENV=phd"
ExecStart=/usr/sbin/sshd -D -f <%= @sshd_config %>
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=ssh-phab.service
