<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>Wikimedia People</title>
<meta name="robots" content="index,follow">
<style>
body {
	background: #fff;
	margin: 1% auto 0;
	max-width: 800px;
	padding: 2em 1em 1em;
	font: 14px/21px sans-serif;
	color: #333;
}
</style>
<h1>Welcome to <%= @sitename %></h1>
<p>
This web server provides public HTML directories for some
Wikimedia staff, contractors, and volunteers.
</p>
<p>
See <a href="https://wikitech.wikimedia.org/wiki/People.wikimedia.org">Wikitech</a> for more information.
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/File:Wikimedia_Hackathon_Prague_2019_-_Group_Photo_-_CLK.png">
<img alt="Photo of participants at the Wikimedia Hackathon 2019 in Prague." src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Wikimedia_Hackathon_Prague_2019_-_Group_Photo_-_CLK.png/640px-Wikimedia_Hackathon_Prague_2019_-_Group_Photo_-_CLK.png" height="428" width="640" style="display: block; margin: 0 auto;"/>
</a>
</p>
<p style="font-size: 80%;">
"<a href="https://commons.wikimedia.org/wiki/File:Wikimedia_Hackathon_Prague_2019_-_Group_Photo_-_CLK.png">Wikimedia Hackathon Prague 2019 - group photo - CLK.png</a>"
 by ©&nbsp;<a href="https://commons.wikimedia.org/wiki/User:Ckoerner" title="User:Ckoerner">Ckoerner</a>
<span class="int-own-work">Own work</span>. Licensed under
<a title="Creative Commons Attribution-Share Alike 4.0 International" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>
via <a href="https://commons.wikimedia.org/">Wikimedia Commons</a>.
</p>
</html>
