{% extends "horizon/common/_modal_form.html" %}
{% load i18n horizon humanize %}

{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-header %}{% trans "Remove" %} {{ puppetrole.name }} {% endblock %}

{% block modal-body %}
<div class="row">
 <div class="col-sm-6" style="width: {% if puppetrole.docs %}38{% else %}100{% endif %}%">
  <h3>Are you sure you want to remove this role?</h3>
 </div>
 {% if puppetrole.docs %}
  <div class="col-sm-6" style="width: 62%;">
   <h3>{{ DocsCaption }}</h3>
   <p>
    <font size="1"><pre>{{ puppetrole.docs }}</pre></font>
   </p>
  </div>
 {% endif %}
</div>
{% endblock %}
