# 'check_ssh' command definition
#define command{
#	command_name	check_ssh
#	command_line	/usr/lib/nagios/plugins/check_ssh '$HOSTADDRESS$'
#	}

# 'check_ssh_port' command definition
define command{
	command_name    check_ssh_port
	command_line    /usr/lib/nagios/plugins/check_ssh -p '$ARG1$' '$HOSTADDRESS$'
	}

####
# use these checks, if you want to test IPv4 connectivity on IPv6 enabled systems
####

# 'check_ssh_4' command definition
define command{
        command_name    check_ssh_4
        command_line    /usr/lib/nagios/plugins/check_ssh -4 '$HOSTADDRESS$'
        }

# 'check_ssh_port_4' command definition
define command{
	command_name    check_ssh_port_4
	command_line    /usr/lib/nagios/plugins/check_ssh -4 -p '$ARG1$' '$HOSTADDRESS$'
	}
