<div class="card article">
    <div class="card-content">
        <div class="media">
            <div class="media-content has-text-centered">
                <p class="title article-title"><a class="boxh2" href="__url__">__title_no_link__</a></p>
                <div class="tags has-addons level-item">
                    <span class="tag is-rounded">__date__ UTC</span>
                </div>
            </div>
        </div>
        <div class="content article-body">
            __description__
        </div>
    </div>
</div>