<div class="channelgroup __feedclass__">
	<div class="row itemRow">
		<div class="col-12 col-md-12 col-lg-12 col-xl-12 ">
			<div class="box" class="item feed-__feed_hash__ feed-__feed-id__" id="item-__hash__">
				<div class="row" style="border-bottom:1px solid #BDC3C7; margin-bottom:1%;">
					<table class="table borderless table-sm">
						<tr>
							<td style="vertical-align:bottom;">
								<div class="row" style="margin-top:15px;">
									<div class="col-lg-8">
										<a href="__blogurl__">__name__ __if_handle__(__handle__)__endif__</a>
									</div>
									<div class="col-lg-4 dtdate">
										<a href="__url__">__date__ UTC</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="vertical-align:bottom;">
								<div class="row">
									<div class="col-lg-12 col-12">
										<h4><a class="boxh2" href="__url__">__title_no_link__</a></h4>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="row">
					<div class="col-lg-12 col-12 descript">
						__description__
					</div>
				</div>
			</div>
		</div>
	</div>
</div>