# pmtpa specific configuration settings

# get_domain should be set, get_hostname is overwritten by DHCP
d-i	netcfg/get_domain	string wikimedia.org

# ip address is taken from DHCP, rest is set here
d-i	netcfg/get_netmask	string	255.255.255.192
d-i	netcfg/get_gateway	string	208.80.153.129
d-i	netcfg/get_nameservers	string	208.80.154.239 91.198.174.6
d-i	netcfg/confirm_static	boolean	true

# NTP
d-i	clock-setup/ntp-server	string	ntp.pmtpa.wmnet
