<!-- PAGE-BEGIN-ITEM -->
<div class="item" id="parent__hash__" >
    <div class="itemheader feed-__feed_hash__ feed-__feed_id__" id="header__hash__" onclick="toggle('item__guid__');">
        <h4 class="itemtitle unread"><a class="rightArrow">>> </a><a href="__url__" class="titleName">__title_no_link__</a></h4>
        <p class="itembyline">
          __if_author__by __author____endif__
          in __feed_title__
          __if_date__at __date____endif__
        </p>
    </div>
    __if_description__<div class="itemdescription" id="item__guid__">
        __description__
    </div>__endif__
</div>
<!-- PAGE-END-ITEM -->
