########################
##                    ##
## Managed by puppet  ##
##                    ##
########################

# configs for installing via netboot

# Generally we'll do a basic server install.
d-i	preseed/include	string	common.cfg passwd.cfg override.cfg

d-i	preseed/include_command	string	\
	case $(ip address show dev eth0 | egrep '^[[:space:]]+inet' | cut -d ' ' -f 8) in \
		208.80.152.191) echo subnets/pmtpa.cfg ;; \
		208.80.153.191) echo subnets/pmtpa-pub-svc2.cfg ;; \
		208.80.152.127) echo subnets/pmtpa-squid.cfg ;; \
		10.0.255.255) echo subnets/pmtpa-internal.cfg ;; \
		10.4.16.255) echo subnets/pmtpa-virt.cfg ;; \
		208.80.154.63) echo subnets/public1-a-eqiad.cfg ;; \
		208.80.154.191) echo subnets/public1-b-eqiad.cfg ;; \
		10.64.3.255) echo subnets/private1-a-eqiad.cfg ;; \
		10.64.19.255) echo subnets/private1-b-eqiad.cfg ;; \
		91.198.174.127) echo subnets/esams.cfg ;; \
	esac; \
	\
	case $(debconf-get netcfg/get_hostname) in \
		amssq*|cp[1-3]0[0-4][0-9]|knsq[0-9]|knsq[1-2][0-9]|knsq30|sq[3-8][0-9]) echo partman/cp.cfg ;; \
		strontium|palladium) echo partman/lvm.cfg ;; \
		snapshot[1-4]) echo partman/snapshot.cfg ;; \
		bayes|db[0-5][0-9]|db10[0-4][0-9]|es100[0-9]|es[0-9]) echo partman/es.cfg ;; \
		amslvs*) echo partman/squid-raid1.cfg ;; \
		ekrem) echo partman/raid1.cfg ;; \
		searchidx*) echo partman/searchidx.cfg ;; \
		search[0-9]*) echo partman/search.cfg ;; \
		mw[0-9][0-9]|srv[3-9]*|srv1[0-9][0-9]|srv2[0-9][0-9]|srv30[0-1]) echo partman/apache.cfg ;; \
		ssl[1-3]0[0-9][0-9]|ssl[0-9]) echo partman/raid1-lvm.cfg ;; \
#		sodium) echo partman/mailserver.cfg ;; \
		ms-fe[1-2]) echo partman/raid1-250G-1partition.cfg ;; \
		ms-be[1-9]) echo partman/raid1-2TB-1partition.cfg ;; \
		msfe100[1-2]) echo partman/raid1-1T-1partition.cfg ;; \
		mw1[0-9][0-9][0-9]|bast*) echo partman/mw.cfg ;; \
		nickel) echo partman/raid1.cfg ;; \
	esac
