# pmtpa specific configuration settings

# Select interface that has a link
d-i	netcfg/choose_interface	select	auto

# get_domain should be set, get_hostname is overwritten by DHCP
#d-i	netcfg/get_hostname	string unassigned-hostname
d-i	netcfg/get_domain	string wikimedia.org

d-i    netcfg/disable_dhcp     boolean true
# ip address is taken from DHCP, rest is set here
d-i    netcfg/get_netmask      string  255.255.255.192
d-i    netcfg/get_gateway      string  208.80.154.129
d-i    netcfg/get_nameservers  string  208.80.152.131 208.80.152.132
d-i    netcfg/confirm_static   boolean true

d-i	netcfg/wireless_wep	string 

d-i	mirror/country		string enter information manually
d-i	mirror/http/hostname	string ubuntu.wikimedia.org
d-i	mirror/http/directory	string /ubuntu/
d-i	mirror/http/proxy	string

d-i	apt-setup/security_host	string	security.ubuntu.com

# NTP
d-i	clock-setup/ntp-server	string	ntp.eqiad.wmnet
