# Squid specific configuration

# Implementation specific hack:
d-i	partman-auto/init_automatically_partition	select	20some_device__________/var/lib/partman/devices/=dev=sda
# ...instead of this:
#d-i	partman-auto/init_automatically_partition	select	Erase entire disk: SCSI1 (0,0,0) (sda) - 73.4 GB SEAGATE ST373307LC

d-i	partman-auto/method	string	regular
d-i	partman-auto/disk	string	/dev/sda

d-i	partman/choose_partition	select Finish partitioning and write changes to disk
d-i	partman/confirm	boolean	true

# No swap is fine for squids
# This doesn't work and creates a loop
#d-i	partman-basicfilesystems/no_swap	boolean	false

# Do not format the last partition, use it to provide free space
d-i	partman-basicmethods/method_only	boolean	false

# Note, expert_recipe wants to fill up the entire disk
# See http://d-i.alioth.debian.org/svn/debian-installer/installer/doc/devel/partman-auto-recipe.txt
d-i	partman-auto/expert_recipe	string	squid : 3000 5000 8000 ext3 $primary{ } $bootable{ } method{ format } format{ } use_filesystem{ } filesystem{ ext3 } mountpoint{ / } . 1000 1000 1000 linux-swap method{ swap } format{ } . 64 1000 10000000 linux-swap method{ keep } .
d-i	partman-auto/choose_recipe	squid

# Preseed squid:
squid	squid/fix_cachedir_perms	boolean	false
