[Unit]
Description=parsoid-rt: Testreduce HTTP service for Parsoid roundtrip testing
After=network.target

[Service]
User=testreduce
Group=testreduce
LimitNOFILE=10K

# Basic built-in defaults. Overridden by settings in EnvironmentFile defined below.
Environment=NODE_PATH=/srv/testreduce/node_modules BASE_PATH=/srv/testreduce/server SETTINGS_FILE="/etc/testreduce/parsoid-rt.settings.js" DAEMON_ARGS='--config ${SETTINGS_FILE}' PORT=8001
EnvironmentFile=-/etc/default/testreduce 
WorkingDirectory=${BASE_PATH}
ExecStart=node server.js ${DAEMON_ARGS}
StandardInput=null
StandardOutput=journal
StandardError=journal
RestartSec=2
