[Unit]
Description=Testreduce test client for visual diffing
After=network.target

[Service]
User=testreduce
Group=testreduce
WorkingDirectory=/srv/testreduce/client
ExecStart=/usr/bin/nodejs rtclient-cluster.js -c 4 /srv/visualdiff/testreduce/parsoid-vd-client.config.js
StandardOutput=journal
StandardError=journal
RestartSec=2
