[Unit]
Description=Testing test client for Parsoid rt-testing
After=network.target

[Service]
User=testreduce
Group=testreduce
WorkingDirectory=/srv/testreduce/client
ExecStart=/usr/bin/nodejs rtclient-cluster.js -c 8 /etc/testreduce/parsoid-rt-client.config.js
StandardOutput=journal
StandardError=journal
RestartSec=2
