<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="css/vector.css" media="screen" />
  <meta name="robots" content="index,follow">
  <title>Wikimedia People</title>
</head>
<body bgcolor="#ffffff">
  <h1>Welcome to <%= @sitename %></h1>

  <p>
  This web server provides public html directories for some
  Wikimedia staff, contractors and volunteers.
  </p>

</body>
</html>
