<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>Wikimedia People</title>
<meta name="robots" content="index,follow">
<style>
body {
	background: #fff;
	margin: 1% auto 0;
	max-width: 800px;
	padding: 2em 1em 1em;
	font: 14px/21px sans-serif;
	color: #333;
}
</style>
<h1>Welcome to <%= @sitename %></h1>
<p>
This web server provides public HTML directories for some
Wikimedia staff, contractors, and volunteers.
</p>
<p>
See <a href="https://wikitech.wikimedia.org/wiki/People.wikimedia.org">Wikitech</a> for more information.
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/File:Wikimania_2015_-_Group_photo.jpg">
<img alt="Several hundred people posing for a group photo at Wikimania 2015 at Museum Soumaya in Mexico City." src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Wikimania_2015_-_Group_photo.jpg/640px-Wikimania_2015_-_Group_photo.jpg" height="425" width="640" />
</a><br>
"<a href="https://commons.wikimedia.org/wiki/File:Wikimania_2015_-_Group_photo.jpg">Wikimania_2015_-_Group_photo.jpg</a>"
 by ©&nbsp;<a href="https://commons.wikimedia.org/wiki/User:EneasMx" title="User:EneasMx">EneasMx</a>
<span class="int-own-work">Own work</span>. Licensed under
<a title="Creative Commons Attribution-Share Alike 4.0 International" href="//creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>
via <a href="https://commons.wikimedia.org/">Wikimedia Commons</a>.
</p>
</html>
