<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>Wikimedia People</title>
<meta name="robots" content="index,follow">
<style>
body {
	background: #fff;
	margin: 1% auto 0;
	max-width: 800px;
	padding: 2em 1em 1em;
	font: 14px/21px sans-serif;
	color: #333;
}
</style>
<h1>Welcome to <%= @sitename %></h1>
<p>
This web server provides public HTML directories for some
Wikimedia staff, contractors, and volunteers.
</p>
<p>
See <a href="https://wikitech.wikimedia.org/wiki/People.wikimedia.org">Wikitech</a> for more information.
</p>
<p>
<a href="https://commons.wikimedia.org/wiki/File:Wikimedia_Hackathon_Vienna_2017-05-20_GROUP_PHOTO_03_16to9.jpg">
<img alt="Group photo at Wikimedia Hackathon 2017 in Vienna, Austria." src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Wikimedia_Hackathon_Vienna_2017-05-20_GROUP_PHOTO_03_16to9.jpg/640px-Wikimedia_Hackathon_Vienna_2017-05-20_GROUP_PHOTO_03_16to9.jpg" height="360" width="640" style="display: block; margin: 0 auto;"/>
</a>
</p>
<p style="font-size: 80%;">
"<a href="https://commons.wikimedia.org/wiki/File:Wikimedia_Hackathon_Vienna_2017-05-20_GROUP_PHOTO_03_16to9.jpg">Wikimedia Hackathon Vienna 2017-05-20 GROUP PHOTO 03 16to9.jpg</a>"
 by ©&nbsp;<a href="https://commons.wikimedia.org/wiki/User:Tsui" title="User:Tsui">Manfred Werner (Tsui)</a>
<span class="int-own-work">Own work</span>. Licensed under
<a title="Creative Commons Attribution-Share Alike 4.0 International" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>
via <a href="https://commons.wikimedia.org/">Wikimedia Commons</a>.
</p>
</p>
</html>
