<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>Wikimedia People</title>
<meta name="robots" content="index,follow">
<style>
body {
	background: #fff;
	margin: 1% auto 0;
	max-width: 800px;
	padding: 2em 1em 1em;
	font: 14px/21px sans-serif;
	color: #333;
}
</style>
<h1>Welcome to <%= @sitename %></h1>
<p>
This web server provides public HTML directories for some
Wikimedia staff, contractors, and volunteers.
</p>
<p><a href="//commons.wikimedia.org/wiki/File:14-08-10-wikimania-gruppenfoto-01.jpg"><img alt="Several hundred people posing for a group photo at Wikimania 2014 in London." src="//upload.wikimedia.org/wikipedia/commons/thumb/9/92/14-08-10-wikimania-gruppenfoto-01.jpg/640px-14-08-10-wikimania-gruppenfoto-01.jpg" height="438" width="640" /></a><br>"<a href="//commons.wikimedia.org/wiki/File:14-08-10-wikimania-gruppenfoto-01.jpg">14-08-10-wikimania-gruppenfoto-01</a>" by ©&nbsp;<a href="//commons.wikimedia.org/wiki/User:Ralf_Roletschek" title="User:Ralf Roletschek">Ralf Roletschek</a> - <a rel="nofollow" class="external text" href="http://www.roletschek.de">Fahrradtechnik und Fotografie</a> - <span class="int-own-work">Own work</span>. Licensed under <a title="Creative Commons Attribution-Share Alike 3.0-at" href="//creativecommons.org/licenses/by-sa/3.0/at/deed.en">CC-BY-SA-3.0-at</a> via <a href="//commons.wikimedia.org/">Wikimedia Commons</a>.</p>
</html>
