<!DOCTYPE html>
<html lang=en>
<meta charset="utf-8">
<title>Wikimedia People</title>
<meta name="robots" content="index,follow">
<style>
body {
	background: #fff;
	margin: 7% auto 0;
	max-width: 800px;
	padding: 2em 1em 1em;
	font: 14px/21px sans-serif;
	color: #333;
}
</style>
<h1>Welcome to <%= @sitename %></h1>
<p>
This web server provides public html directories for some
Wikimedia staff, contractors and volunteers.
</p>
</html>
