[Unit]
Description=IRCd for MediaWiki RecentChanges feed
After=network.target

[Service]
User=irc
Group=irc
ExecStart=/usr/bin/ircd -foreground
ExecReload=/usr/bin/kill -HUP $MAINPID
[Install]
WantedBy=multi-user.target
