# SPDX-License-Identifier: Apache-2.0
[Unit]
Description=Conntrack Daemon
Documentation=man:conntrackd(8) man:conntrackd.conf(5)
After=networking.service
Before=keepalived.service

[Service]
Type=notify
ExecStartPre=-/bin/rm -f /var/lock/conntrackd.lock
ExecStart=/usr/sbin/conntrackd -d -C /etc/conntrackd/conntrackd.conf
Restart=on-failure
ProtectSystem=full
ProtectHome=true
WatchdogSec=120

[Install]
WantedBy=multi-user.target
