<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is the build for MediaWiki that only does unit tests. It is designed to be triggered after every commit.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>50</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.wikimedia.org/svnroot/mediawiki/trunk/phase3</remote>
        <local>mw-core</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.wikimedia.org/svnroot/mediawiki/trunk/extensions</remote>
        <local>mw-extensions</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateWithCleanUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant>
      <targets>build</targets>
      <buildFile>/var/lib/jenkins/jobs/MediaWiki-phpunit/build.xml</buildFile>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <com.thalesgroup.hudson.plugins.xunit.XUnitPublisher>
      <types>
        <com.thalesgroup.dtkit.metrics.hudson.model.PHPUnitJunitHudsonTestType>
          <pattern>logs/junit.xml</pattern>
          <faildedIfNotNew>true</faildedIfNotNew>
          <deleteOutputFiles>true</deleteOutputFiles>
          <stopProcessingIfError>true</stopProcessingIfError>
        </com.thalesgroup.dtkit.metrics.hudson.model.PHPUnitJunitHudsonTestType>
      </types>
    </com.thalesgroup.hudson.plugins.xunit.XUnitPublisher>
    <hudson.plugins.ircbot.IrcPublisher>
      <targets class="java.util.Collections$EmptyList"/>
      <strategy>FAILURE_AND_FIXED</strategy>
      <notifyOnBuildStart>false</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.SummaryOnlyBuildToChatNotifier"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers/>
</project>
