#if ( $uploader-username != $author-username  )
Change $change-number had a related patch set uploaded (by $uploader-username; owner: $author-username):
[$project] $subject
#else
Change $change-number had a related patch set uploaded (by $uploader-username):
[$project] $subject
#end

${its.formatLink($change-url)}
