#if ( $uploader-username != $author-username )
Change $change-number had a related patch set uploaded (by $uploader-name; owner: $author-name):
[$project] $subject
#else
Change $change-number had a related patch set uploaded (by $uploader-name):
[$project] $subject
#end

${its.formatLink($change-url)}
