# managed by puppet!
[Unit]
Description=SGE Master daemon
After=remote-fs.target

[Service]
User=sgeadmin
Group=sgeadmin
Restart=always
Type=forking
PidFile=/var/spool/gridengine/qmaster/qmaster.pid
# We could just place all env vars here...
EnvironmentFile=/etc/default/gridengine
ExecStart=/usr/sbin/sge_qmaster

[Install]
WantedBy=multi-user.target
Alias=sge_qmaster.service
