# SPDX-License-Identifier: Apache-2.0
# subnet specific configuration settings

# get_domain should be set, get_hostname is overwritten by DHCP
d-i	netcfg/get_domain	string	eqiad.wmnet

# ip address is taken from DHCP, rest is set here
d-i	netcfg/get_netmask	string	255.255.255.0
d-i	netcfg/get_gateway	string	10.64.149.1
d-i	netcfg/confirm_static	boolean	true

d-i	mirror/http/proxy	string	http://webproxy.eqiad.wmnet:8080

# NTP
d-i	clock-setup/ntp-server	string	ntp.eqiad.wikimedia.org
