# subnet specific configuration settings

# ip address is taken from DHCP, rest is set here
d-i	netcfg/get_domain	string	esams.wmnet
d-i	netcfg/get_netmask	string	255.255.255.0
d-i	netcfg/get_gateway	string	10.20.0.1
d-i	netcfg/get_nameservers	string	91.198.174.216 208.80.154.239
d-i	netcfg/confirm_static	boolean	true

d-i	mirror/http/proxy	string	http://webproxy.esams.wmnet:8080

# NTP
d-i	clock-setup/ntp-server	string	ntp.esams.wikimedia.org
