# Automatic software RAID 1 on the first two disks,
# 30 GB root and 1G swap.  Remaining of first two disks
# and all of other disks are made into physical ext4 partitions.
#
#   /dev/md0 is a 30G / (root) ext4 partition
#   /dev/md1 is a 1G swap partition
#   The rest of sda3,sdb3 and sd{c..l}1 are each filled with a physical ext4 partition.

d-i    partman-auto/method            string    raid
d-i    partman-md/device_remove_md    boolean   true
d-i    partman-lvm/device_remove_lvm  boolean   true

# Use the first two disks
d-i    partman-auto/disk              string    /dev/sda /dev/sdb /dev/sdc /dev/sdd /dev/sde /dev/sdf /dev/sdg /dev/sdh /dev/sdi /dev/sdj /dev/sdk /dev/sdl

# Define physical partitions
d-i    partman-auto/expert_recipe     string    multiraid ::   \
# sda1+sdb1 30G physical RAID partitions
        5000  8000  30000   raid   device{ /dev/sda }  $primary{ }  method{ raid }  \
        .\
        5000  8000  30000   raid   device{ /dev/sdb }  $primary{ }  method{ raid }  \
        .\
# sda2+sdb2 1G physical RAID partitions
        1000  1000   1000   raid   device{ /dev/sda }  $primary{ }  method{ raid }  \
        .\
        1000  1000   1000   raid   device{ /dev/sdb }  $primary{ }  method{ raid }  \
        .\
# All remaining space on all disks physical ext4 partitions
        1000  1000     -1   ext4   device{ /dev/sda }  mountpoint{ /var/spool/kafka/a }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdb }  mountpoint{ /var/spool/kafka/b }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdc }  mountpoint{ /var/spool/kafka/c }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdd }  mountpoint{ /var/spool/kafka/d }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sde }  mountpoint{ /var/spool/kafka/e }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdf }  mountpoint{ /var/spool/kafka/f }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdg }  mountpoint{ /var/spool/kafka/g }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdh }  mountpoint{ /var/spool/kafka/h }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdi }  mountpoint{ /var/spool/kafka/i }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdj }  mountpoint{ /var/spool/kafka/j }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdk }  mountpoint{ /var/spool/kafka/k }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .\
        1000  1000     -1   ext4   device{ /dev/sdl }  mountpoint{ /var/spool/kafka/l }  $primary{ }  method{ format }  format { }  use_filesystem{ }  filesystem{ ext4 }   \
        .

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> <devices> <sparedevices>
d-i    partman-auto-raid/recipe    string    \
        1    2    0    ext4    /    /dev/sda1#/dev/sdb1 \
        .\
        1    2    0    swap    -    /dev/sda2#/dev/sdb2 \
        .

d-i    partman-md/confirm               boolean   true
d-i    partman-md/confirm_nooverwrite   boolean   true
d-i    partman/confirm_write_new_label  boolean   true
d-i    partman/choose_partition         select    finish
d-i    partman/confirm                  boolean   true
d-i    partman/confirm_nooverwrite      boolean   true
