# Automatic software RAID partitioning
#
# * 4 disks, sda, sdb, sdc, sdd
# * 2 Spinning disks sda/sdb, 2 SSDs sdc/sdd
# * LVM
# * layout:
#   - /boot:      RAID1, 500MB on spinning disks
#   - /	:   ext3, RAID1, 50GB on LVM on spinning disks
#   - swap: 	  RAID1, 1G on LVM on spinning disks
#   - rest is lvm RAID1, on spinning disks
#   - SSDs as a single RAID0 unpartioned drive

d-i	partman-auto/method		string	raid
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman/alignment 		select  optimal

# Use the first two disks
d-i	partman-auto/disk	string	/dev/sda /dev/sdb
d-i	partman-auto/choose_recipe select boot-root

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		raid1-boot-root ::	\
			500	1	500	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			500	2	-1	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			50000   4	50000  ext3		\
					$lvmok{ }		\
					$defaultignore{ }	\
					lv_name{ root }		\
					method{ format }	\
					format{ }		\
					use_filesystem{ }	\
					filesystem{ ext3 }	\
					mountpoint{ / } 	\
			.					\
			1000	3	1000	linux-swap	\
				$defaultignore{ }		\
				$lvmok{ }			\
				lv_name{ swap }			\
				method{ swap }			\
				format{ }			\
			.\
		raid0-srv ::	\
			500	1	-	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string		\
		1	2	0	ext3	/boot	\
			/dev/sda1#/dev/sdb1		\
		.					\
		1	2	0	lvm	-	\
			/dev/sda2#/dev/sdb2		\
		.
		0	2	0	ext3	/srv	\
			/dev/sdc1#/dev/sdd1		\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true
d-i	partman-lvm/device_remove_lvm	boolean true
d-i	mdadm/boot_degraded		boolean	true
