# configuration to create:
#  * no RAID (hardware RAID is assumed)
#  * 300M on /boot outside of LVM
#  * the rest LVM
#  ** 20G /
#  ** 8G swap
# Differences from lvm.cfg:
# 	The name of the VG is explicitly set to ganeti

d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true

d-i 	partman-auto-lvm/new_vg_name 	string ganeti

# Define physical partitions
d-i	partman-auto/expert_recipe	string	lvm ::	\
		300 	1 	300 	ext3            \
			$primary{ }			\
			$bootable{ }			\
			method{ format }		\
			format{ }			\
			use_filesystem{ }		\
			filesystem{ ext4 }		\
			mountpoint{ /boot }		\
		.					\
		20000 	2 	20000 	ext3		\
			$defaultignore{ }		\
			$lvmok{ }			\
			lv_name{ root }			\
			method{ format }		\
			format{ }			\
			use_filesystem{ }		\
			filesystem{ ext4 }		\
			mountpoint{ / }			\
		.					\
		8000 	3 	8000 	linux-swap	\
			$defaultignore{ }		\
			method{ swap }			\
			$lvmok{ }			\
			format{ }			\
		.
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite	boolean true

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-auto/choose_recipe	lvm
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true

