# configuration to create:
#  * no RAID (hardware RAID is assumed)
#  * 300M on /boot outside of LVM
#  * LVM: 50G PV/VG named local containing:
#  ** 20G / LV
#  ** 8G swap Lv
#  * LVM: The rest one big empty PV/VG named ganeti

d-i	partman-auto/method	string lvm
d-i	partman-auto/disk	string /dev/sda

# Do force a new label
d-i	partman/confirm_write_new_label	boolean	true

# wipe md RAID
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-md/confirm_nooverwrite  boolean true

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true

d-i	partman/confirm_nooverwrite	boolean true
d-i	partman/choose_partition	select finish

d-i 	partman-auto-lvm/new_vg_name 	string local
d-i	partman/confirm			boolean	true

# Define physical partitions
# Note: strangely enough ganeti PV is before local PV. I could not find a way
# to have them in the correct order and partman not misbehave
d-i	partman-auto/expert_recipe	string	ganeti :: \
		300	300	300	ext3		\
			$primary{ }			\
			$bootable{ }			\
			method{ format }		\
			format{ }			\
			use_filesystem{ }		\
			filesystem{ ext4 }		\
			mountpoint{ /boot }		\
		.					\
		20000	20000	20000	ext3		\
			$lvmok{ }			\
			method{ format }		\
			format{ }			\
			use_filesystem{ }		\
			lv_name{ root }			\
			in_vg{ local }			\
			filesystem{ ext4 }		\
			mountpoint{ / }			\
		.					\
		8000 8000 8000 linux-swap		\
			$lvmok{ }			\
			method{ swap }			\
			lv_name{ swap }			\
			in_vg{ local }			\
			format{ }			\
		.					\
		1000	10000000	-1	ext3	\
			$primary{ }			\
			method{ lvm }			\
			device{ /dev/sda }		\
			vg_name{ ganeti }		\
		.					\
		50000	50000	50000		ext3	\
			$primary{ }			\
			method{ lvm }			\
			device{ /dev/sda }		\
			vg_name{ local }		\
		.

d-i	partman-auto-lvm/guided_size	string 80%
