# Automatic software RAID 10 with LVM partitioning
# test dm-cache T88992
#
# * /dev/sda: db-class hw-raid10 spinning disks 1.7TB
# * /dev/sdb: hw-raid raid1 SSD 256GB

# * layout:
#   - /boot: ext4 on ssd, no lvm
#   - two VG: data (hdd+ssd) and system (ssd)
#   - swap: vg-sys 1GB
#   - /: vg-sys 20GB

d-i	partman-auto/method		string	lvm
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

d-i	partman-auto/disk	string	/dev/sda /dev/sdb

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		multiraid ::	\
		40 300 300 ext3			\
			$primary{ }		\
			$bootable{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ /boot }	\
			device{ /dev/sdb }	\
		.				\
		1000 8000 1000 linux-swap	\
			method{ swap }		\
			$lvmok{ }		\
			format{ }		\
			device{ /dev/sdb }		\
			vg_name{ vg-sys }		\
		.				\
		30000 30000 30000 ext4		\
			$lvmok{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ / } 	\
			device{ /dev/sdb } 	\
			vg_name{ vg-sys } 	\
		100000 30000 -1 ext4		\
			method{ keep }	\
			device{ /dev/sdb } 	\
		500000 30000 -1 ext4		\
			$lvmok{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext4 }	\
			mountpoint{ /var/lib/carbon } 	\
			device{ /dev/sda } 	\
			vg_name{ vg-data } 	\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean true
