# Automatic software RAID 1 with LVM partitioning

d-i     partman-auto/method     string  raid

# Use the first two disks
d-i     partman-auto/disk       string  /dev/sda /dev/sdb

# Define physical partitions
d-i     partman-auto/expert_recipe      string  \
                multiraid ::							\
                        5000    8000    16000   raid				\
                                $primary{ } $lvmignore{ } method{ raid }	\
                        .							\
			64	1000	10000000	raid			\
				$primary{ } $lvmignore { } method{ raid }	\
			.							\
			4000	4000	4000	linux-swap			\
				$defaultignore{ } $lvmok{ } 			\
				lv_name{ swap } method{ swap } format{ }	\
			.							\
			100	1000	300000		xfs			\
				$defaultignore{ } $lvmok{ }			\
				lv_name{ mailman } method{ format } format{ }	\
				use_filesystem{ } filesystem{ xfs } 		\
				mountpoint{ /var/lib/mailman }			\
			.							\
			100	1000	60000		xfs			\
				$defaultignore{ } $lvmok{ }			\
				lv_name{ exim } method{ format } format{ }	\
				use_filesystem{ } filesystem{ xfs } 		\
				mountpoint{ /var/spool/exim4 }			\
			.
			

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#          <devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
		1	2	0	ext3	/			\
			/dev/sda1#/dev/sdb1				\
		.							\
		1	2	0	lvm	-			\
			/dev/sda2#/dev/sdb2				\
		.							
#		1	2	0	lvm	/var/lib/mailman	\
#			/dev/sda5#/dev/sdb5				\
#		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/device_remove_md	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-lvm/device_remove_lvm	boolean	true
