# configuration to create:
#  * no software RAID (either single disk or hardware raid presenting a single device)
#  * 300M on /boot outside of LVM
#  * the rest formatted with LVM with 80% used
#  ** 8G swap
#  ** 1T /


d-i	partman-auto/method	string	lvm
# the install makes sure we want to wipe the lvm/raid config
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-md/device_remove_md	boolean	true

# Use the hardware raid
d-i	partman-auto/disk	string	/dev/sda

# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
d-i	partman-auto/expert_recipe	string	\
		osmdb ::	\
		40 300 300 ext3			\
			$primary{ }		\
			$bootable{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ /boot }	\
		.				\
		10000 10000 10000 ext3	\
			$lvmok{ }		\
			lv_name{ root }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ / } 	\
		.				\
		8000 8000 8000 linux-swap	\
			method{ swap }		\
			$lvmok{ }		\
			lv_name { swap }	\
			format{ }		\
		.

d-i	partman-partitioning/confirm_write_new_label boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite	boolean	true

d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-lvm/confirm	boolean	true
d-i	partman-lvm/confirm_nooverwrite	true
