# configuration for a labs compute node, using an HP server.
# * Hardware raid, one small raid0 for the OS and one big raid10 for VMs.
# * no LVM

d-i     partman-auto/method             string  regular
d-i     partman/confirm                 boolean true
d-i     partman/confirm_nooverwrite     boolean true
d-i     partman-md/confirm_nooverwrite  boolean true
d-i     partman-md/device_remove_md     boolean true
d-i     partman/confirm_write_new_label boolean true
d-i     partman/choose_partition        select finish


# These servers have two kinds of drives.  In the bios they should
#  be configured into two different hardware raids -- a small one
#  for the OS and a big one for instances to live on.
# First, the OS volume:
d-i     partman-auto/disk               string  /dev/sda


# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
d-i	partman-auto/expert_recipe	string	virtOS ::  \
		40 300 300 ext3			\
			$primary{ }		\
			$bootable{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ /boot }	\
		.				\
		20000 10000 20000 ext3	\
			$lvmok{ }		\
			lv_name{ root }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ / } 	\
		.				\
		10000 8000 -1 ext3 \
			$lvmok{ }		\
			lv_name{ var }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ /var } 	\
		.
		8000 8000 8000 linux-swap	\
			method{ swap }		\
			$lvmok{ }		\
			lv_name { swap }	\
			format{ }		\
		.

d-i     partman-auto/choose_recipe      virtOS


# Now, the nova volume.  Just one giant partition.

d-i	partman-auto/disk	string	/dev/sdb

d-i	partman-auto/expert_recipe	string	 virtVM ::	\
		10000 8000 -1 ext3 \
			$lvmok{ }		\
			lv_name{ srv }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ /srv } 	\
		.

d-i     partman-auto/choose_recipe      virtVM
