# SPDX-License-Identifier: Apache-2.0
#
# Install to the Boss card (which presents as nvme0n1);
# This does its own HW RAID-1, so treat it as a single disk.
# Don't touch any existing LVM, as those are Ceph osds
#
# * Primary partitions, no RAID nor LVM, GTP
# * layout:
#   - /boot/efi : fat32, 256M (UEFI EFI System Partition or ESP)
#   - swap      : 1GB
#   - /         : ext4, rest of disk
#
# Force GPT
d-i partman-basicfilesystems/choose_label   string  gpt
d-i partman-basicfilesystems/default_label  string  gpt
d-i partman-partitioning/choose_label       string  gpt
d-i partman-partitioning/default_label      string  gpt
d-i partman/choose_label                    string  gpt
d-i partman/default_label                   string  gpt
# Clear out any left-over md-raid devices
d-i partman-md/device_remove_md boolean true
# Don't delete any LVM (these will be Ceph storage)
d-i partman-lvm/device_remove_lvm   boolean false
# The below based on flat.cfg
# Define physical partitions
d-i     partman-auto/method             string  regular
d-i     partman-auto/disk               string  /dev/nvme0n1
d-i     partman-auto/expert_recipe      string  \
                flat ::                         \
            256 256 256 fat32                   \
                $primary{ }                     \
                method{ efi }                   \
                format{ }                       \
            .                                   \
            1000    1000    1000    linux-swap  \
                method{ swap }                  \
                format{ }                       \
            .                                   \
            500 10000 -1 ext4                   \
                    $primary{ }                 \
                    $bootable{ }                \
                    method{ format }            \
                    format{ }                   \
                    use_filesystem{ }           \
                    filesystem{ ext4 }          \
                    mountpoint{ / }             \
            .

d-i     partman-auto/choose_recipe              flat

d-i     partman/choose_partition                select finish
d-i     partman/confirm                         boolean true
d-i     partman/confirm_nooverwrite             boolean true
d-i     partman/confirm_write_new_label         boolean true
