# SPDX-License-Identifier: Apache-2.0
# Casssandra JBOD configuration (based on standard-efi.cfg)
#
# Note that this configuration needs to be combined with the raid/device
# preseed configuration, raid1-2dev.cfg.  For example:
#
#  'cassandra-dev2001':
#    - partman/custom/cassandra-jbod.cfg
#    - partman/raid1-2dev.cfg
#
# See also: https://phabricator.wikimedia.org/T391544

d-i	partman-auto-lvm/guided_size	string	95%
d-i	partman-auto-lvm/new_vg_name	string	vg0
d-i	partman-auto-lvm/no_boot	boolean	true
d-i	partman-auto/choose_recipe	linuxraid
d-i	partman-auto/method		string	raid
d-i	partman-lvm/confirm		boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite	boolean	true
d-i	partman-md/device_remove_md	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman-basicfilesystems/no_mount_point boolean false

# Force GPT
d-i	partman-basicfilesystems/choose_label	string	gpt
d-i	partman-basicfilesystems/default_label	string	gpt
d-i	partman-partitioning/choose_label	string	gpt
d-i	partman-partitioning/default_label	string	gpt
d-i	partman/choose_label			string	gpt
d-i	partman/default_label			string	gpt

# Partman auto recipe
d-i	partman-auto/expert_recipe	string	\
		linuxraid	 :: 	\
			1 1 1 grub			\
				$primary{ }		\
				$lvmignore{ }		\
				method{ biosgrub }	\
			.				\
			256 256 256 fat32		\
				$primary{ }		\
				$lvmignore{ }		\
				method{ efi }		\
				format{ }		\
			.				\
			1000 1500 65000 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.				\
			1024 1024 1024 linux-swap	\
				method{ swap }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				lv_name{ swap }		\
				format{ }		\
			.				\
			1500 1550 20000 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ root }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ / }		\
			.				\
			1500 1550 -1 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ instance }	\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /srv/cassandra }	\
			.				\
			1500 1000 -1 ext4		\
				method{ format }        \
				format{ }      		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
			.
