# SPDX-License-Identifier: Apache-2.0
# Automatic software RAID 1 with LVM partitioning for the cephosd servers
#
# * 25 disks
#  -  2 x 480 GB SSD (operating system) See T324670#8497513 for details
#  -  8 x 3.6 TB SSD (hot storage tier)
#  - 12 x  16 TB HDD (cold storage tier)
#  -  1 x 6.4 TB NVMe /dev/nvme0n1 (cache device)
#
# * Partition table for O/S drives - MBR
#   - primary partition 1 - 1 GB for /dev/md0 for /boot
#   - primary partition 2 - 5 GB for /dev/md1 for swap
#   - primary partition 3 - Remaining space for /dev/md2 for LVM volume group vg00
#
# * File system layout:
#   - /boot         : ext4, RAID1
#   - /             : ext4, RAID1/LVM,  75 GB
#   - /var/lib/ceph : ext4, RAID1/LVM, 200 GB
#   - /srv          : ext4, RAID1/LVM, 100 GB
#   - 20% of vg00 is left unallocated
#
# Note that the device names (/dev/sda, /dev/sdb etc) are no longer predictable but
# are determined by a partman-early-command.sh - See #T324670

d-i partman-auto/method                 string  raid
d-i partman-md/device_remove_md         boolean true
d-i partman-lvm/device_remove_lvm       boolean false

d-i partman-basicmethods/method_only    boolean false

d-i partman-md/confirm                  boolean true
d-i partman-md/confirm_nooverwrite      boolean true
d-i partman/confirm_write_new_label     boolean true
d-i partman/choose_partition            select  finish
d-i partman/confirm                     boolean true
d-i partman/confirm_nooverwrite         boolean true

d-i partman-auto-lvm/guided_size        string  80%
d-i partman-lvm/confirm                 boolean true
d-i partman-lvm/confirm_nooverwrite     boolean true

d-i partman-basicfilesystems/no_swap    boolean false

d-i grub-installer/only_debian          boolean false


# Define physical partitions
d-i partman-auto/expert_recipe  string  multiraid :: \
    1000    1000    1000    raid                     \
        $primary{ }                                  \
        $bootable{ }                                 \
        $lvmignore{ }                                \
        method{ raid }                               \
        .                                            \
    5000    5000    5000    raid                     \
        $primary{ }                                  \
        $lvmignore{ }                                \
        method{ raid }                               \
        .                                            \
    450000  480000    -1    raid                     \
        $primary{ }                                  \
        $lvmignore{ }                                \
        method{ raid }                               \
        .                                            \
    75000 75000 75000   ext4                         \
        method{ format }                             \
        format{ }                                    \
        use_filesystem{ }                            \
        filesystem{ ext4 }                           \
        lv_name{ root }                              \
        $defaultignore{ }                            \
        $lvmok{ }                                    \
        mountpoint{ / }                              \
        .                                            \
    200000 200000 200000   ext4                      \
        method{ format }                             \
        format{ }                                    \
        use_filesystem{ }                            \
        filesystem{ ext4 }                           \
        lv_name{ var }                               \
        $defaultignore{ }                            \
        $lvmok{ }                                    \
        mountpoint{ /var/lib/ceph }                  \
        .                                            \
    100000 100000 100000   ext4                      \
        method{ format }                             \
        format{ }                                    \
        use_filesystem{ }                            \
        filesystem{ ext4 }                           \
        lv_name{ ceph }                              \
        $defaultignore{ }                            \
        $lvmok{ }                                    \
        mountpoint{ /srv }                           \
        .

# The following three parameters is now configured automatically by the
# partman-early-command.sh script since the device names associated with
# the two 480 GB SSDs disks may change. See #T324670 for more information.
# d-i partman-auto-raid/recipe string
# d-i partman-auto/disk        string
# d-i grub-installer/bootdev   string