# SPDX-License-Identifier: Apache-2.0
# Automatic software RAID partitioning
# handled in autoinstall/scripts/partman_early_command.sh
#
# * two disks, selected by partman_early_command (SSD)
# * primary partitions, no LVM (but LVM on other devices preserved)
# * layout:
#   - swap: RAID1, 1GB
#   - /   : ext4, RAID1, rest of disk
# Force GPT
d-i partman-basicfilesystems/choose_label   string  gpt
d-i partman-basicfilesystems/default_label  string  gpt
d-i partman-partitioning/choose_label       string  gpt
d-i partman-partitioning/default_label      string  gpt
d-i partman/choose_label                    string  gpt
d-i partman/default_label                   string  gpt
# Clear out any left-over md-raid devices
d-i partman-md/device_remove_md boolean true
# Don't delete any LVM (these will be Ceph storage)
d-i partman-lvm/device_remove_lvm   boolean false
# Define physical partitions
d-i partman-auto/method     string  raid
# partition fields are: minimum, priority, maximum
d-i partman-auto/expert_recipe  string          \
    multiraid ::                                \
            300 300 300 grub                    \
                $primary{ }                     \
                method{ biosgrub }              \
            .                                   \
            60000   8000 1000000000   raid      \
                $primary{ } method{ raid }      \
            .                                   \
            1000    1000    1000    linux-swap  \
                method{ swap }                  \
                format{ }                       \
            .                                   \
d-i partman-md/confirm              boolean true
d-i partman-md/confirm_nooverwrite  boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition        select  finish
d-i partman/confirm                 boolean true
d-i partman/confirm_nooverwrite     boolean true
