# configuration:
#  * hardware raid on kafka-jumbo hosts
#  * sda hw raid1 (Flex Bay): 2 * 1TB / 2 * 500GB
#  * sdb hw raid10: 12 * 4TB
#
# * GPT partitions:
#   - boot 300MB (biosgrub type, see below)
#   - LVM
#   - /:    ext4, max of /dev/sda (varies across hosts)
#   - /srv: ext4, max of /dev/sdb
#
# The GPT biosgrub partition is made 300MB to future-proof it for EFI: in that
# case the partition is large enough to be turned into the ESP without touching
# GPT partition sizes. Also 300MB is big enough to work on 4k sector disks and FAT.

d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda /dev/sdb
d-i	partman-auto-lvm/guided_size	string	80%

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-lvm/confirm	boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean	true
d-i	partman/confirm	boolean	true
d-i	partman-auto-lvm/no_boot	boolean	true

# Force GPT
d-i	partman-basicfilesystems/choose_label	string	gpt
d-i	partman-basicfilesystems/default_label	string	gpt
d-i	partman-partitioning/choose_label	string	gpt
d-i	partman-partitioning/default_label	string	gpt
d-i	partman/choose_label			string	gpt
d-i	partman/default_label			string	gpt

d-i	partman-auto/choose_recipe	lvm

d-i     partman-auto/expert_recipe	string	\
		lvm ::							\
		300 300 300 grub		        \
			$primary{ }	             	\
			method{ biosgrub }	        \
		.				                \
		100000 300000 -1 ext4	        \
			$defaultignore{ }			\
			$primary{ }					\
			method{ lvm }				\
			device{ /dev/sda }			\
			vg_name{ vg0 }				\
		.								\
		500000 300 -1 ext4				\
			$defaultignore{ }			\
			$primary{ }					\
			method{ lvm }				\
			device{ /dev/sdb }			\
			vg_name{ vg1 }				\
		.								\
		300000 900000 -1 ext4    		\
			$lvmok{ }					\
			method{ format }			\
			format{ }					\
			use_filesystem{ }			\
			filesystem{ ext4 }			\
			mountpoint{ / }				\
			in_vg{ vg0 }				\
			lv_name{ root }				\
		.								\
		6000000 21000000 24000000 ext4	\
			$lvmok{ }					\
			method{ format }			\
			format{ }					\
			use_filesystem{ }			\
			filesystem{ ext4 }			\
			mountpoint{ /srv }			\
			in_vg{ vg1 }				\
			lv_name{ srv }				\
		.

d-i	partman/choose_partition	\
		select	finish
d-i	partman-partitioning/confirm_write_new_label	boolean	true

d-i	partman/confirm_nooverwrite	boolean	true
partman-basicfilesystems partman-basicfilesystems/no_swap boolean false

# do not prompt for 'no filesystem on partition'
d-i	partman-basicmethods/method_only	boolean false
d-i	partman-basicfilesystems/no_mount_point boolean false
