# configuration:
#  * hardware raid on kafka-jumbo hosts
#  * sda raid1 (Flex Bay): 2 * 1TB
#  * sdb raid10: 12 * 4TB
#
# layout:
# * Two LVM physical volumes, vg-flex (sda) and vg-data (sdb)
# * 5GB /boot partition on /dev/sda1, no LVM
# * ~100GB (10% of the vg-flex) for root-placeholder
# * 900GB / partition on a vg-flex logical volume, called 'root'
# * 19 TB /srv partition on a vg-data logical volume, called 'srv'
# * ~2.1TB (10% of the vg-data) for srv-placeholder
#
# The 'placeholder' volumes are needed to overcome a partman
# "feature" that forces the last LV defined to get the whole space left
# in the PV independently from the size requested.

d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda /dev/sdb

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-lvm/confirm	boolean	true
d-i	partman-lvm/confirm_nooverwrite	boolean	true
d-i	partman/confirm	boolean	true

d-i	partman-auto/choose_recipe	lvm

d-i     partman-auto/expert_recipe	string	\
		lvm ::							\
		5000 5000 5000 ext4				\
			$primary{ }					\
			$bootable{ }				\
			method{ format }			\
			format{ }					\
			use_filesystem{ }			\
			filesystem{ ext4 }			\
			mountpoint{ /boot }			\
			device{ /dev/sda }			\
		.								\
		100000 300000 1000000000 ext4	\
			$defaultignore{ }			\
			$primary{ }					\
			method{ lvm }				\
			device{ /dev/sda }			\
			vg_name{ vg-flex }			\
		.								\
		500000 300 -1 ext4				\
			$defaultignore{ }			\
			$primary{ }					\
			method{ lvm }				\
			device{ /dev/sdb }			\
			vg_name{ vg-data }			\
		.								\
		600000 900000 900000 ext4		\
			$lvmok{ }					\
			method{ format }			\
			format{ }					\
			use_filesystem{ }			\
			filesystem{ ext4 }			\
			mountpoint{ / }				\
			in_vg{ vg-flex }			\
			lv_name{ root }				\
		.								\
		20000000 21000000 21000000 ext4	\
			$lvmok{ }					\
			method{ format }			\
			format{ }					\
			use_filesystem{ }			\
			filesystem{ ext4 }			\
			mountpoint{ /srv }			\
			in_vg{ vg-data }			\
			lv_name{ srv }				\
		.								\
		100000 100000 100000 ext4		\
			$lvmok{ }					\
			$defaultignore{ }			\
			in_vg{ vg-flex } 			\
			lv_name{ root-placeholder }	\
		.								\
		2100000 2100000 2100000 ext4	\
			$lvmok{ }					\
			$defaultignore{ }			\
			in_vg{ vg-data } 			\
			lv_name{ srv-placeholder }	\
		.

d-i	partman/choose_partition	\
		select	finish
d-i	partman-partitioning/confirm_write_new_label	boolean	true

d-i	partman/confirm_nooverwrite	boolean	true
partman-basicfilesystems partman-basicfilesystems/no_swap boolean false

# do not prompt for 'no filesystem on partition'
d-i	partman-basicmethods/method_only	boolean false
d-i	partman-basicfilesystems/no_mount_point boolean false