# SPDX-License-Identifier: Apache-2.0
# This file overrides only the d-i settings needed for

# This recipe is used for a kubernetes node that also has a RAID0
# volume on its two local storage devices. We create the device
# /dev/md1 during installation, but it is left unallocated. Puppet
# will configure this device during its first run.
#
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian	boolean	false

d-i	partman-auto/disk	string	/dev/sda /dev/sdb
d-i	grub-installer/bootdev	string	/dev/sda

# There is no swap on purpose, since Kubernetes does not want it.
d-i	partman-basicfilesystems/no_swap boolean false

# Set the volume group name to a meaningful name.
d-i partman-auto-lvm/new_vg_name string vg_raid1

# Partman auto recipe
d-i	partman-auto/expert_recipe	string					\
		linuxraid	 :: 							\
			1 1 1 grub		\
				$primary{ }		\
				$lvmignore{ }		\
				method{ biosgrub }	\
			.				\
			256 256 256 fat32		\
				$primary{ }		\
				$bootable{ }        \
				$lvmignore{ }		\
				method{ efi }		\
				format{ }		\
			.				\
			100000 100000 -1 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.				\
			100000 200000 -1 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.				\
			10000 300000 -1 ext4					\
				$defaultignore{ }				\
				method{ lvm }					\
				device{ /dev/md0 }				\
				vg_name{ vg_raid1 }				\
			.							\
			1500 1520 30000 ext4					\
				method{ format }				\
				format{ }					\
				use_filesystem{ }				\
				filesystem{ ext4 }				\
				lv_name{ root }					\
				$defaultignore{ }				\
				$lvmok{ }					\
				mountpoint{ / }					\
				in_vg{ vg_raid1 }				\
			.							\
			1500 1530 30000 ext4					\
				method{ format }				\
				format{ }					\
				use_filesystem{ }				\
				filesystem{ ext4 }				\
				lv_name{ kubelet }				\
				$defaultignore{ }				\
				$lvmok{ }					\
				mountpoint{ /var/lib/kubelet }			\
				in_vg{ vg_raid1 }				\
			.							\
			1500 1550 -1 ext4					\
				method{ format }				\
				format{ }					\
				use_filesystem{ }				\
				filesystem{ ext4 }				\
				lv_name{ containerd }				\
				$defaultignore{ }				\
				$lvmok{ }					\
				in_vg{ vg_raid1 }				\
				mountpoint{ /var/lib/containerd }		\
			.
