# SPDX-License-Identifier: Apache-2.0
# This file overrides only the d-i settings needed for
# Kubernetes nodes using containerd.
#
# We prefer to keep /var/lib/kubelet on a separate mountpoint so that
# user-generated data in subdirs (like /var/lib/kubelet/pods) does not
# affect the root partition (and the system in general) if it gets too big.
# We also want to keep /var/lib/containerd on a separate partition as it
# is used to store container images and overlayfs layers.
#
# The LVM partitions are set so that Partman priorities (i.e. priority - minsize)
# get factors like the following:
# root: 20
# kubelet: 30
# containerd: 50
# The idea is to let the containerd volume to get more space if available.

# There is no swap on purpose, since Kubernetes does not want it.
d-i	partman-basicfilesystems/no_swap boolean false

# Partman auto recipe
d-i	partman-auto/expert_recipe	string	\
		linuxraid	 :: 	\
			300 300 300 grub		\
				$primary{ }		\
				method{ biosgrub }	\
			.				\
			1000 1000 -1 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.				\
			1500 1520 30000 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ root }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ / }		\
			.				\
			1500 1530 150000 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ kubelet }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /var/lib/kubelet }		\
			.				\
			1500 1550 -1 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ containerd }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /var/lib/containerd }	\
			.
