# SPDX-License-Identifier: Apache-2.0
# This file overrides only the d-i settings needed for
# Kubernetes nodes using OverlayFS.
#
# It is a copy of the kubernetes-node-overlay.cfg file, but increases the
# kubelet partition size to 120GB. The rationale is that some LLMs are so large
# on-disk that a machine running more than 1-2 of them can easily run out of
# space on this partition. This si not covered by the /var/lib/docker since
# models are downloaded on pod startup (storage initializer).
#
# See T339231 for more information on the initial diagnosis.
#
# The intended usage is to include this file last in netboot.cfg:
#
# partman/standard.cfg partman/raid1-2dev.cfg
# partman/custom/kubernetes-node-overlay-large-kubelet.cfg
#
# We prefer to keep /var/lib/kubelet on a separate mountpoint so that
# user-generated data in subdirs (like /var/lib/kubelet/pods) does not
# affect the root partition (and the system in general) if it gets too big.
# We also want to keep /var/lib/docker on a separate partition to use
# Overlay FS on it.
# The LVM partitions are set so that Partman priorities (i.e. priority - minsize)
# get factors like the following:
# root: 20
# kubelet: 20
# docker: 60
# The idea is to let the docker volume to get more space if needed.

# There is no swap on purpose, since Kubernetes does not want it.
d-i	partman-basicfilesystems/no_swap boolean false

# Partman auto recipe
d-i	partman-auto/expert_recipe	string	\
		linuxraid	 :: 	\
			300 300 300 grub		\
				$primary{ }		\
				method{ biosgrub }	\
			.				\
			1000 1000 -1 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.				\
			1500 1520 30000 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ root }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ / }		\
			.				\
			1500 1520 120000 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ kubelet }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /var/lib/kubelet }		\
			.				\
			1500 1560 -1 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ docker }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /var/lib/docker }	\
			.
