# SPDX-License-Identifier: Apache-2.0
# This file overrides only the d-i settings needed for
# Kubernetes nodes using containerd, on hosts that also give
# local storage to TopoLVM.
#
# It is a copy of kubernetes-node-containerd-efi.cfg, with two changes
# to the partitions on each disk:
#   /dev/sdX3  480 GB, RAID1 (md0) for the vg0 volume group
#   /dev/sdX4  all of the remaining space, with no filesystem
# The md0 device has the same size as on other dse-k8s workers, and the
# logical volumes also get the same sizes. Puppet can then use
# /dev/sda4 and /dev/sdb4 as the physical volumes of a volume group
# for TopoLVM. See T438058.
#
# Include this file after partman/standard-efi.cfg and
# partman/raid1-2dev-efi.cfg in preseed.yaml. The RAID recipe in
# raid1-2dev-efi.cfg uses only /dev/sda3 and /dev/sdb3.

# There is no swap on purpose, since Kubernetes does not want it.
d-i	partman-basicfilesystems/no_swap boolean false

# A partition with method{ keep } and no filesystem, or a partition with
# no mount point, causes a prompt. These settings stop the prompts.
d-i	partman-basicmethods/method_only	boolean	false
d-i	partman-basicfilesystems/no_mount_point	boolean	false

# Partman auto recipe
d-i	partman-auto/expert_recipe	string	\
		linuxraid	 :: 	\
			1 1 1 grub		\
				$primary{ }		\
				$lvmignore{ }		\
				method{ biosgrub }	\
			.				\
			256 256 256 fat32		\
				$primary{ }		\
				$lvmignore{ }		\
				method{ efi }		\
				format{ }		\
			.				\
			480000 480000 480000 raid		\
				$primary{ }		\
				method{ raid }		\
				$lvmignore{ }		\
			.				\
			100000 200000 -1 ext4		\
				$primary{ }		\
				method{ keep }		\
				$lvmignore{ }		\
			.				\
			1500 1520 30000 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ root }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ / }		\
			.				\
			1500 1530 150000 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ kubelet }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /var/lib/kubelet }		\
			.				\
			1500 1550 -1 ext4		\
				method{ format }	\
				format{ }		\
				use_filesystem{ }	\
				filesystem{ ext4 }	\
				lv_name{ containerd }		\
				$defaultignore{ }	\
				$lvmok{ }		\
				mountpoint{ /var/lib/containerd }	\
			.
