# SPDX-License-Identifier: Apache-2.0
# This file overrides only the d-i settings needed for
# Kubernetes nodes using OverlayFS, with support for additional local storage.
#
# It is a copy of the kubernetes-node-overlay.cfg file, but also supports
# configuring a local /dev/sdb device as /srv - This is to support K8S
# nodes that have a RAID controller and a second volume.
# For these nodes, the device order is predictable, so /dev/sda is a RAID1
# device that is used for the operating system and /dev/sdb is any kind of
# RAID device that is used for generic application storage.
#
# See T365283 for more information.
#
# The intended usage is to include this file last in netboot.cfg:
#
# partman/standard.cfg partman/custom/kubernetes-node-overlay-large-kubelet.cfg
#
# /dev/sda is an hardware raid device, thus switch partman's method to 'lvm'
d-i	partman-auto/method	string	lvm

# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian	boolean	false

d-i	partman-auto/disk	string	/dev/sda /dev/sdb
d-i	grub-installer/bootdev	string	/dev/sda

# There is no swap on purpose, since Kubernetes does not want it.
d-i	partman-basicfilesystems/no_swap boolean false

# Partman auto recipe
d-i	partman-auto/expert_recipe	string					\
		lvm	 :: 							\
			300 300 300 grub					\
				$primary{ }					\
				method{ biosgrub }				\
			.							\
			100000 300000 -1 ext4					\
				$defaultignore{ }				\
				$primary{ }					\
				method{ lvm }					\
				device{ /dev/sda }				\
				vg_name{ vg0 }					\
			.							\
			500000 500000 -1 ext4					\
				$defaultignore{ }				\
				$primary{ }					\
				method{ lvm }					\
				device{ /dev/sdb }				\
				vg_name{ vg1 }					\
			.							\
			1500 1520 30000 ext4					\
				method{ format }				\
				format{ }					\
				use_filesystem{ }				\
				filesystem{ ext4 }				\
				lv_name{ root }					\
				$defaultignore{ }				\
				$lvmok{ }					\
				mountpoint{ / }					\
				in_vg{ vg0 }					\
			.							\
			1500 1520 30000 ext4					\
				method{ format }				\
				format{ }					\
				use_filesystem{ }				\
				filesystem{ ext4 }				\
				lv_name{ kubelet }				\
				$defaultignore{ }				\
				$lvmok{ }					\
				mountpoint{ /var/lib/kubelet }			\
				in_vg{ vg0 }					\
			.							\
			1500 1560 -1 ext4					\
				method{ format }				\
				format{ }					\
				use_filesystem{ }				\
				filesystem{ ext4 }				\
				lv_name{ docker }				\
				$defaultignore{ }				\
				$lvmok{ }					\
				in_vg{ vg0 }					\
				mountpoint{ /var/lib/docker }			\
			.							\
			500000 500000 -1 ext4					\
				method{ format }				\
				format{ }					\
				use_filesystem{ }				\
				filesystem{ ext4 }				\
				mountpoint{ /srv }				\
				$lvmok{ }					\
				in_vg{ vg1 }					\
				lv_name{ srv }					\
			.