# This file overrides only the d-i settings needed for
# Prometheus-specific setup. Namely each Prometheus instance gets a
# dedicated LV.
#
# The intended usage is to include this file after standard recipes.

# Use at most this % for / /srv and swap, leaving the rest for
# Prometheus instances.
d-i partman-auto-lvm/guided_size string 2%
