# Automatic software RAID partitioning
#
# * two disks, sda & sdb
# * primary partitions, no LVM
# * GPT layout (large disks, > 2TB)
# * layout:
#   - swap:       RAID1, 1GB
#   - /	:   ext4, RAID5, 50GB
#   - rest is lvm

d-i	partman-auto/method		string	raid
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

# Use the first two disks
d-i	partman-auto/disk	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd
d-i	grub-installer/bootdev		string	/dev/sda /dev/sdb /dev/sdc /dev/sdd
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian		boolean false


# Don't stop if method isn't provided, e.g. in non used LVs
d-i	partman-basicmethods/method_only	boolean	false

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		multiraid ::	\
			1	1	1	grub		\
				$primary{ } method{ biosgrub }	\
			.					\
			500	1	500	raid		\
				$primary{ } method{ raid }	\
			.					\
			500	2	-1	raid		\
				$primary{ } method{ raid }	\
				$lvmignore{ }			\
			.					\
			50000   4	50000  ext4		\
					$lvmok{ }		\
					$defaultignore{ }	\
					lv_name{ root }		\
					method{ format }	\
					format{ }		\
					use_filesystem{ }	\
					filesystem{ ext4 }	\
					mountpoint{ / } 	\
			.					\
			1000	3	1000	linux-swap	\
				$defaultignore{ }		\
				$lvmok{ }			\
				lv_name{ swap }			\
				method{ swap }			\
				format{ }			\
			.		\
			5000	200	-1	ext4	\
				$defaultignore{ } 		\
				$lvmok{ } lv_name{ _placeholder } 	\
				method{ keep } 		\
			.



# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string		\
		1	4	0	ext4	/boot	\
			/dev/sda2#/dev/sdb2#/dev/sdc2#/dev/sdd2		\
		.					\
		5	4	0	lvm	-	\
			/dev/sda3#/dev/sdb3#/dev/sdc3#/dev/sdd3		\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true
d-i	partman-auto-lvm/guided_size	string	80%
d-i	partman-auto/confirm	boolean	true
