# Partman recipe for conf100x servers (etcd & zookeeper)
#
# Automatic software RAID 1 with LVM partitioning.
# / is 30G on /dev/md0.
# /dev/md1 fills up 1T of sda2 and sdb2, and a single LVM volume group is created on it.
#   swap is 10G on an LV
#   /var is a 60G LV
#   /var/lib/etcd is a 250G LV
#   /var/lib/zookeeper is a 250G LV
#   _placeholder is an LV that fills up the rest of space.
#     This is a hack to keep the zookeepeer partition from using up all free space.
#
# NOTE:  Partition priorities were calculated after reading
#        http://www.bishnet.net/tim/blog/2015/01/29/understanding-partman-autoexpert_recipe/
#        sum(priority - minimum) == 100%

# Use the first 2 disks for RAID1
d-i partman-auto/method  string  raid
d-i partman-auto/disk    string  /dev/sda /dev/sdb
d-i	grub-installer/bootdev		string	/dev/sda /dev/sdb
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it uses bootdev
d-i	grub-installer/only_debian		boolean false


# Configure 2 RAID 1 devices:
#   Parameters are:
#   <raidtype> <devcount> <sparecount> <fstype> <mountpoint> <devices> <sparedevices>
d-i partman-auto-raid/recipe    string \
    1   2   0   ext4    /   /dev/sda1#/dev/sdb1 \
    . \
    1   2   0   lvm     -   /dev/sda2#/dev/sdb2 \
    .

d-i partman-auto/expert_recipe string multiraid :: \
    5000 8000 30000 raid \
        method{ raid } \
        $primary{ } \
        $bootable{ } \
        $lvmignore{ } \
    . \
    64 8000 1000000 raid \
        method{ raid } \
        $primary{ } \
        $lvmignore{ } \
    . \
    1000 1001 10000 linux-swap \
        method{ swap } \
        format{ } \
        $lvmok{ } \
        lv_name{ swap } \
        $defaultignore{ } \
    . \
    1000 1006 60000 ext4 \
        mountpoint{ /var } \
        method{ format } \
        $primary{ } \
        format{ } \
        $lvmok{ } \
        lv_name{ var } \
        use_filesystem{ } \
        filesystem{ ext4 } \
        $defaultignore{ } \
    . \
    1000 1025 250000 ext4 \
        mountpoint{ /var/lib/etcd } \
        method{ format } \
        $primary{ } \
        format{ } \
        $lvmok{ } \
        lv_name{ etcd } \
        use_filesystem{ } \
        filesystem{ ext4 } \
        $defaultignore{ } \
    . \
    1000 1025 250000 ext4 \
        mountpoint{ /var/lib/zookeeper } \
        method{ format } \
        $primary{ } \
        format{ } \
        $lvmok{ } \
        lv_name{ zookeeper } \
        use_filesystem{ } \
        filesystem{ ext4 } \
        $defaultignore{ } \
    . \
    1000 1043 -1 ext4 \
        method{ format } \
        $primary{ } \
        format{ }
        $lvmok{ } \
        lv_name{ _placeholder } \
        use_filesystem{ } \
        filesystem{ ext4 } \
        $defaultignore{ } \
    .


d-i partman-md/confirm              boolean     true
d-i partman-md/device_remove_md     boolean     true
d-i partman-md/confirm_nochanges    boolean     true
d-i partman-md/confirm_nooverwrite  boolean     true

d-i partman/confirm_write_new_label boolean     true
d-i partman/choose_partition        select      finish
d-i partman/confirm                 boolean     true
d-i partman/confirm_nooverwrite                 true

d-i partman-auto-lvm/guided_size    string      80%

# the install makes sure we want to wipe the lvm
d-i partman-lvm/device_remove_lvm   boolean     true
d-i partman-lvm/confirm             boolean     true
d-i partman-lvm/confirm_nooverwrite             true