# SPDX-License-Identifier: Apache-2.0
# The reuse recipe is generated at install time by reuse-parts-hadoop-worker.sh,
# because /dev/sdX names are not stable across boots (T434494).
# This overrides the partman/early_command from reuse-parts.cfg, so it must
# also download reuse-parts.sh itself.
d-i	partman/early_command	string \
		set -eux; \
		wget -nv http://apt.wikimedia.org/autoinstall/scripts/reuse-parts.sh -O /lib/partman/display.d/70reuse-parts; \
		chmod +x /lib/partman/display.d/70reuse-parts; \
		wget -nv http://apt.wikimedia.org/autoinstall/scripts/reuse-parts-hadoop-worker.sh -O /tmp/reuse-parts-hadoop-worker.sh; \
		sh /tmp/reuse-parts-hadoop-worker.sh
