# SPDX-License-Identifier: Apache-2.0
d-i	partman/reuse_partitions_recipe	string \
	/dev/sda|1 biosboot ignore none|2 mdraid ignore none, \
	/dev/sdb|1 biosboot ignore none|2 mdraid ignore none, \
	/dev/sdc|1 biosboot ignore none|2 mdraid ignore none, \
	/dev/sdd|1 biosboot ignore none|2 mdraid ignore none, \
	/dev/sde|1 biosboot ignore none|2 mdraid ignore none, \
	/dev/sdf|1 biosboot ignore none|2 mdraid ignore none, \
	/dev/sdg|1 biosboot ignore none|2 mdraid ignore none, \
	/dev/sdh|1 biosboot ignore none|2 mdraid ignore none, \
	/dev/md0|1 ext4 format /, \
	/dev/mapper/vg0-srv|1 ext4 keep /srv

d-i partman-basicfilesystems/no_swap boolean false