# SPDX-License-Identifier: Apache-2.0
# This is for servers where /dev/sda and /dev/sdb are reversed
d-i	partman/reuse_partitions_recipe	string \
	/dev/sdb|1 ext4 format /boot|2 lvmpv ignore none, \
	/dev/sda|1 lvmpv ignore none, \
	/dev/mapper/*-root|1 ext4 format /, \
	/dev/mapper/*-srv|1 ext4 keep /srv

d-i partman-basicfilesystems/no_swap boolean false