# SPDX-License-Identifier: Apache-2.0
d-i	partman/reuse_partitions_recipe	string \
		/dev/sda|1 fat32 format |2 ext4 format /|3 linux-swap ignore none|4 unknown ignore none, \
		/dev/mapper/*|1 xfs keep /srv
d-i	partman-basicfilesystems/no_swap boolean false
