[Unit]
Description=Docker Resource Monitor
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f docker-resource-monitor
ExecStart=/usr/bin/docker run \
  --name docker-resource-monitor \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v docker-resource-monitor:/state \
  docker-registry.wikimedia.org/docker-gc:1.0.0 \
  resource-monitor --state-file /state/state.json
ExecStop=/usr/bin/docker stop docker-resource-monitor
Restart=on-failure

[Install]
WantedBy=multi-user.target
