# Virtual 'host' that refers to the entire beta cluster being up or down
# UP/DOWN status defined as http availability of english betawiki main page
define host{
       host_name                    beta-cluster
       alias                        Generic Beta Cluster
       address                      en.wikipedia.beta.wmflabs.org
       check_command                check_http!-h en.wikipedia.beta.wmflabs.org -u / -t 10 -s 'Wikipedia'
       max_check_attempts           3
       check_period                 24x7
       notification_interval        0
       notification_period          24x7
       retry_interval               1
       check_interval               5
       contact_groups               betacluster
}
