define host{
    host_name                   beta-cluster
    alias                       Generic Beta Cluster
    address                     en.wikipedia.beta.wmflabs.org
    contact_groups              deployment-prep
    use                         generic-host
}

define service {
    service_description         English Wikipedia Main page
    host_name                   beta-cluster
    check_command               check_http_url_for_string!en.wikipedia.beta.wmflabs.org!-u!/wiki/Main_Page?debug=true!Wikipedia
    use                         generic-service
}
