# Note: This file is managed by puppet.

# ha proxy configuration for forwarding to puppet

global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	#log loghost	local0 info
	maxconn 4096
	#debug
	#quiet
	user haproxy
	group haproxy

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	contimeout	50000
	clitimeout	500000
	srvtimeout	500000

listen	puppet
	bind :8140
	mode tcp
	balance roundrobin
	#server sockpuppet 10.0.0.245
	server stafford 10.0.0.24
	acl esams src 91.198.174.0/24
