[color]
	diff = auto
	status = auto
	branch = auto
[user]
	email = hashar@free.fr
	name = Antoine Musso
[alias]
	lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
[url "ssh://gerrit.wikimedia.org:29418"]
	pushInsteadOf = https://gerrit.wikimedia.org/r/p
