<html>
<h1>{{module}} packages installed on Toolforge</h1>
{% for env, packages in envs|dictsort %}
<h2>{{env}}</h2>
<table>
<tr><th>Package</th>
{%- for release in releases -%}
    <th>{{release}}</th>
{%- endfor -%}
</tr>
{% for package,versions in packages|pydictsort -%}
    <tr><th>{{package}}</th>
    {%- for release in releases -%}
        <td>
        {%- if versions[release] is not none -%}
        {{versions[release]}}
        {%- endif -%}
        </td>
    {%- endfor -%}
    </tr>
{% endfor %}
</table>
{% endfor %}
</html>
