cluster: kubernetes
profile::kubernetes::master::accessible_to: all
profile::kubernetes::master::apiserver_count: 1
profile::kubernetes::master::admission_controllers:
  NamespaceLifecycle: ''
  LimitRanger: ''
  ServiceAccount: '--service-account-key-file=/etc/kubernetes/ssl/server.key'
  DefaultStorageClass: ''
  DefaultTolerationSeconds: ''
  ResourceQuota: ''
profile::kubernetes::master::expose_puppet_certs: true
profile::kubernetes::master::ssl_cert_path: "/etc/kubernetes/ssl/cert.pem"
profile::kubernetes::master::ssl_key_path: "/etc/kubernetes/ssl/server.key"
profile::kubernetes::master::authz_mode: 'RBAC'
profile::kubernetes::master::service_account_private_key_file: "/etc/kubernetes/ssl/server.key"
profile::kubernetes::master::service_cluster_ip_range: 10.64.76.0/24
profile::kubernetes::master::service_node_port_range: '1-65535'
profile::kubernetes::master::etcd_urls:
 - https://kubestagetcd1001.eqiad.wmnet:2379
 - https://kubestagetcd1002.eqiad.wmnet:2379
 - https://kubestagetcd1003.eqiad.wmnet:2379
profile::kubernetes::master::prometheus_url: http://prometheus.svc.eqiad.wmnet/k8s-staging
diamond::remove: true
