[Unit]
Description=Gitblit managing, viewing, and serving Git repositories.
After=network.target

[Service]
User=gitblit
Group=gitblit
WorkingDirectory=/var/lib/gitblit
ExecStart=/usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java -server -Xmx8g -Djava.awt.headless=true -jar gitblit.jar --baseFolder /var/lib/gitblit/data
ExecStop=/usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java -server -Xmx8g -Djava.awt.headless=true -jar gitblit.jar --baseFolder /var/lib/gitblit/data --stop

[Install]
WantedBy=multi-user.target
