[Unit]
Description=Gitblit managing, viewing, and serving Git repositories.
After=network.target

[Service]
User=gitblit
Group=gitblit
Environment="ARGS=-server -Xmx8g -Djava.awt.headless=true -jar"
EnvironmentFile=-/etc/sysconfig/gitblit
WorkingDirectory=/opt/gitblit
ExecStart=/usr/bin/java \$ARGS gitblit.jar --baseFolder /var/lib/gitblit/data
ExecStop=/usr/bin/java \$ARGS gitblit.jar --baseFolder /var/lib/gitblit/data --stop

[Install]
WantedBy=multi-user.target
