# SPDX-License-Identifier: Apache-2.0
[Unit]
Description=Your Kafka essentials in one tool

[Service]
User=karapace
Group=karapace
Restart=always
ExecStart=/usr/lib/karapace/bin/python /usr/lib/karapace/bin/karapace /etc/karapace/karapace.config.json
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/var/lib

[Install]
WantedBy=multi-user.target
