# SPDX-License-Identifier: Apache-2.0
[query_log_wikifunctions_warnings]
QueryIntervalSecs = 60
QueryIndices = <logstash-*-{now/d}>
QueryJson = {
    "size": 0,
    "track_total_hits": true,
    "query": {
      "bool": {
        "must": [
          {
            "match_phrase_prefix": {
              "log": {
                "query": "WARNING"
              }
            }
          }
        ],
        "should": [
          {
            "term": {
              "kubernetes.namespace_name.keyword": {
                "value": "wikifunctions"
              }
            }
          },
          {
            "term": {
              "kubernetes.namespace_name.keyword": {
                "value": "mw-wikifunctions"
              }
            }
          }
        ],
        "minimum_should_match": 1,
        "filter": [
          { "range": { "@timestamp": { "gte": "now-1m", "lte": "now" } } }
        ]
      }
    }
  }
