[Unit]
Description=Parsoid service used by the parsoid::testing role
After=network.target

[Service]
User=parsoid
Group=parsoid
LimitNOFILE=10000

# 1 worker is sufficient -- we aren't going to hit this service much.
Environment=NODE_PATH=/usr/lib/parsoid/node_modules VCAP_APP_PORT=8000
WorkingDirectory=/usr/lib/parsoid/src
ExecStart=/usr/bin/nodejs bin/server.js -n 1 -c /usr/lib/parsoid/src/localsettings.js
StandardInput=null
StandardOutput=journal
StandardError=journal
RestartSec=2
