<div style="font-weight:bold;font-size:1.8em;text-align:center">
Login or register to Wikimedia Phabricator
</div>

<p style="font-size:1.1em;text-align:center;line-height:1.5;padding:10px">
 Click the MediaWiki button below to connect your <a href="//meta.wikimedia.org/wiki/Help:Unified_login">Wikimedia unified account</a>.<br>
 Alternatively, you can introduce your <a href="//wikitech.wikimedia.org">Labs/Gerrit</a> LDAP credentials.<br>
 In case of doubt, check the Phabricator Help: <a href="//www.mediawiki.org/wiki/Phabricator/Help#Creating_your_account">Creating your account</a>.
</p>
