<div style='font-weight:bold;font-size:1.8em;text-align:center'>
This <a href="http://phabricator.org/">Phabricator</a> portal is managed by the
<a href="//wikimediafoundation.org/wiki/Home">Wikimedia Foundation</a>.
</div>

<p style='font-weight:bold;font-size:0.9em;text-align:center'>
Please register a local account to login.  (This should be used for testing instances only!)
</p>

