<div style='font-weight:bold;font-size:1.8em;text-align:center'>
This <a href="http://phabricator.org/">Phabricator</a> portal is managed by the
<a href="//wikimediafoundation.org/wiki/Home">Wikimedia Foundation</a>.
</div>

<p style='font-weight:bold;font-size:0.9em;text-align:center'>
You can use your <a href="//meta.wikimedia.org/wiki/Help:Unified_login">unified Wikimedia account</a> or your <a href="//wikitech.wikimedia.org/wiki/Help:Getting_Started#Create_a_User_Account">Labs/LDAP user</a> to login.
</p>

