[client]
port   = 3306
socket = /tmp/mysql.sock

[mysqld]

user       = mysql
socket     = /tmp/mysql.sock
port       = 3306
datadir    = <%= @datadir %>
tmpdir     = <%= @tmpdir %>
server_id  = <%= @server_id %>
read_only  = 0

log_bin                 = /srv/labsdb/binlogs/log
log_bin_index           = /srv/labsdb/binlogs/log.index
log_slave_updates

skip-external-locking
skip-name-resolve
temp-pool

max_connections                = 2048
extra_max_connections          = 10
max_connect_errors             = 1000000000
max_allowed_packet             = 16M
connect_timeout                = 5
query_cache_size               = 0
query_cache_type               = 0
event_scheduler                = 1
userstat                       = 1
log-warnings                   = 0
thread_stack                   = 192K
thread_cache_size              = 128
interactive_timeout            = 28800
wait_timeout                   = 600

binlog_cache_size              = 1M
max_binlog_size                = 100M
binlog_format                  = MIXED
expire_logs_days               = 7
slave_transaction_retries      = 4294967295

table_open_cache               = 5000
table_definition_cache         = 4000

default-storage-engine         = InnoDB
innodb_file_per_table          = 1
innodb_buffer_pool_size        = <%= (Float(@memorysize.split[0]) * 0.5).round %>G
innodb_buffer_pool_instances   = 1
innodb_log_file_size           = 1G
innodb_flush_log_at_trx_commit = 1
innodb_flush_method            = O_DIRECT
innodb_thread_concurrency      = 0
innodb_io_capacity             = 1000
innodb_read_io_threads         = 16
innodb_write_io_threads        = 8
innodb_stats_sample_pages      = 16
innodb_stats_method            = nulls_unequal

[mysqldump]

quick
max_allowed_packet = 16M

#!includedir /etc/mysql/conf.d/
