[rule "standardItsComments"]
	event-type = change-abandoned,change-restored
	association = subject,footer-Bug,footer-bug
	action = add-standard-comment

[rule "patchSetMerged"]
	event-type = change-merged
	association = subject,footer-Bug,footer-bug
	action = add-soy-comment PatchSetMerged

[rule "patchSetCreated"]
	event-type = patchset-created
	association = added@subject,added@footer-Bug,added@footer-bug
	action = add-soy-comment PatchSetCreated
	action = add-project Patch-For-Review
