[rule "standardItsComments"]
	event-type = change-abandoned,change-restored
	status = !,DRAFT
	is-draft = !,true
	association = subject,footer-Bug,footer-bug
	action = add-standard-comment

[rule "patchSetMerged"]
	event-type = change-merged
	status = !,DRAFT
	is-draft = !,true
	association = subject,footer-Bug,footer-bug
	action = add-soy-comment PatchSetMerged

[rule "patchSetCreated"]
	event-type = patchset-created
	status = !,DRAFT
	is-draft = !,true
	association = added@subject,added@footer-Bug,added@footer-bug
	action = add-soy-comment PatchSetCreated
	action = add-project Patch-For-Review

[rule "changeDraftPublished"]
	event-type = draft-published
	association = added@subject,added@footer-Bug,added@footer-bug
	action = add-soy-comment DraftPublished
	action = add-project Patch-For-Review
