[rule "patchSetAbandoned"]
	event-type = change-abandoned
	association = subject,footer-Bug,footer-bug
	action = add-soy-comment PatchSetAbandoned

[rule "patchSetRestored"]
	event-type = change-restored
	association = subject,footer-Bug,footer-bug
	action = add-soy-comment PatchSetRestored
	action = add-project Patch-For-Review

[rule "patchSetMerged"]
	event-type = change-merged
	association = subject,footer-Bug,footer-bug
	action = add-soy-comment PatchSetMerged

[rule "patchSetCreated"]
	event-type = patchset-created
	association = added@subject,added@footer-Bug,added@footer-bug
	action = add-soy-comment PatchSetCreated
	action = add-project Patch-For-Review
