# 'check_ifstatus' command definition
#define command{
#	command_name	check_ifstatus
#	command_line	/usr/lib/nagios/plugins/check_ifstatus -H '$HOSTADDRESS$' -C '$ARG1$'
#	}

# 'check_ifstatus_exclude' command definition
define command{
        command_name    check_ifstatus_exclude
        command_line    /usr/lib/nagios/plugins/check_ifstatus -H '$HOSTADDRESS$' -C '$ARG1$' -x '$ARG2$'
        }

# 'check_ifoperstatus_ifindex' command definition
define command{
	command_name	check_ifoperstatus_ifindex
	command_line	/usr/lib/nagios/plugins/check_ifoperstatus -H '$HOSTADDRESS$' -C '$ARG1$' -k '$ARG2$'
	}

# 'check_ifoperstatus_ifdescr' command definition
define command{
	command_name	check_ifoperstatus_ifdescr
	command_line	/usr/lib/nagios/plugins/check_ifoperstatus -H '$HOSTADDRESS$' -C '$ARG1$' -d '$ARG2$'
	}
