# Wikidata specific configuration file
# containing service for Disptach lag
# and the command definitions

define host{
        host_name               wikidata.org
        alias                   wikidata.org
        address                 208.80.154.224
        process_perf_data       1
        check_command           check-host-alive
        check_interval          5
        retry_interval          1
        max_check_attempts      5
        contact_groups          wikidata
        notification_interval   30
        notification_period     24x7
        }

# Define a service to check the dispatch lag

define service{
        host_name               wikidata.org
        service_description     Dispatch Lag
        check_command           check_dispatch
        max_check_attempts      5
        event_handler           notify_irc
        process_perf_data       1
        check_interval          5
        retry_interval          3
        check_period            24x7
        notification_interval   30
        notification_period     24x7
        notification_options    w,c,r
        }

# 'check_dispatch' command definition
define command{
        command_name    check_dispatch
        command_line    /usr/lib/nagios/plugins/check_dispatch -H https://www.wikidata.org
        }

# 'notify-irc' event-handler command definition
define command{
       command_name     notify_irc
       command_line     /usr/lib/nagios/eventhandlers/notify_irc -N irc.foonetic.net -c \#wdtest
       }

#contact
define contact{
        contact_name                    wikidata-monitoring
        alias                           wikidata-monitoring
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           wikidata-monitoring@wikimedia.de
        }
#contact group
define contactgroup{
        contactgroup_name       wikidata
        alias                   wikidata
        members                 wikidata-monitoring
        }
