pg_database:
    query: " SELECT pg_database.datname, pg_database_size(pg_database.datname) as size_bytes FROM pg_database"
    metrics:
      - datname:
          usage: "LABEL"
          description: "Name of the database"
      - size_bytes:
          usage: "GAUGE"
          description: "Disk space used by the database"
