# Dells analytics1011-1022 have 1 SSD.  Use it for root and swap.

d-i     partman-auto/method     string regular

# Use the first two disks
d-i     partman-auto/disk       string /dev/sda

# Define physical partitions, 30GB ext4 / and 12GB swap.
d-i	partman-auto/expert_recipe	string	analytics : 30000 5000 30000 ext4 $primary{ } $bootable{ } method{ format } format{ } use_filesystem{ } filesystem{ ext4 } mountpoint{ / } . 12000 1000 12000 linux-swap method{ swap } format{ }

d-i	partman-auto/choose_recipe	analytics

d-i	partman/confirm_write_new_label		boolean	true
d-i	partman/choose_partition			select	finish
d-i	partman/confirm						boolean	true

d-i	partman-lvm/device_remove_lvm		boolean	true