# Automatic software RAID partitioning
#
# * one virtual disk, sda (RAID0 over two SSDs)
# * layout:
#   - swap: 1GB
#   - /	  : ext4, 160GB
#   - rest unallocated (a big spare partition)

d-i	partman-auto/method		string	regular

d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

d-i	partman-auto/disk	string	/dev/sda

# method{ keep } on a partition that has no known filesystem
# produces a "No file system is specified for partition" prompt; silence it
d-i	partman-basicmethods/method_only	boolean false

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		ceph ::	\
			1000	1000	1000	linux-swap	\
				$primary{ }			\
				method{ swap }			\
				format{ }			\
			.					\
			160000	50000	160000	ext4		\
				$primary{ } $bootable{ }	\
				method{ format }		\
				format{ }			\
				use_filesystem{ }		\
				filesystem{ ext4 }		\
				mountpoint{ / }			\
				options/noatime{ noatime }	\
				options/discard{ discard }	\
			.					\
			1000	1000	-1	linux-swap	\
				$primary{ }			\
				method{ keep }			\
			.

d-i	partman-auto/choose_recipe	ceph

d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true
