# configuration to create:
#  * no RAID (either single disk or hardware raid presenting a single device)
#  * 40G /
#  * 8G swap
#  * the rest formatted with LVM with 90% used
#  ** the rest as xfs on /a
#  ** 10% empty space for later growth


d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-auto/confirm	boolean	true

# standardize vg name for snapshots (otherwise uses hostname)
d-i	partman-auto-lvm/new_vg_name string tank

d-i	partman-auto/expert_recipe	string	es ::	\
		40000 40000 40000 ext3		\
			$primary{ }		\
			$bootable{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ / } 	\
		.				\
		8000 8000 8000 linux-swap	\
			method{ swap }		\
			format{ }		\
		.				\
		64 1000 10000000 xfs		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ xfs }	\
			lv_name{ data }		\
			$defaultignore{ }	\
			$lvmok{ }		\
			mountpoint{ /a }	\
			options/nobarrier { nobarrier } \
			options/noatime { noatime } \
		.

d-i	partman-auto-lvm/guided_size	string	87%

d-i	partman/choose_partition	\
		select	Finish partitioning and write changes to disk
d-i	partman-auto/confirm	boolean	true

d-i	partman-auto/choose_recipe	es

