# configuration to create:
#  * no RAID (either single disk or hardware raid presenting a single device)
#  * 300M on /boot outside of LVM
#  * the rest formatted with LVM with 80% used
#  ** 40G /
#  ** 8G swap
#  ** the rest as xfs on /a
#  ** 20% empty space for later growth


d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-lvm/confirm	boolean	true

d-i	partman-auto/expert_recipe	string	es ::	\
		40 300 300 ext3			\
			$primary{ }		\
			$bootable{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ /boot }	\
		.				\
		40000 40000 40000 ext3		\
			$lvmok{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ / } 	\
		.				\
		8000 8000 8000 linux-swap	\
			method{ swap }		\
			$lvmok{ }		\
			format{ }		\
		.				\
		64 1000 10000000 xfs		\
			$primary{ }		\
			method{ format }	\
			format{ }		\
			use_filesystem{ }	\
			filesystem{ xfs }	\
			lv_name{ data }		\
			$defaultignore{ }	\
			$lvmok{ }		\
			mountpoint{ /a }	\
		.

d-i	partman-auto-lvm/guided_size	string	90%

d-i	partman-auto/choose_recipe	es

