# configuration to create:
#  * no RAID (either single disk or hardware raid presenting a single device)
#  * 300M on /boot outside of LVM
#  * the rest formatted with LVM
#  ** 40G /
#  ** 8G swap

d-i	partman-auto/method	string	lvm
d-i	partman-auto/disk	string	/dev/sda

# the install makes sure we want to wipe the lvm
d-i	partman-lvm/device_remove_lvm	boolean	true
d-i	partman-lvm/confirm	boolean	true

d-i	partman-auto/expert_recipe	string	lvm ::	\
		40 300 300 ext3	\
			$primary{ }	\
			$bootable{ }	\
			method{ format }	\
			format{ }	\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ /boot }	\
		.	\
		40000 40000 40000 ext3	\
			$lvmok{ }	\
			method{ format }	\
			format{ }	\
			use_filesystem{ }	\
			filesystem{ ext3 }	\
			mountpoint{ / }	\
		.	\
		8000 8000 8000 linux-swap	\
			method{ swap }	\
			$lvmok{ }	\
			format{ }	\
		.

d-i	partman-auto-lvm/guided_size	string	80%

d-i	partman-auto/choose_recipe	lvm

