# LVS server (with HW RAID) setup; creates:
#  * no RAID (either single disk or hardware raid presenting a single device)
#  * no LVM
#  * 1G swap on the end of the disk
#  * the rest formatted with ext3 for /

d-i	partman-auto/init_automatically_partition	select	20some_device__________/var/lib/partman/devices/=dev=sda
d-i	partman-auto/method		string  regular
d-i	partman-auto/disk		string	/dev/sda

d-i	partman/choose_partition	select finish
d-i	partman/confirm	boolean	true

d-i	partman-auto/expert_recipe	string	lvs :: 	\
	500 10000 1000000 ext3		\
		$primary{ }		\
		$bootable{ }		\
		method{ format }	\
		format{ }		\
		use_filesystem{ }	\
		filesystem{ ext3 }	\
		mountpoint{ / } .	\
					\
	1024 1024 1024 linux-swap	\
		method{ swap }		\
		format{ } .		\

d-i	partman-auto/choose_recipe	lvs
