# this configuration is used to format the first two SSD drives
# in a Dell C2100 with 2 SSDs and 12 2TB drives using sofware RAID.
# make sure to set the bios to AHCI and sort the SSDs before
# the 2TB drives.

d-i	partman-auto/method	string	raid

# Use the 13h and 14th disks - these are SSDs
d-i	partman-auto/disk	string	/dev/sdm /dev/sdn

d-i	grub-installer/bootdev	string	/dev/sdm /dev/sdn
# this workarounds LP #1012629 / Debian #666974
# it makes grub-installer to jump to step 2, where it does the right thing.
d-i	grub-installer/only_debian	boolean false

# Define physical partitions
# 50G ext3 OS partition (raid1 across sda and sdb)
# 1G swap partition
# the rest to an XFS partition (to use for containers)
# NOTE that the sum of 50 + 80 != 160; the partman rule is that
# the sum of the partitions must be <= the size of the disk,
# and the -1 allows the third partition to grow to use all available space.
d-i	partman-auto/expert_recipe	string	\
		multiraid ::							\
			60000	100	60000	raid				\
				$primary{ }  method{ raid }			\
			.							\
			1000	100	1000	linux-swap		\
			$primary{ } method{ swap } format{ }			\
			.	\
			80000	50	-1	xfs	\
			$primary{ } \
			.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	   <devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
		1	2	0	ext3	/			\
			/dev/sdm1#/dev/sdn1				\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-md/confirm_nooverwrite	boolean	true

d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite	boolean	true

d-i	partman-lvm/device_remove_lvm	boolean	true
