#Mediawiki. Takes the disk and makes a 8gig swap, 50gig /tmp, and the rest in / . Single disk, ext3 only

# Application server specific configuration

# Implementation specific hack:
d-i	partman-auto/init_automatically_partition	select	20some_device__________/var/lib/partman/devices/=dev=sda
d-i     partman-auto/method     string  regular
d-i	partman-auto/disk	string	/dev/sda

d-i	partman/choose_partition	select Finish partitioning and write changes to disk
d-i	partman/confirm	boolean	true

# Note, expert_recipe wants to fill up the entire disk
# See http://d-i.alioth.debian.org/svn/debian-installer/installer/doc/devel/partman-auto-recipe.txt
d-i	partman-auto/expert_recipe	string	apache : 64 1000 10000000 ext3 $primary{ } $bootable{ } method{ format } format{ } use_filesystem{ } filesystem{ ext3 } mountpoint{ / } . 8000 8000 8000 linux-swap $primary{ } method{ swap } format{ } . 50000 50000 50000 ext3 $primary{ } method{ format } format{ } use_filesystem{ } filesystem{ ext3 } mountpoint{ /tmp } . 
d-i	partman-auto/choose_recipe	apache

# Preseeding of other packages
fontconfig	fontconfig/enable_bitmaps	boolean	true
d-i     partman/confirm_write_new_label boolean true
d-i     partman/choose_partition        select  finish
d-i     partman/confirm                 boolean true

d-i     partman-lvm/device_remove_lvm   boolean true
