# Automatic software RAID partitioning
#
# * two disks, sda & sdb
# * primary partitions, no LVM
# * layout:
#   - /	  : ext3, RAID1, 10GB
#   - swap: RAID1, 1GB
#   - 80% of the rest of each respective disk (no RAID) formatted as xfs,
#     to be used by Varnish

d-i	partman-auto/method		string	raid
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-lvm/device_remove_lvm	boolean	true

# Use the first two disks
d-i	partman-auto/disk	string	/dev/sda /dev/sdb

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		multiraid ::	\
			5000	8000	10000	raid		\
				$primary{ } method{ raid }	\
			.					\
			1000	1000	1000	raid		\
				$primary{ } method{ raid }	\
			.					\
			100	500	1000000000	xfs		\
				$primary{ } method{ format }	\
				format{ } use_filesystem{ }	\
				filesystem{ xfs }		\
			100	500	200000000	linux-swap	\
				method{ keep }	\
			.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#	<devices> <sparedevices>
d-i	partman-auto-raid/recipe	string		\
		1	2	0	ext3	/	\
			/dev/sda1#/dev/sdb1		\
		.					\
		1	2	0	swap	-	\
			/dev/sda2#/dev/sdb2		\
		.

d-i	partman-md/confirm		boolean	true
d-i	partman-md/confirm_nooverwrite 	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
d-i	partman/confirm_nooverwrite 	boolean	true

# the first is for lucid, the second for precise (partman-xfs >= 45)
d-i	partman-xfs/no_mount_point		boolean	false
d-i	partman-basicfilesystems/no_mount_point	boolean	false
