# Automatic software RAID partitioning

d-i     partman-auto/method     string  raid

# Use the first two disks
d-i     partman-auto/disk       string  /dev/sda /dev/sdb

# Define physical partitions
d-i     partman-auto/expert_recipe      string  \
                multiraid ::                                            \
                        5000    8000    10000   raid                    \
                                $primary{ } method { raid }             \
                        .

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#          <devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
		1	2	0	ext3	/			\
			/dev/sda1#/dev/sdb1				\
		.

d-i	partman-md/confirm		boolean	true
d-i     partman-md/device_remove_md     boolean true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true
