# search server specific configuration

d-i partman-auto/method     string  raid
d-i	partman-auto/disk	string	/dev/sda /dev/sdb

d-i	partman/choose_partition	select Finish partitioning and write changes to disk
d-i	partman/confirm	boolean	true

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
	search ::						\
		5000 8000 12000 raid						\
		$primary{ }	$lvmignore{ }	method{ raid }	\
		.											\
		64 1000 1000000 raid						\
		$primary{ }	$lvmignore	{ }	method{ raid }	\
		.											\
		1000 1000 1000 linux-swap					\
		$defaultignore{ }	$lvmok{ }				\
		lv_name{ swap }	method{ swap }	format{ }	\
		.											\
		64 1000 10000000 xfs						\
		$defaultignore{ } $lvmok{ }					\
		lv_name{ data } method{ format } format{ }	\
		use_filesystem{ } filesystem{ xfs } 		\
		mountpoint{ /a }							\
		.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#          <devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
		1	2	0	ext3	/	\
		/dev/sda1#/dev/sdb1		\
		.						\
		1	2	0	lvm	-		\
		/dev/sda2#/dev/sdb2		\
		.


d-i	partman-auto/choose_recipe	search

d-i	partman-md/confirm		boolean	true
d-i	partman-md/device_remove_md	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm			boolean	true

d-i	partman-auto-lvm/guided_size	string	90%
d-i	partman-lvm/device_remove_lvm	boolean	true
