# 2 drives with 1 raid1 partition + 2 swap partitions

d-i	partman-auto/method	string	raid

# Thumpers can only boot from sdy and sdac
d-i	partman-auto/disk	string	/dev/sdy /dev/sdac

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
	multiraid ::	\
		995000	4100	9500000	raid	$primary{ }	method{ raid }	\
		.	\
		4000	4000	4100	linux-swap	$primary{ }	method{ swap }	format{ }	\
		.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> <devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
	1	2	0	ext3	/	/dev/sdy1#/dev/sdac1	\
	.

d-i	partman-md/confirm	boolean	true
d-i	partman-md/device_remove_md	boolean	true
d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm	boolean	true

d-i	partman-lvm/device_remove_lvm	boolean	true