# Automatic software RAID partitioning

d-i	partman-auto/method	string	raid

# Use all the disks
d-i	partman-auto/disk	string	/dev/sda /dev/sdb /dev/sdc /dev/sdd /dev/sde /dev/sdf /dev/sdg /dev/sdh

# Define physical partitions
d-i	partman-auto/expert_recipe	string	\
		multiraid ::	\
			5000	8000	10000	raid	\
				$primary{ }	method { raid }	\
			.	\
			1000	1000	1000	raid	\
				method { raid }	\
			.	\
			10000	50000	-1	raid	\
				method { raid }	\
			.

# Parameters are:
# <raidtype> <devcount> <sparecount> <fstype> <mountpoint> \
#          <devices> <sparedevices>
d-i	partman-auto-raid/recipe	string	\
			8	0	ext3	/	\
			/dev/sda1#/dev/sdb1#/dev/sdc1#/dev/sdd1#/dev/sde1#/dev/sdf1#/dev/sdg1#/dev/sdh1	\
		.
			8	0	swap	Swap	\
			/dev/sda2#/dev/sdb2#/dev/sdc2#/dev/sdd2#/dev/sde2#/dev/sdf2#/dev/sdg2#/dev/sdh2	\
		.
			8	0	xfs	/b	\
			/dev/sda3#/dev/sdb3#/dev/sdc3#/dev/sdd3#/dev/sde3#/dev/sdf3#/dev/sdg3#/dev/sdh3	\
		.

d-i	partman-md/confirm	boolean	true
d-i	partman-md/device_remove_md	boolean	true
d-i	partman-md/confirm_nooverwrite	boolean	true

d-i	partman/confirm_write_new_label	boolean	true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm	boolean	true
d-i	partman/confirm_nooverwrite	boolean	true

d-i	partman-xfs/no_mount_point	boolean	false
