sub synth_errorpage {
	set obj.http.Content-Type = "text/html; charset=utf-8";

	synthetic std.fileread("/etc/varnish/errorpage.html") +
		"Request from " + req.http.X-Client-IP +
		" via " + server.hostname + " " + server.identity +
		", Varnish XID " + req.xid + "<br>" +
		regsub(obj.http.X-Cache, ".+", "Upstream caches: \0<br>") +
		"Error: " + obj.status + ", " + obj.response + " at " + now +
		"</code></p></div></html>";
}
