# This file is managed by puppet
#
# Basic checks for all labs hosts

# Check that all mounts have at least 10% free space (for warn), 5% (for crit)
define service {
        check_command                  check_graphite_series_threshold!http://labmon1001.eqiad.wmnet!10!$HOSTNOTES$.$HOSTNAME$.diskspace.*.bytes_percentfree.value!10!5!10min!1!--under
        contact_groups                 deployment-prep
        hostgroup_name                 labshost
        service_description            Low space - all mounts
        use                            generic-service
}
