# This file is managed by puppet
#
# Basic checks for all labs hosts

# Check that all mounts have at least 10% free space (for warn), 5% (for crit)
define service {
        check_command                  check_graphite_series_threshold!http://labmon1001.eqiad.wmnet!10!$HOSTNOTES$.$HOSTNAME$.diskspace.*.bytes_percentfree.value!10!5!10min!1!--under
        contact_groups                 $HOSTNOTES$
        hostgroup_name                 labshost
        service_description            Free space - all mounts
        use                            generic-service
}


# Check for puppet failure events
define service {
        check_command                  check_graphite_series_threshold!http://labmon1001.eqiad.wmnet!10!$HOSTNOTES$.$HOSTNAME$.puppetagent.failed_events.value!1!1!10min!1!--over
        contact_groups                 $HOSTNOTES$
        hostgroup_name                 labshost
        service_description            Puppet failure
        use                            generic-service
}

# Check for puppet staleness
define service {
        check_command                  check_graphite_series_threshold!http://labmon1001.eqiad.wmnet!10!$HOSTNOTES$.$HOSTNAME$.puppetagent.time_since_last_run.value!3600!43200!10min!1!--over
        contact_groups                 deployment-prep
        hostgroup_name                 labshost
        service_description            Puppet staleness
        use                            generic-service
}
