# This file is managed by puppet
# Do not put any private info here (such as phone numbers)
# Labs monitoring will not support phone paging for the foreseeable future

# Guest contact, with no notifications and not much permissions
define contact {
    contact_name                        guest
    alias                               Guest Account
    email                               guest@guest
    host_notifications_enabled          0
    service_notifications_enabled       0
    host_notification_period            none
    service_notification_period         none
    service_notification_commands       notify-by-email
    host_notification_commands          notify-by-email
    host_notification_options           d,u,r
    service_notification_options        w,u,r,c
    password                            guest
}

define contact {
    contact_name                        yuvipanda
    alias                               Yuvi Panda
    email                               yuvipanda@wikimedia.org
    host_notifications_enabled          1
    service_notifications_enabled       1
    host_notification_period            24x7
    service_notification_period         24x7
    service_notification_commands       notify-by-email
    host_notification_commands          notify-by-email
    host_notification_options           d,u,r
    service_notification_options        w,u,r,c
}

define contact {
    contact_name                        greg_g
    alias                               Greg G
    email                               greg@wikimedia.org
    host_notifications_enabled          1
    service_notifications_enabled       1
    host_notification_period            24x7
    service_notification_period         24x7
    service_notification_commands       notify-by-email
    host_notification_commands          notify-by-email
    host_notification_options           d,u,r
    service_notification_options        w,u,r,c
}

define contact {
    contact_name                        cmcmahon
    alias                               Chris McMahon
    email                               cmcmahon@wikimedia.org
    host_notifications_enabled          1
    service_notifications_enabled       1
    host_notification_period            24x7
    service_notification_period         24x7
    service_notification_commands       notify-by-email
    host_notification_commands          notify-by-email
    host_notification_options           d,u,r
    service_notification_options        w,u,r,c
}

define contact {
    contact_name                        amusso
    alias                               Antoine Musso
    email                               hashar@free.fr
    host_notifications_enabled          1
    service_notifications_enabled       1
    host_notification_period            24x7
    service_notification_period         24x7
    service_notification_commands       notify-by-email
    host_notification_commands          notify-by-email
    host_notification_options           d,u,r
    service_notification_options        w,u,r,c
}
