# This file is managed by puppet
# Do not put any private info here (such as phone numbers)
# Labs monitoring will not support phone paging for the foreseeable future

# Guest contact, with no notifications and not much permissions
define contact {
    contact_name                        guest
    alias                               Guest Account
    email                               guest@guest
    use                                 generic-contact
    password                            guest
}

define contact {
    contact_name                        yuvipanda
    alias                               Yuvi Panda
    email                               yuvipanda@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        legoktm
    alias                               Lego KTM
    email                               legoktm@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        milimetric
    alias                               Dan Andreescu
    email                               dandreescu@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        greg_g
    alias                               Greg G
    email                               greg@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        cmcmahon
    alias                               Chris McMahon
    email                               cmcmahon@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        amusso
    alias                               Antoine Musso
    email                               hashar@free.fr
    use                                 generic-contact
}
