# This file is managed by puppet
# Add contact 'guest' to all groups so webUI will show the guest accout
# status for services
define contactgroup {
    contactgroup_name       tools
    alias                   ToolLabs Administrators
    members                 guest,yuvipanda,irc-labs
}

define contactgroup {
    contactgroup_name       deployment-prep
    alias                   Beta Cluster Administrators
    members                 guest,yuvipanda,greg_g,cmcmahon,amusso,twentyafterfour,irc-qa
}

define contactgroup {
    contactgroup_name       extdist
    alias                   ExtDist Administrators
    members                 guest,yuvipanda,legoktm
}

define contactgroup {
    contactgroup_name       analytics
    alias                   Analytics Administrators
    members                 guest,yuvipanda,milimetric,nuria
}
