# This file is managed by puppet
define contactgroup {
    contactgroup_name       toollabs
    alias                   ToolLabs Administrators
    members                 yuvipanda
}

define contactgroup {
    contactgroup_name       betacluster
    alias                   Beta Cluster Administrators
    members                 yuvipanda,greg_g
}
