define host {
    host_name               labs-puppetmaster
    address                 labs-puppetmaster.wikimedia.org
    alias                   Wikimedia Labs puppetmaster
    contact_groups          labs-infra
    use                     generic-host
}

define service {
    check_command           check_https_port_status!8140!400!/puppet/v3
    host_name               labs-puppetmaster
    service_description     Labs Puppetmaster HTTPS
    use                     generic-service
}

define host {
    host_name               wikitech
    address                 wikitech.wikimedia.org
    alias                   Wikitech web interface
    contact_groups          labs-infra
    use                     generic-host
}

define service {
    service_description     Wikitech main page
    check_command           check_https_url_for_string!wikitech.wikimedia.org!/wiki/Main_Page?debug=true!Wikitech
    use                     generic-service
    host_name               wikitech
}

# We can't use the standard check_dhcp check here because
#  we need to sudo.
define command {
    command_name    check_dhcp_simple
    command_line    sudo /usr/lib/nagios/plugins/check_dhcp
}
