[Unit]
Description=Ganglia monitor aggregator (cluster %I)
Documentation=https://wikitech.wikimedia.org/wiki/Ganglia
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/gmond -c /etc/ganglia/aggregators/%i.conf -p /var/run/gmond-%i.pid
SyslogIdentifier=ganglia-monitor-aggregator-%i

[Install]
WantedBy=multi-user.target

