[Unit]
Description=Ganglia monitor
Documentation=https://wikitech.wikimedia.org/wiki/Ganglia
After=network.target

[Service]
ExecStart=/usr/sbin/gmond --foreground --pid-file /var/run/gmond.pid

[Install]
WantedBy=multi-user.target
