# 'check_apt' command definition
define command{
	command_name	check_apt
	command_line	/usr/lib/nagios/plugins/check_apt
	}

# 'check_apt_distupgrade' command definition
define command{
	command_name	check_apt_distupgrade
	command_line	/usr/lib/nagios/plugins/check_apt -d
	}

