# 'check_dns' command definition
define command{
	command_name	check_dns
	command_line	/usr/lib/nagios/plugins/check_dns -H www.google.com -s '$HOSTADDRESS$'
}

# 'check_dig' command definition
define command{
	command_name    check_dig
	command_line    /usr/lib/nagios/plugins/check_dig -H '$HOSTADDRESS$' -l '$ARG1$'
}
