# 'check_http' command definition
define command{
	command_name	check_http
	command_line	/usr/lib/nagios/plugins/check_http -H '$HOSTADDRESS$' -I '$HOSTADDRESS$'
	}

# 'check_http_hostname' command definition
define command{
	command_name	check_httpname
	command_line	/usr/lib/nagios/plugins/check_http -H '$HOSTNAME$' -I '$HOSTADDRESS$'
	}

# 'check_http2' command definition
define command{
	command_name	check_http2
	command_line	/usr/lib/nagios/plugins/check_http -H '$ARG1$' -I '$HOSTADDRESS$' -w '$ARG2$' -c '$ARG3$'
	}

# 'check_squid' command definition
define command{
	command_name	check_squid
	command_line	/usr/lib/nagios/plugins/check_http -H '$HOSTADDRESS$' -p '$ARG1$'  -u '$ARG2$'  -e 'HTTP/1.0 200 OK'
	}

# 'check_https' command definition
define command{
	command_name    check_https
	command_line	/usr/lib/nagios/plugins/check_http --ssl -H '$HOSTADDRESS$' -I '$HOSTADDRESS$'
	}

# 'check_https_hostname' command definition
define command{
	command_name	check_https_hostname
	command_line	/usr/lib/nagios/plugins/check_http --ssl -H '$HOSTNAME$' -I '$HOSTADDRESS$'
	}

# 'check_https_auth' command definition
define command{
	command_name	check_https_auth
	command_line	/usr/lib/nagios/plugins/check_http --ssl -H '$HOSTADDRESS$' -I '$HOSTADDRESS$' -a '$ARG1$'
	}

# 'check_https_auth_hostname' command definition
define command{
	command_name	check_https_auth_hostname
	command_line	/usr/lib/nagios/plugins/check_http --ssl -H '$HOSTNAME$' -I '$HOSTADDRESS$' -a '$ARG1$'
	}

# 'check_cups' command definition
define command{
	command_name	check_cups
	command_line	/usr/lib/nagios/plugins/check_http -I '$HOSTADDRESS$' -p 631
	}

####
# use these checks, if you want to test IPv4 connectivity on IPv6 enabled systems
####

# 'check_http_4' command definition
define command{
        command_name    check_http_4
        command_line    /usr/lib/nagios/plugins/check_http -H '$HOSTADDRESS$' -I '$HOSTADDRESS$' -4
        }

# 'check_http_hostname_4' command definition
define command{
	command_name	check_httpname_4
	command_line	/usr/lib/nagios/plugins/check_http -H '$HOSTNAME$' -I '$HOSTADDRESS$' -4
	}

# 'check_http2_4' command definition
define command{
        command_name    check_http2_4
        command_line    /usr/lib/nagios/plugins/check_http -H '$ARG1$' -I '$HOSTADDRESS$' -w '$ARG2$' -c '$ARG3$' -4
        }

# 'check_squid_4' command definition
define command{
        command_name    check_squid_4
        command_line    /usr/lib/nagios/plugins/check_http -H '$HOSTADDRESS$' -p '$ARG1$'  -u '$ARG2$'  -e 'HTTP/1.0 200 OK' -4
        }

# 'check_https_4' command definition
define command{
        command_name    check_https_4
        command_line    /usr/lib/nagios/plugins/check_http --ssl -H '$HOSTADDRESS$' -I '$HOSTADDRESS$' -4
	}

# 'check_https_hostname_4' command definition
define command{
	command_name	check_https_hostname_4
	command_line	/usr/lib/nagios/plugins/check_http --ssl -H '$HOSTNAME$' -I '$HOSTADDRESS$' -4
	}

# 'check_https_auth_4' command definition
define command{
        command_name    check_https_auth_4
        command_line    /usr/lib/nagios/plugins/check_http --ssl -H '$HOSTADDRESS$' -I '$HOSTADDRESS$' -a '$ARG1$' -4
        }

# 'check_https_auth_hostname_4' command definition
define command{
	command_name	check_https_auth_hostname_4
	command_line	/usr/lib/nagios/plugins/check_http --ssl -H '$HOSTNAME' -I '$HOSTADDRESS$' -a '$ARG1$' -4
	}

# 'check_cups_4' command definition
define command{
	command_name	check_cups_4
	command_line	/usr/lib/nagios/plugins/check_http -I '$HOSTADDRESS$' -p 631 -4
	}
