# 'check_netware_logins' command definition
define command{
	command_name	check_netware_logins
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v "LOGINS" -w '$ARG1$' -c '$ARG2$'
	}


# 'check_nwstat_conns' command definition
define command{
	command_name	check_nwstat_conns
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v CONNS -w '$ARG1$' -c '$ARG2$'
	}


# 'check_netware_1load' command definition
define command{
	command_name	check_netware_1load
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v "LOAD1" -w 70 -c 90
	}


# 'check_netware_5load' command definition
define command{
	command_name	check_netware_5load
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v "LOAD5" -w 70 -c 90
	}


# 'check_netware_15load' command definition
define command{
	command_name	check_netware_15load
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v "LOAD15" -w 70 -c 90
	}


# 'check_nwstat_vol_p' command definition
define command{
	command_name	check_nwstat_vol_p
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v VPF'$ARG1$' -w '$ARG2$' -c '$ARG3$'
	}


# 'check_nwstat_vol_k' command definition
define command{
	command_name	check_nwstat_vol_k
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v VKF'$ARG1$' -w '$ARG2$' -c '$ARG3$'
	}


# 'check_nwstat_ltch' command definition
define command{
	command_name	check_nwstat_ltch
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v LTCH -w '$ARG1$' -c '$ARG2$'
	}


# 'check_nwstat_puprb' command definition
define command{
	command_name	check_nwstat_puprb
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v PUPRB -w '$ARG1$' -c '$ARG2$'
	}


# 'check_nwstat_dsdb' command definition
define command{
	command_name	check_nwstat_dsdb
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v DSDB
	}


# 'check_netware_abend' command definition
define command{
	command_name	check_netware_abend
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v "ABENDS" -w 10 -c 30
	}


# 'check_nwstat_csprocs' command definition
define command{
	command_name	check_nwstat_csprocs
	command_line	/usr/lib/nagios/plugins/check_nwstat -H '$HOSTADDRESS$' -v CSPROCS -w '$ARG1$' -c '$ARG2$'
	}


