# 'check_nntp' command definition
#define command{
#	command_name	check_nntp
#	command_line	/usr/lib/nagios/plugins/check_nntp -H '$HOSTADDRESS$'
#	}

####
# use these checks, if you want to test IPv4 connectivity on IPv6 enabled systems
####

# 'check_nntp_4' command definition
define command{
        command_name    check_nntp_4
        command_line    /usr/lib/nagios/plugins/check_nntp -H '$HOSTADDRESS$' -4
        }
