# 'check_ping' command definition
#define command{
#	command_name	check_ping
#	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w '$ARG1$' -c '$ARG2$'
#	}


# 'check-host-alive' command definition
define command{
	command_name	check-host-alive
	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w 5000,100% -c 5000,100% -p 1
	}


# 'check-printer-alive' command definition
define command{
	command_name	check-printer-alive
	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w 5000,100% -c 5000,100% -p 1
	}


# 'check-switch-alive' command definition
define command{
	command_name	check-switch-alive
	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w 5000,100% -c 5000,100% -p 1
	}


# 'check-router-alive' command definition
define command{
	command_name	check-router-alive
	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w 5000,100% -c 5000,100% -p 1
	}

####
# use these checks, if you want to test IPv4 connectivity on IPv6 enabled systems
####

# 'check_ping_4' command definition
define command{
	command_name	check_ping_4
	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w '$ARG1$' -c '$ARG2$' -4
	}


# 'check-host-alive_4' command definition
define command{
	command_name	check-host-alive_4
	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w 5000,100% -c 5000,100% -p 1 -4
	}


# 'check-printer-alive_4' command definition
define command{
	command_name	check-printer-alive_4
	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w 5000,100% -c 5000,100% -p 1 -4
	}


# 'check-switch-alive_4' command definition
define command{
	command_name	check-switch-alive_4
	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w 5000,100% -c 5000,100% -p 1 -4
	}


# 'check-router-alive_4' command definition
define command{
	command_name	check-router-alive_4
	command_line	/usr/lib/nagios/plugins/check_ping -H '$HOSTADDRESS$' -w 5000,100% -c 5000,100% -p 1 -4
	}

