# 'check_procs' command definition
define command{
	command_name	check_procs
	command_line	/usr/lib/nagios/plugins/check_procs -w '$ARG1$' -c '$ARG2$'
	}


# 'check_procs_zombie' command definition
define command{
	command_name	check_procs_zombie
	command_line	/usr/lib/nagios/plugins/check_procs -w '$ARG1$' -c '$ARG2$' -s Z
	}


# 'check_procs_httpd' command definition
define command{
	command_name	check_procs_httpd
	command_line	/usr/lib/nagios/plugins/check_procs -w 5:'$ARG1$' -c 1:'$ARG2$' -C httpd
	}

