# 'check_tcp' command definition
define command{
	command_name	check_tcp
	command_line	/usr/lib/nagios/plugins/check_tcp -H '$HOSTADDRESS$' -p '$ARG1$'
	}

# 'check_udp' command definition
define command{
	command_name	check_udp
	command_line	/usr/lib/nagios/plugins/check_udp -H '$HOSTADDRESS$' -p '$ARG1$'
	}

####
# use these checks, if you want to test IPv4 connectivity on IPv6 enabled systems
####

# 'check_tcp_4' command definition
define command{
        command_name    check_tcp_4
        command_line    /usr/lib/nagios/plugins/check_tcp -H '$HOSTADDRESS$' -p '$ARG1$' -4
        }

# 'check_udp_4' command definition
define command{
        command_name    check_udp_4
        command_line    /usr/lib/nagios/plugins/check_udp -H '$HOSTADDRESS$' -p '$ARG1$' -4
        }
