---
lowercaseOutputLabelNames: true
lowercaseOutputName: false
blacklistObjectNames:
  # mbeans with hostnames in them, blacklist to avoid metric cardinality explosion
  - 'puppetlabs.puppetdb.http:name=/pdb/query/v?/facts/*'
  - 'puppetlabs.puppetdb.http:name=/pdb/query/v?/nodes/*'
  - 'puppetlabs.puppetdb.http:name=/pdb/query/v?/catalogs/*'
  - 'puppetlabs.puppetdb.http:name=/pdb/query/v?/hosts/*'
  - 'com.puppetlabs.puppetdb.http.server:type=/v?/nodes/*,name=*'
