define contactgroup{
    contactgroup_name   admins
    alias               admins
    members             irc
}

define contactgroup {
    contactgroup_name   analytics
    members             irc-analytics,analytics-alerts
}

define contactgroup {
    contactgroup_name   dba
    members             hoo,jcrespo,volans,marostegui
}

define contactgroup {
    contactgroup_name   contint
    members             hashar,irc-releng,irc
}

define contactgroup {
    contactgroup_name   fr-tech
    members             team-fr-tech,andyrussg,xenoryet,eileen,ejegg,irc-fundraising
}

define contactgroup {
    contactgroup_name   fr-tech-ops
    members             team-fr-tech-ops,jgreen,cdentinger,irc-fundraising
}

define contactgroup {
    contactgroup_name   parsoid
    members             rkattouw,jamesf,mobrovac,team-services
}

define contactgroup {
    contactgroup_name   phabricator
    members             chad, twentyafterfour
}

define contactgroup {
    contactgroup_name   gerrit
    members             chad
}

define contactgroup {
    contactgroup_name   sms
    members             akosiaris,andrew,ariel,bblack,cmjohnson,dzahn,ema,faidon,fgiunchedi,mark,otto,robh,volans,tstarling,rush,glavagetto,jmm,jcrespo,team-operations,gehel,marostegui,elukey,herron,aborrero,bstorm,vgutierrez,jijiki,cwhite,gtirloni,crusnov,cdanis,fsero
}

define contactgroup {
    contactgroup_name   wikidata
    members             wikidata-monitoring,irc-wikidata,hoo,addshore,Ladsgroup
}

define contactgroup {
    contactgroup_name   team-services
    members             team-services
}

define contactgroup {
    contactgroup_name   team-scoring
    members             team-scoring,irc-ores,halfak
}

define contactgroup {
    contactgroup_name   team-paws
    members             aborrero,andrew,bd808,bstorm,gtirloni,rush,yuvipanda
}

define contactgroup {
    contactgroup_name   wmcs-team
    members             irc-cloud-feed,rush,aborrero-wmcs,andrew-wmcs,bd808,bstorm-wmcs,gtirloni-wmcs
}

define contactgroup {
    contactgroup_name   wmcs-bots
    members             irc-cloud-feed
}

# T111243
define contactgroup {
    contactgroup_name   wdqs-admins
    members             smalyshev,irc-wikidata,hoo,gehel
}

define contactgroup {
    contactgroup_name   team-discovery
    members             discovery-alerts,irc
}

define contactgroup {
    contactgroup_name   team-interactive
    members             irc-interactive,MaxSem,gehel
}

# T146227
define contactgroup {
    contactgroup_name   legal
    members             slaporte,zhousquared
}

define contactgroup {
    contactgroup_name       wikitech-static
    members                 irc
}

define contactgroup {
    contactgroup_name       team-performance
    members                 irc-performance,team-performance,gilles,aaron,krinkle,phedenskog
}

define contactgroup {
    contactgroup_name       team-reading-web
    members                 irc-reading-web,team-reading-web
}

define contactgroup {
    contactgroup_name       mobileapps
    members                 mholloway, bearnd
}

define contactgroup {
    contactgroup_name       readinglists
    members                 mholloway, bearnd, tgr
}
