define contactgroup{
    contactgroup_name   admins
    alias               admins
    members             irc
}

define contactgroup {
    contactgroup_name   analytics
    members             ezachte,dtaraborelli,otto,milimetric,dandreescu,nuria,lzia,ironholds,halfak,tnegrin,mforns,joal,irc-analytics
}

define contactgroup {
    contactgroup_name   dba
    members             springle,hoo,jcrespo
}

define contactgroup {
    contactgroup_name   contint
    members             amusso,irc-releng,irc
}

define contactgroup {
    contactgroup_name   fundraising
    members             fr-tech
}

define contactgroup {
    contactgroup_name   fr-tech-ops
    members             cmjohnson,jgreen
}

define contactgroup {
    contactgroup_name   parsoid
    members             rkattouw,jamesf,mobrovac,team-services
}

define contactgroup {
    contactgroup_name   phabricator
    members             chad, twentyafterfour
}

define contactgroup {
    contactgroup_name   sms
    members             akosiaris,andrew,ariel,bblack,cmjohnson,dzahn,ema,faidon,fgiunchedi,jgreen,mark,otto,robh,springle,tstarling,rush,glavagetto,yuvipanda,jmm,jcrespo,team-operations
}

define contactgroup {
    contactgroup_name   wikidata
    members             wikidata-monitoring,jzerebecki,irc-wikidata,hoo
}

define contactgroup {
    contactgroup_name   team-services
    members             team-services
}

define contactgroup {
    contactgroup_name   team-ores
    members             halfak,yuvipanda
}

# T111243
define contactgroup {
    contactgroup_name   wdqs-admins
    members             smalyshev
}
