# This file is managed by puppet
# Do not put any private info here (such as phone numbers)
# Labs monitoring will not support phone paging for the foreseeable future

# Guest contact, with no notifications and not much permissions
define contact {
    contact_name                        guest
    alias                               Guest Account
    email                               guest@guest
    host_notifications_enabled          0
    service_notifications_enabled       0
    host_notification_period            none
    service_notification_period         none
    service_notification_commands       notify-by-email
    host_notification_commands          host-notify-by-email
    host_notification_options           d,u,r
    service_notification_options        w,u,r,c
    password                            guest
}

define contact{
    contact_name                    irc
    alias                           wikimedia-tech
    host_notification_period        24x7
    service_notification_period     24x7
    host_notification_options       d,r,f
    service_notification_options    c,r,f
    email                           irc@irc
    host_notification_commands      notify-host-by-irc
    service_notification_commands   notify-service-by-irc
}

define contact{
    contact_name                    irc-releng
    alias                           releng-irc-bot
    host_notification_period        24x7
    service_notification_period     24x7
    host_notification_options       d,r,f
    service_notification_options    c,r,f
    email                           irc@irc
    host_notification_commands      notify-host-by-irc-releng
    service_notification_commands   notify-service-by-irc-releng

}

define contact{
    contact_name                    irc-labs
    alias                           labs-irc-bot
    host_notification_period        24x7
    service_notification_period     24x7
    host_notification_options       d,r,f
    service_notification_options    c,r,f
    email                           irc@irc
    host_notification_commands      notify-host-by-irc-labs
    service_notification_commands   notify-service-by-irc-labs
}

define contact{
    contact_name                    irc-cvn
    host_notification_period        24x7
    service_notification_period     24x7
    host_notification_options       d,r,f
    service_notification_options    c,r,f
    email                           irc@irc
    host_notification_commands      notify-host-by-irc-cvn
    service_notification_commands   notify-service-by-irc-cvn
}

define contact {
    contact_name                    irc-ores
    host_notification_period        24x7
    service_notification_period     24x7
    host_notification_options       d,r,f
    service_notification_options    c,r,f
    email                           irc@irc
    host_notification_commands      notify-host-by-irc-ores
    service_notification_commands   notify-service-by-irc-ores
}

define contact {
    contact_name                        bstorm
    alias                               bstorm
    email                               bstorm@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        aborrero
    alias                               Arturo Borrero
    email                               aborrero@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        chasemp
    alias                               Chase Pettet
    email                               cpettet@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        bd808
    alias                               Bryan Davis
    email                               bdavis@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        gehel
    alias                               Guillaume Lederrey
    email                               glederrey@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        scfc_de
    alias                               Tim Landscheidt
    email                               tim@tim-landscheidt.de
    use                                 generic-contact
}

define contact {
    contact_name                        andrewbogott
    alias                               Andrew Bogott
    email                               abogott@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        legoktm
    alias                               Lego KTM
    email                               legoktm@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        twentyafterfour
    alias                               Mukunda Modell
    email                               mmodell@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        nuria
    alias                               Nuria Ruiz
    email                               nuria@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        milimetric
    alias                               Dan Andreescu
    email                               dandreescu@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        greg_g
    alias                               Greg G
    email                               greg@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        amusso
    alias                               Antoine Musso
    email                               hashar@free.fr
    use                                 generic-contact
}

define contact {
    contact_name                        krinkle
    alias                               Timo Tijhof
    email                               ttijhof@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        kart_
    alias                               Kartik Mistry
    email                               kmistry@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        mforns
    alias                               Marcel Ruiz Forns
    email                               mforns@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        jhedden
    alias                               Jason Hedden
    email                               jhedden@wikimedia.org
    use                                 generic-contact
}

define contact {
    contact_name                        betacluster-alerts-list
    alias                               BetaCluster Alerts List
    email                               betacluster-alerts@lists.wikimedia.org
    use                                 generic-contact
}
