# This file is managed by puppet
# Add contact 'guest' to all groups so webUI will show the guest account
# status for services
define contactgroup {
    contactgroup_name       tools
    alias                   ToolLabs Administrators
    members                 guest,chasemp,madhuvishy,andrewbogott,bd808,scfc_de,valhallasw,irc-labs
}

define contactgroup {
    contactgroup_name       labs-infra
    alias                   Wikimedia Labs Infrastructure Administrators
    members                 guest,chasemp,madhuvishy,andrewbogott,bd808,gehel
}

define contactgroup {
    contactgroup_name       deployment-prep
    alias                   Beta Cluster Administrators
    members                 guest,greg_g,twentyafterfour,betacluster-alerts-list,irc-releng,kart_,gehel,krenair
}

define contactgroup {
    contactgroup_name       wdq-mm
    alias                   WDQ-mm Administrators
    members                 guest,gehel
}

define contactgroup {
    contactgroup_name       integration
    alias                   Continuous Integration Administrators
    members                 guest,amusso,irc-releng
}

define contactgroup {
    contactgroup_name       cvn
    alias                   Countervandalism Network Administrators
    members                 guest,krinkle,irc-cvn
}

define contactgroup {
    contactgroup_name       extdist
    alias                   ExtDist Administrators
    members                 guest,legoktm
}

define contactgroup {
    contactgroup_name       analytics
    alias                   Analytics Administrators
    members                 guest,milimetric,nuria,mforns
}

define contactgroup {
    contactgroup_name       shinken
    alias                   Shinken Administrators
    members                 guest,chasemp,madhuvishy,bd808,andrewbogott
}
