# IF MODIFIED UPDATE ALSO 'CHECK_ICINGA_START_END' IN:
# modules/icinga/files/generate_check_icinga_contacts.py

define timeperiod{
    timeperiod_name 24x7
    alias           24 Hours A Day, 7 Days A Week
    sunday          00:00-24:00
    monday          00:00-24:00
    tuesday         00:00-24:00
    wednesday       00:00-24:00
    thursday        00:00-24:00
    friday          00:00-24:00
    saturday        00:00-24:00
}

define timeperiod {
    timeperiod_name    CET_awake_hours
    alias           CET 8 am till midnight, 7 days a week
    sunday          07:00-23:00
    monday          07:00-23:00
    tuesday         07:00-23:00
    wednesday       07:00-23:00
    thursday        07:00-23:00
    friday          07:00-23:00
    saturday        07:00-23:00
}

define timeperiod {
    timeperiod_name    CEST_awake_hours
    alias           CET 8 am till midnight, 7 days a week
    sunday          06:00-22:00
    monday          06:00-22:00
    tuesday         06:00-22:00
    wednesday       06:00-22:00
    thursday        06:00-22:00
    friday          06:00-22:00
    saturday        06:00-22:00
}

define timeperiod {
    timeperiod_name    EST_awake_hours
    alias           EST 0800 till midnight, 7 days a week
    sunday          00:00-05:00,13:00-24:00
    monday          00:00-05:00,13:00-24:00
    tuesday         00:00-05:00,13:00-24:00
    wednesday       00:00-05:00,13:00-24:00
    thursday        00:00-05:00,13:00-24:00
    friday          00:00-05:00,13:00-24:00
    saturday        00:00-05:00,13:00-24:00
}

define timeperiod {
    timeperiod_name    EST_awake_early_hours
    alias           EST 0700 till 2300, 7 days a week
    sunday          00:00-04:00,12:00-24:00
    monday          00:00-04:00,12:00-24:00
    tuesday         00:00-04:00,12:00-24:00
    wednesday       00:00-04:00,12:00-24:00
    thursday        00:00-04:00,12:00-24:00
    friday          00:00-04:00,12:00-24:00
    saturday        00:00-04:00,12:00-24:00
}

define timeperiod {
    timeperiod_name    EDT_awake_hours
    alias           EDT 0800 till midnight, 7 days a week
    sunday          00:00-04:00,12:00-24:00
    monday          00:00-04:00,12:00-24:00
    tuesday         00:00-04:00,12:00-24:00
    wednesday       00:00-04:00,12:00-24:00
    thursday        00:00-04:00,12:00-24:00
    friday          00:00-04:00,12:00-24:00
    saturday        00:00-04:00,12:00-24:00
}

define timeperiod {
    timeperiod_name    EDT_awake_early_hours
    alias           EDT 0700 till 2300, 7 days a week
    sunday          00:00-03:00,11:00-24:00
    monday          00:00-03:00,11:00-24:00
    tuesday         00:00-03:00,11:00-24:00
    wednesday       00:00-03:00,11:00-24:00
    thursday        00:00-03:00,11:00-24:00
    friday          00:00-03:00,11:00-24:00
    saturday        00:00-03:00,11:00-24:00
}

define timeperiod {
    timeperiod_name    PST_awake_hours
    alias           PST 8 am till midnight, 7 days a week
    sunday          00:00-08:00,16:00-24:00
    monday          00:00-08:00,16:00-24:00
    tuesday         00:00-08:00,16:00-24:00
    wednesday       00:00-08:00,16:00-24:00
    thursday        00:00-08:00,16:00-24:00
    friday          00:00-08:00,16:00-24:00
    saturday        00:00-08:00,16:00-24:00
}

define timeperiod {
    timeperiod_name    PDT_awake_hours
    alias           PDT 8 am till midnight, 7 days a week
    sunday          00:00-07:00,15:00-24:00
    monday          00:00-07:00,15:00-24:00
    tuesday         00:00-07:00,15:00-24:00
    wednesday       00:00-07:00,15:00-24:00
    thursday        00:00-07:00,15:00-24:00
    friday          00:00-07:00,15:00-24:00
    saturday        00:00-07:00,15:00-24:00
}

define timeperiod {
    timeperiod_name    MST_awake_hours
    alias           MST 0800 till midnight, 7 days a week
    sunday          00:00-07:00,15:00-24:00
    monday          00:00-07:00,15:00-24:00
    tuesday         00:00-07:00,15:00-24:00
    wednesday       00:00-07:00,15:00-24:00
    thursday        00:00-07:00,15:00-24:00
    friday          00:00-07:00,15:00-24:00
    saturday        00:00-07:00,15:00-24:00
}

define timeperiod {
    timeperiod_name    MDT_awake_hours
    alias           MDT 0800 till midnight, 7 days a week
    sunday          00:00-06:00,14:00-24:00
    monday          00:00-06:00,14:00-24:00
    tuesday         00:00-06:00,14:00-24:00
    wednesday       00:00-06:00,14:00-24:00
    thursday        00:00-06:00,14:00-24:00
    friday          00:00-06:00,14:00-24:00
    saturday        00:00-06:00,14:00-24:00
}

define timeperiod {
    timeperiod_name    CST_awake_hours
    alias           CST 8 a.m. - 10 p.m, 9-11 during daylight savings
    sunday          00:00-04:00,14:00-24:00
    monday          00:00-04:00,14:00-24:00
    tuesday         00:00-04:00,14:00-24:00
    wednesday       00:00-04:00,14:00-24:00
    thursday        00:00-04:00,14:00-24:00
    friday          00:00-04:00,14:00-24:00
    saturday        00:00-04:00,14:00-24:00
}

define timeperiod {
    timeperiod_name   none
    alias             No Time Is A Good Time
}
