/* Local overrides for Wikimedia. Tested on Gerrit 2.4.2 */

/**
 * Add word wrapping for commit messages, so horizontal scrolling isn't needed,
 *               and for inline review messages, so we can write code there.
 */
.commentPanelMessage {
	white-space: pre-wrap !important;
}

/**
 * General
 */
body, .gwt-DialogBox .dialogMiddleCenter {
	color: #353535 !important;
	background: #fff url(/r/static/page-bkg.cache.jpg) no-repeat 0 0 !important;
	position: static;
}

a,
a:visited {
	color: #0654ac !important;
	text-decoration: none;
}

a:hover {
	color: #0654ac !important;
	text-decoration: underline;
}

/* Search queries / Dashboards
 * have links in every cell, make those easier on the eyes
 */
.GJEA35ODNB a.gwt-InlineHyperlink {
	color: #222 !important;
}

/**
 * Header
 */
#gerrit_header {
	display: block !important;
	width: 300px;
	position: relative;
	/* 54px puts it exactly against the top of the page */
	top: -54px;
	margin-bottom: -54px;
	height: 68px;
}

.wm-gerrit-heading {
	margin: 0;
	padding: 14px 0 0 17px;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	letter-spacing: -1px;
	/* This color isn't used since there is an image there,
	 * but it kept for consistency when used for display of alt-text
	 */
	color: #990000;

	min-height: 59px;
	background: transparent url(/r/static/wikimedia-codereview-logo.cache.png) no-repeat 0 0;
	text-indent: -9999px;
	overflow: hidden;
}

/**
 * Top menu (navigation)
 */
#gerrit_topmenu {
	position: relative;
	top: 0;
	left: 200px;
	margin-right: 200px;
	background: none;
	/* Make sure it is above the logo or we can not clck the sub menu items */
	z-index: 1;
}

#gerrit_topmenu tbody tr td table {
	border: 0;
}

/* Line between tabs and the corresponding sub menu */
#gerrit_topmenu tbody tr td table.gwt-TabBar {
	border-bottom: 1px solid #DDD;
}

.gwt-TabBarItem {
	color: #353535;
	border-bottom: 3px solid transparent;
	border-right: 0 !important;
}

.gwt-TabBarItem-selected {
	color: #990000 !important;
	border-bottom-color: #990000;
}

.gwt-TabBar .gwt-TabBarItem,
.gwt-TabBar .gwt-TabBarRest,
.gwt-TabPanelBottom {
	background: 0 !important;
}

/**
 * Top menu (user + search)
 */

/* Give the search button more breathing room
 * around the label so that it is more readable
 * and also matches the height if the input field
 */
#gerrit_topmenu .gwt-Button {
	padding: 3px 6px;
}

/**
 * https://bugzilla.wikimedia.org/show_bug.cgi?id=44895
 * Gerrit commit message font is too small
 */
.changeScreenDescription,
.changeScreenDescription textarea {
	font-size: 9pt !important;
}

/**
 * https://bugzilla.wikimedia.org/show_bug.cgi?id=40941
 * Gerrit diff font isn't big enough, either
 */
.patchContentTable td {
	font-size: 9pt !important;
}

/**
 * LDAP login
 */
#gerrit_body h1 {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
}

#login_form {
	font-size: 13px;
}

#login_form th {
	font-weight: normal;
}

#login_form input[type="submit"] {
	font-size: 12px;
}

/** Zuul test result. From OpenStack Foundation */
.ci_comment_test_name {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: auto !important;
	width: 25em;
	min-width: 20em;
	padding-bottom: 2pt;
}

.ci_comment_test_result {
}

.ci_result_SUCCESS {
	color: #007f00;
}
.ci_result_FAILURE {
	color: #cf2f19;
}
.ci_result_UNSTABLE {
	color: #e39f00;
}
.ci_result_LOST {
	color: #e39f00;
}
li.ci_comment_test {list-style-type: none; }
