.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
html,body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #F0F2F4;
}
.navbar.is-white {
  background: #F0F2F4;
}
.navbar-brand .brand-text {
  font-size: 1.11rem;
  font-weight: bold;
}
.hero-body
{background-image: linear-gradient(141deg, #54b2de 0%, #1fc7c4 100%);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}
.articles {
  margin: 5rem 0;
  margin-top: -400px;
}
.articles .content p {
    line-height: 1.9;
    margin: 15px 0;
}
.author-image {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    border: 3px solid #ccc;
    border-radius: 50%;
}
.media-center {
  display: block;
  margin-bottom: 1rem;
}
.media-content {
  margin-top: 3rem;
}
.article, .promo-block {
  margin-top: 6rem;
}
div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}
.article-subtitle {
  color: #909AA0;
  margin-bottom: 3rem;
}
.article-body {
  line-height: 1.4;
  margin: 0 6rem;
}
.article-body {
  margin: 0;
}
.tags:last-child {
  margin-bottom: 0;
}
.promo-block .container {
  margin: 1rem 5rem;
}

.logo {
  margin-right: 0.5em;
  max-height: 100% !important;
}

