[rule "standardItsComments"]
	event-type = change-merged,change-abandoned,change-restored
	status = !,DRAFT
	is-draft = !,true
	association = subject,footer-Task,footer-task,footer-Bug,footer-bug
	action = add-standard-comment

[rule "patchSetCreated"]
	event-type = patchset-created
	status = !,DRAFT
	is-draft = !,true
	association = added@subject,added@footer-Task,added@footer-task,added@footer-Bug,added@footer-bug
	action = add-velocity-comment PatchSetCreated
	action = add-project Patch-For-Review

[rule "changeDraftPublished"]
	event-type = draft-published
	association = added@subject,added@footer-Task,added@footer-task,added@footer-Bug,added@footer-bug
	action = add-velocity-comment DraftPublished
	action = add-project Patch-For-Review
